<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.common.persistence.dao.CallLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.CallLog">
        <id column="id" property="id" />
        <result column="session_id" property="sessionId" />
        <result column="cust_no" property="custNo" />
        <result column="ip" property="ip" />
        <result column="create_time" property="createTime" />
        <result column="params" property="params" />
        <result column="url" property="url" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        session_id, cust_no, ip, create_time, params, url, id
    </sql>

</mapper>
