<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.common.persistence.dao.CustInfoBySelfMapper">
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		<id column="cust_no" property="custNo" jdbcType="BIGINT" />
		<result column="cust_name" property="custName" jdbcType="VARCHAR" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="cust_type" property="custType" jdbcType="VARCHAR" />
		<result column="tel_no" property="telNo" jdbcType="VARCHAR" />
		<result column="tel_valid" property="telValid" jdbcType="TINYINT" />			  
		<result column="map_precision" property="mapPrecision" jdbcType="DECIMAL" />			 
		<result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />	 			
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="unionId" property="unionId" jdbcType="VARCHAR" />
		<result column="headImgUrl" property="headImgUrl" jdbcType="VARCHAR" />
		<result column="star_level" property="starLevel" jdbcType="INTEGER" />		
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />		 	 
		<result column="sweet_heart_sum" property="sweetHeartSum" jdbcType="INTEGER" />
		<result column="wxapp_open_id" property="wxAppOpenId" jdbcType="VARCHAR" />	
		<result column="cust_source_type" property="custSourceType" jdbcType="INTEGER" />	
		<result column="longitude" property="longitude" jdbcType="DECIMAL" />
		<result column="latitude" property="latitude" jdbcType="DECIMAL" />		 		
	</resultMap>	
	<sql id="Base_Column_List">
		cust_no, cust_name, open_id, cust_type, tel_no, tel_valid,
		  reg_time,longitude,latitude,map_precision,nick_name, 
		 headImgUrl,unionId , sex,
		  star_level,sweet_heart_sum,wxapp_open_id,cust_source_type
	</sql>	
	<resultMap id="selectByOpenIdResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		<id column="cust_no" property="custNo" jdbcType="BIGINT" />
		<result column="cust_name" property="custName" jdbcType="VARCHAR" />
		<result column="open_id" property="openId" jdbcType="VARCHAR" />
		<result column="cust_type" property="custType" jdbcType="VARCHAR" />
		<result column="tel_no" property="telNo" jdbcType="VARCHAR" />
		<result column="tel_valid" property="telValid" jdbcType="TINYINT" />			  
		<result column="map_precision" property="mapPrecision" jdbcType="DECIMAL" />			 
		<result column="reg_time" property="regTime" jdbcType="TIMESTAMP" />	 			
		<result column="sex" property="sex" jdbcType="VARCHAR" />
		<result column="unionId" property="unionId" jdbcType="VARCHAR" />
		<result column="headImgUrl" property="headImgUrl" jdbcType="VARCHAR" />
		<result column="star_level" property="starLevel" jdbcType="INTEGER" />		
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />		 	 
		<result column="sweet_heart_sum" property="sweetHeartSum" jdbcType="INTEGER" />
		<result column="wxapp_open_id" property="wxAppOpenId" jdbcType="VARCHAR" />	
		<result column="zfb_user_id" property="zfbUserId" jdbcType="VARCHAR" />
		<result column="cust_source_type" property="custSourceType" jdbcType="INTEGER" />
		<association property="custAccounts" resultMap="custAccountModelResultMap"/>
		<association property="custMerchants" resultMap="custMerchantsResultMap"/>
	</resultMap>	
	<resultMap id="custMerchantsResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CustMerchantRefInfoModel">	
		  	<id column="cust_no" property="custNo" jdbcType="BIGINT" />
		    <id column="merchant_id" property="merchantId" jdbcType="BIGINT" />
		    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
		    <result column="merchant_type_cn" property="merchantTypeCn" jdbcType="VARCHAR" />
		    <result column="merchant_type" property="merchantType" jdbcType="TINYINT" />
		    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
		    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		    <result column="cust_type" property="custType" jdbcType="TINYINT" />
	</resultMap>	
	<resultMap id="custAccountModelResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.CustAccountModel">	
		    <id column="account_id" property="accountId" jdbcType="VARCHAR" />
		    <result column="cust_no" property="custNo" jdbcType="BIGINT" />
		    <result column="balance" property="balance" jdbcType="DECIMAL" />
		    <result column="frozen_balance" property="frozenBalance" jdbcType="DECIMAL" />
		    <result column="available_balance" property="availableBalance" jdbcType="DECIMAL" />		   
		    <result column="status" property="status" jdbcType="TINYINT" />
		    <result column="data_digest" property="dataDigest" jdbcType="VARCHAR" />
		  	<result column="amt_source" property="amtSource" jdbcType="TINYINT" />
		  	<result column="account_type" property="accountType" jdbcType="TINYINT" />
	</resultMap>
	
	
	<select id="selectCustInfoAndAccountInfoByMerchantIdAndCustType" resultMap="selectByOpenIdResultMap">
		select
		
		ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time, 
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		ca.status, ca.data_digest,ca.amt_source,ca.account_type
		from   cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		LEFT JOIN cust_merchant_ref_info cmri ON ci.cust_no = cmri.cust_no
		where cmri.merchant_id = #{merchantId,jdbcType=BIGINT}
		and cmri.cust_type = #{custType,jdbcType=TINYINT}
	</select>
	
	<resultMap type="com.stylefeng.guns.sharecore.common.persistence.model.CustMerchantBO" id="selectByMerchantTypeResultMap">
		<id column="cust_no" property="custNo" jdbcType="BIGINT" />
		<result column="nick_name" property="nickName" jdbcType="VARCHAR" />
		<result column="open_id" property="opendId" jdbcType="VARCHAR" />
		<result column="wxapp_open_id" property="wxAppOpenId" jdbcType="VARCHAR" />
		<result column="custTel" property="custTel" jdbcType="VARCHAR" />
		<result column="merTel" property="merTel" jdbcType="VARCHAR" />
	</resultMap>
	
	<select id="selectByMerchantType" resultMap="selectByMerchantTypeResultMap">
		SELECT 
			ci.cust_no,ci.nick_name,ci.open_id,ci.tel_no custTel,mi.tel_no merTel 
		FROM cust_info ci 
		LEFT JOIN cust_merchant_ref_info cust on ci.cust_no = cust.cust_no
		LEFT JOIN merchant_info mi on mi.id = cust.merchant_id 
		WHERE mi.merchant_type = #{merchantType,jdbcType=INTEGER}
		GROUP BY cust.cust_no
	</select>
	
	<select id="selectAllCustInfo" resultMap="selectByMerchantTypeResultMap">
		SELECT 
			ci.cust_no,ci.nick_name,ci.open_id,ci.tel_no custTel,ci.wxapp_open_id
		FROM cust_info ci 
	 WHERE ci.cust_type = 1
	 AND (ci.open_id IS NOT NULL or ci.wxapp_open_id IS NOT NULL )
	</select>
	
	<select id="getByCustNo" resultMap="selectByMerchantTypeResultMap">
		SELECT 
			ci.cust_no,ci.nick_name,ci.open_id,ci.tel_no custTel,ci.wxapp_open_id
		FROM  cust_info ci 
	 WHERE ci.cust_type = 1
	 AND (ci.open_id IS NOT NULL or ci.wxapp_open_id IS NOT NULL )
	 AND ci.cust_no = #{custNo,jdbcType=BIGINT}
	</select>
	
	<select id="getByMerchantId" resultMap="selectByMerchantTypeResultMap">
		SELECT 
			ci.cust_no,ci.nick_name,ci.open_id,ci.tel_no custTel,mi.tel_no merTel
		FROM merchant_info mi 
		LEFT JOIN cust_merchant_ref_info cmri ON mi.id = cmri.merchant_id
		LEFT JOIN cust_info ci ON cmri.cust_no = ci.cust_no
	 WHERE ci.cust_type = 1
	 AND ci.open_id IS NOT NULL
	 AND mi.id = #{merchantId,jdbcType=BIGINT}
	</select>
	
	<select id="selectByOpenId" resultMap="selectByOpenIdResultMap"
		parameterType="java.lang.String">
		/*FORCE_MASTER*/ select
		 ci.cust_no, ci.cust_name, ci.open_id,ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time,
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,


		 ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		 ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,ci.wxapp_open_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		where open_id = #{openId,jdbcType=VARCHAR}
	</select>	
	

	<select id="selectByWxAppOpenId" resultMap="selectByOpenIdResultMap"
		parameterType="java.lang.String">
		/*FORCE_MASTER*/ select
		 ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time, 
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		 ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		 ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,ci.wxapp_open_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		where ci.wxapp_open_id = #{wxAppOpenId,jdbcType=VARCHAR} 
	</select>

	<select id="selectByZfbUserId" resultMap="selectByOpenIdResultMap"
			parameterType="java.lang.String">
		/*FORCE_MASTER*/ select
		ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time,
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name,
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,ci.wxapp_open_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		where ci.zfb_user_id = #{alipayUserId,jdbcType=VARCHAR}
	</select>
	
	
	<select id="selectByUnionId" resultMap="selectByOpenIdResultMap"
		parameterType="java.lang.String">
		/*FORCE_MASTER*/ select
		ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time, 
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		 ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		 ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,ci.wxapp_open_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		where ci.unionId = #{unionId,jdbcType=VARCHAR} 
		LIMIT 1
	</select>
	
	
	<select id="getMerchantCustInfo" resultMap="selectByOpenIdResultMap"
		parameterType="java.lang.String">
		select
		 ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time, 
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		 ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance,
		 ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,
		 ci.wxapp_open_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no	
		where open_id = #{openId,jdbcType=VARCHAR} AND  ca.account_type = 2 AND ca.amt_source =1
	</select>
	
	 <select id="getMerchantCustInfoByMerchantId" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		 	ci.cust_no, ci.cust_name, ci.open_id, 
		 	ci.cust_type, ci.tel_no,ci.reg_time, 
			ci.latitude,ci.longitude,ci.nick_name, 
			ci.headImgUrl,ci.unionId, ci.sex,
			ci.wxapp_open_id,ci.cust_source_type
		from cust_info ci
		WHERE ci.`merchant_id`= #{merchantId,jdbcType=BIGINT} AND ci.`cust_type`=2
		LIMIT 0,1
	</select>
	
	<select id="selectCustInfoAndCustAccountInfoByPrimaryKey" resultMap="selectByOpenIdResultMap"
		parameterType="java.lang.Long">
		select
		 ci.cust_no, ci.cust_name, ci.open_id, ci.cust_type, ci.tel_no,ci.tel_valid,   ci.reg_time, 
		ci.latitude,ci.longitude,ci.map_precision,ci.nick_name, 
		ci.headImgUrl,ci.unionId, ci.sex,ci.sweet_heart_sum,ci.wxapp_open_id,ci.cust_source_type,

		 ca.account_id, ca.balance, ca.frozen_balance, ca.available_balance, 
		 ca.status, ca.data_digest,ca.amt_source,ca.account_type,ci.lent_charger_id,ci.yun_data_id,ci.star_level,
		 ci.wxapp_open_id,ci.cust_source_type,ci.zfb_user_id
		from cust_info ci left join cust_account ca on ci.cust_no = ca.cust_no
		where ci.cust_no = #{custNo,jdbcType=BIGINT}
	</select>
	
	

	<insert id="insert" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">	
		insert into cust_info (cust_no, cust_name, open_id,
		cust_type, tel_no,tel_valid, email,
		addr, post_code, remark,
		reg_time, update_time,nick_name,language,city,province,country,
		 headImgUrl,unionId,wexin_remark,groupId,sex,wxapp_open_id,zfb_user_id,cust_source_type)
		values (#{custNo,jdbcType=BIGINT}, #{custName,jdbcType=VARCHAR},
		#{openId,jdbcType=VARCHAR},
		#{custType,jdbcType=TINYINT}, #{telNo,jdbcType=VARCHAR},#{telValid,jdbcType=TINYINT}, #{email,jdbcType=VARCHAR},
		#{addr,jdbcType=VARCHAR}, #{postCode,jdbcType=VARCHAR},
		#{remark,jdbcType=VARCHAR},
		#{regTime,jdbcType=TIMESTAMP}, 
		#{updateTime,jdbcType=TIMESTAMP},
		
		#{nickName,jdbcType=VARCHAR},
		#{language,jdbcType=VARCHAR},
		#{city,jdbcType=VARCHAR},
		#{province,jdbcType=VARCHAR},
		#{country,jdbcType=VARCHAR},
		#{headImgUrl,jdbcType=VARCHAR},
		#{unionId,jdbcType=VARCHAR},
		#{wexinRemark,jdbcType=VARCHAR},
		#{groupId,jdbcType=INTEGER},
		#{sex,jdbcType=VARCHAR},
		#{wxAppOpenId,jdbcType=VARCHAR},
		#{zfbUserId,jdbcType=VARCHAR},
		#{custSourceType,jdbcType=INTEGER}
		);
	</insert>
	
	<select id="setNamesUtf8mb4">
		SET NAMES utf8mb4
	</select>
	<update id="updateByPrimaryKeySelectiveByOpenId" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		update cust_info
		<set>
			<if test="custName != null">
				cust_name = #{custName,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="custType != null">
				cust_type = #{custType,jdbcType=TINYINT},
			</if>
			<if test="telNo != null">
				tel_no = #{telNo,jdbcType=VARCHAR},
			</if>
			<if test="telValid != null">
				tel_valid = #{telValid,jdbcType=TINYINT},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				post_code = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			 
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=DECIMAL},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=DECIMAL},
			</if>
			<if test="mapPrecision != null">
				map_precision = #{mapPrecision,jdbcType=DECIMAL},
			</if>
			
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				language = #{language,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="headImgUrl != null">
				headImgUrl = #{headImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="unionId != null">
				unionId = #{unionId,jdbcType=VARCHAR},
			</if>
			<if test="wexinRemark != null">
				wexin_remark = #{wexinRemark,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				groupId = #{groupId,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			 
			<if test="lentChargerId != null">
				lent_charger_id = #{lentChargerId,jdbcType=VARCHAR},
			</if>
			<if test="yunDataId != null">
				yun_data_id = #{yunDataId,jdbcType=INTEGER},
			</if>
			<if test="sweetHeartSum != 0">
				sweet_heart_sum = #{sweetHeartSum,jdbcType=INTEGER},
			</if>
			<if test="wxAppOpenId != null">
				wxapp_open_id = #{wxAppOpenId,jdbcType=VARCHAR},
			</if>
		</set>
		where open_id = #{openId,jdbcType=VARCHAR};
	</update>
	
 
	<update id="updatePhoneByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		update cust_info
		<set>
			tel_no = #{telNo}
		</set>
		where cust_no = #{custNo,jdbcType=BIGINT}
	</update>
	
	<update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		update cust_info
		<set>
			<if test="custName != null">
				cust_name = #{custName,jdbcType=VARCHAR},
			</if>
			<if test="openId != null">
				open_id = #{openId,jdbcType=VARCHAR},
			</if>
			<if test="telNo != null">
				tel_no = #{telNo,jdbcType=VARCHAR},
			</if>
			<if test="telValid != null">
				tel_valid = #{telValid,jdbcType=TINYINT},
			</if>
			<if test="email != null">
				email = #{email,jdbcType=VARCHAR},
			</if>
			<if test="addr != null">
				addr = #{addr,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				post_code = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				remark = #{remark,jdbcType=VARCHAR},
			</if>
			 
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="latitude != null">
				latitude = #{latitude,jdbcType=DECIMAL},
			</if>
			<if test="longitude != null">
				longitude = #{longitude,jdbcType=DECIMAL},
			</if>
			<if test="mapPrecision != null">
				map_precision = #{mapPrecision,jdbcType=DECIMAL},
			</if>
			
			<if test="nickName != null">
				nick_name = #{nickName,jdbcType=VARCHAR},
			</if>
			<if test="language != null">
				language = #{language,jdbcType=VARCHAR},
			</if>
			<if test="city != null">
				city = #{city,jdbcType=VARCHAR},
			</if>
			<if test="province != null">
				province = #{province,jdbcType=VARCHAR},
			</if>
			<if test="country != null">
				country = #{country,jdbcType=VARCHAR},
			</if>
			<if test="headImgUrl != null">
				headImgUrl = #{headImgUrl,jdbcType=VARCHAR},
			</if>
			<if test="unionId != null">
				unionId = #{unionId,jdbcType=VARCHAR},
			</if>
			<if test="wexinRemark != null">
				wexin_remark = #{wexinRemark,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				groupId = #{groupId,jdbcType=INTEGER},
			</if>
			<if test="sex != null">
				sex = #{sex,jdbcType=VARCHAR},
			</if>
			 
		 
			<if test="lentChargerId != null">
				lent_charger_id = #{lentChargerId,jdbcType=VARCHAR},
			</if>
			<if test="yunDataId != null">
				yun_data_id = #{yunDataId,jdbcType=INTEGER},
			</if>
			<if test="starLevel != null">
				star_level = #{starLevel,jdbcType=INTEGER},
			</if>
			 
			<if test="sweetHeartSum != 0">
				sweet_heart_sum = #{sweetHeartSum,jdbcType=INTEGER},
			</if>
			<if test="wxAppOpenId != null">
				wxapp_open_id = #{wxAppOpenId,jdbcType=VARCHAR},
			</if>
		</set>
		where cust_no = #{custNo,jdbcType=BIGINT};
	</update>
	<update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoModel">
		update cust_info
		set cust_name = #{custName,jdbcType=VARCHAR},
		open_id = #{openId,jdbcType=VARCHAR},
		cust_type = #{custType,jdbcType=TINYINT},
		tel_no = #{telNo,jdbcType=VARCHAR},
		tel_valid = #{telValid,jdbcType=TINYINT},
		email = #{email,jdbcType=VARCHAR},
		addr = #{addr,jdbcType=VARCHAR},
		post_code = #{postCode,jdbcType=VARCHAR},
		remark = #{remark,jdbcType=VARCHAR}, 		 	 
		update_time = #{updateTime,jdbcType=TIMESTAMP},
		map_precision = #{mapPrecision,jdbcType=TIMESTAMP},
		longitude = #{longitude,jdbcType=TIMESTAMP},
		latitude = #{latitude,jdbcType=TIMESTAMP},
		unionId = #{unionId,jdbcType=VARCHAR},
		wxapp_open_id = #{wxAppOpenId,jdbcType=VARCHAR},
		sweet_heart_sum = #{sweetHeartSum,jdbcType=INTEGER}
		where cust_no = #{custNo,jdbcType=BIGINT};
	</update>
	

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from cust_info
    where cust_no = #{custNo,jdbcType=BIGINT}
  </select>

  <resultMap id="CustInfoQueryResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoShowModel" >
    <id column="cust_no" property="custNo" jdbcType="BIGINT" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="latitude" property="xCoordinate" jdbcType="DECIMAL" />
    <result column="longitude" property="yCoordinate" jdbcType="DECIMAL" />
    <result column="sex" property="sex" jdbcType="VARCHAR" />
    <result column="tel_no" property="telno" jdbcType="VARCHAR" />
    <result column="tel_valid" property="telValid" jdbcType="TINYINT" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="reg_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="balance" property="balance" jdbcType="DECIMAL" />
    <result column="frozen_balance" property="frozenBalance" jdbcType="DECIMAL" />
    <result column="available_balance" property="availableBalance" jdbcType="DECIMAL" />    
    <result column="sweet_heart_sum" property="sweetHeartSum" jdbcType="INTEGER" />
    <result column="account_id" property="accountId" jdbcType="BIGINT" />
    <result column="amt_source" property="amtSource" jdbcType="TINYINT" />
    <result column="account_type" property="accountType" jdbcType="TINYINT" />
	<result column="wxapp_open_id" property="wxAppOpenId" jdbcType="VARCHAR" />	
	<result column="cust_type" property="custType" jdbcType="TINYINT" />
  </resultMap>  
  
  
 
  <select id="custInfoQuery" resultMap="CustInfoQueryResultMap" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoShowModel" > 
     SELECT ci.cust_no,ci.nick_name,ci.latitude,ci.longitude,
		CONCAT_WS('-',ci.country,ci.province,ci.city,ci.addr) AS addr,
		ci.sex,ci.email,ci.tel_no,ci.tel_valid,ci.reg_time,ci.sweet_heart_sum,
		ci.wxapp_open_id,ci.cust_type
		FROM cust_info ci
    	where 1=1 
   	<if test="custNo != null and custNo !='' " >
        and ci.cust_no =#{custNo} 
    </if>
    <if test="nickName != null and nickName !='' " >
        and ci.nick_name = #{nickName}
    </if>
    
    <if test="addr != null and addr !='' " >
        and (ci.addr like CONCAT('%',#{addr},'%') or ci.country like CONCAT('%',#{addr},'%') or ci.province like CONCAT('%',#{addr},'%')
        or ci.city like CONCAT('%',#{addr},'%'))
    </if>
    <if test="telno != null and telno !='' " >
        and ci.tel_no = #{telno}
    </if>
        
     <if test = "custInfoCreateStartDate != null and custInfoCreateStartDate != ''">
    	<![CDATA[ 
    	    and str_to_date(CONCAT(#{custInfoCreateStartDate},' 00:00:01'),'%Y-%m-%d %H:%i:%s') <=ci.reg_time    		
    	]]>
    </if> 
     <if test = "custInfoCreateEndDate!= null and custInfoCreateEndDate != ''">
    	<![CDATA[ 
    		and str_to_date(CONCAT(#{custInfoCreateEndDate},' 23:59:59'),'%Y-%m-%d %H:%i:%s') >=ci.reg_time   		
    	]]>
    </if>
    <if test = "order!=null and order!='' and sort!=null and sort!=''">
		order by ${sort} ${order}
	</if> 
  </select>	
  
  <!-- 根据客户id查出客户 -->
  <select id="queryByCustNo" resultMap="CustInfoQueryResultMap" parameterType="java.lang.Long" > 
     SELECT ci.cust_no,ci.nick_name,ci.latitude,ci.longitude,
		CONCAT_WS('-',ci.country,ci.province,ci.city,ci.addr) AS addr,
		ci.sex,ci.email,ci.tel_no,ci.tel_valid,ci.reg_time,ci.sweet_heart_sum,
		ci.wxapp_open_id,ci.cust_type
		FROM cust_info ci
    where 
    	1=1 
    and 
        ci.cust_no =#{custNo} 
    
  </select>	
  
  <select id="capitalAccountQuery" resultMap="CustInfoQueryResultMap" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.CustInfoShowModel" > 
     SELECT ci.cust_no , ci.nick_name , ci.latitude , ci.longitude ,
		CONCAT_WS('-', ci.country, ci.province , ci.city , ci.addr) AS addr ,
		ci.sex , ci.email , ci.tel_no , ci.tel_valid , ci.reg_time , ca.balance , ca.frozen_balance ,
		ca.available_balance ,   ci.sweet_heart_sum , ca.account_id , ca.amt_source , ca.account_type , ci.wxapp_open_id
	FROM 
		cust_info ci  
	JOIN 
		cust_account ca ON ci.cust_no = ca.cust_no
    where 
    	1=1 
    <if test="amtSource != null and  amtSource !='' " >
        and ca.amt_source = #{amtSource}
    </if>
    <if test="accountType != null and accountType !=''" >
        and ca.account_type = #{accountType}
    </if>
    <if test="accountId != null and accountId !=''" >
        and ca.account_id =#{accountId}
    </if>
   	<if test="custNo != null and custNo !='' " >
        and ci.cust_no = #{custNo} 
    </if>
    <if test="nickName != null and nickName !='' " >
        and ci.nick_name like CONCAT('%',#{nickName},'%')
    </if>
    <if test="addr != null and addr !='' " >
        and (ci.addr like CONCAT('%',#{addr},'%') or ci.country like CONCAT('%',#{addr},'%') or ci.province like CONCAT('%',#{addr},'%')
        or ci.city like CONCAT('%',#{addr},'%'))
    </if>
    <if test="telno != null and telno !='' " >
        and ci.tel_no = #{telno}
    </if>
        
    <if test = "custInfoCreateStartDate != null and custInfoCreateStartDate != ''">
    	<![CDATA[ 
    	    and str_to_date(CONCAT(#{custInfoCreateStartDate},' 00:00:01'),'%Y-%m-%d %H:%i:%s') <=ci.reg_time    		
    	]]>
    </if> 
    <if test = "custInfoCreateEndDate!= null and custInfoCreateEndDate != ''">
    	<![CDATA[ 
    		and str_to_date(CONCAT(#{custInfoCreateEndDate},' 23:59:59'),'%Y-%m-%d %H:%i:%s') >=ci.reg_time   		
    	]]>
    </if>
    <if test = "order!=null and order!='' and sort != null and sort != ''">
		order by ${sort} ${order}
	</if> 
  </select>
  
  <select id="selectAllNoUnionId" resultMap="selectByOpenIdResultMap">
		select
		<include refid="Base_Column_List" />
		 from cust_info
		where open_id IS NOT NULL AND unionId IS NULL
  		AND cust_type=1
	  	LIMIT #{startRowIndex,jdbcType=INTEGER},#{endRowIndex,jdbcType=INTEGER}
	</select>
	
	<select id="selectAllNoUnionIdCount" resultType="java.lang.Long">
		select count(1)
		 from cust_info
		where open_id IS NOT NULL AND unionId IS NULL
  		AND cust_type=1
	</select>
	
	<select id="getRank" resultMap="BaseResultMap">
		SELECT @ROWNO := @ROWNO + 1 AS rank, T.*
		FROM
		(SELECT ci.sweet_heart_sum FROM cust_info ci
		WHERE 1=1
		GROUP BY ci.sweet_heart_sum
		ORDER BY ci.sweet_heart_sum DESC ) T,(SELECT @ROWNO := 0) T3
		ORDER BY rank
	</select>
	
 	<select id="queryCustInfoByNickName" resultType="java.lang.Long" parameterType="java.lang.String">
		SELECT cust_no
		FROM cust_info
		WHERE nick_name LIKE CONCAT('%',#{nickName},'%')
	</select>

</mapper>