<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.common.persistence.dao.NotifyMessageBySelfMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.common.persistence.model.NotifyMessage" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
    <result column="receive_cust_no" property="receiveCustNo" jdbcType="BIGINT" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="form_id" property="formId" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="chuzu_id" property="chuzuId" jdbcType="BIGINT" />
    <result column="zujie_id" property="zujieId" jdbcType="BIGINT" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="wxapp_open_id" property="wxAppOpenId" jdbcType="VARCHAR" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, type, content, receive_cust_no, status, form_id, create_time, trade_id,chuzu_id,zujie_id,title
  </sql>
  
  <delete id="deleteMonthAgoMessages">
  	DELETE FROM notify_message WHERE create_time <![CDATA[<]]>  SUBDATE(NOW(),30)
  </delete>
  
  <select id="countUnreadMessage" resultType="long">
  	SELECT COUNT(1) FROM notify_message 
  	WHERE receive_cust_no = #{custNo} AND status = 2
  </select>
  
  <select id="countMessageByStatus" resultType="long">
  	SELECT COUNT(1) FROM notify_message 
  	WHERE receive_cust_no = #{custNo} 
  	AND 
  	status = #{messageStatus}
  </select>
  
  <select id="listByCustNoAndPage" resultMap="BaseResultMap">
  	SELECT 
  	<include refid="Base_Column_List" />
  	FROM notify_message 
  	WHERE receive_cust_no = #{custNo} 
  	AND STATUS = #{code}
  	ORDER BY create_time desc LIMIT #{start,jdbcType=INTEGER},#{count,jdbcType=INTEGER}
  </select>
  
  <select id="queryByZuJieIdAndCustNo" resultMap="BaseResultMap">
  	SELECT 
  	nm.id, nm.type, nm.content, nm.receive_cust_no, nm.status, nm.form_id, nm.create_time, nm.trade_id,nm.chuzu_id,nm.zujie_id,nm.title,
	ci.wxapp_open_id
  	 FROM notify_message nm
	LEFT JOIN cust_info ci ON ci.cust_no=nm.receive_cust_no
	WHERE nm.receive_cust_no = #{custNo} AND nm.zujie_id = #{zuJieId}
	ORDER BY nm.create_time desc LIMIT 1
  </select>
  
  <select id="queryByChuZuIdAndCustNo" resultMap="BaseResultMap">
  	SELECT 
	nm.id, nm.type, nm.content, nm.receive_cust_no, nm.status, nm.form_id, nm.create_time, nm.trade_id,nm.chuzu_id,nm.zujie_id,nm.title,
	ci.wxapp_open_id
	FROM notify_message nm
	LEFT JOIN cust_info ci ON ci.cust_no=nm.receive_cust_no
	WHERE nm.receive_cust_no = #{custNo} AND nm.chuzu_id = #{chuZuId}
	ORDER BY nm.create_time desc LIMIT 1
  </select>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from notify_message
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from notify_message
    where id = #{id,jdbcType=BIGINT}
  </delete>
 
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.NotifyMessage" >
    insert into notify_message (id, type, content, 
      receive_cust_no, status, form_id, 
      create_time, trade_id,chuzu_id,zujie_id,title
      )
    values (#{id,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}, 
      #{receiveCustNo,jdbcType=BIGINT}, #{status,jdbcType=INTEGER}, #{formId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{tradeId,jdbcType=BIGINT}, 
      #{chuzuId,jdbcType=BIGINT}, #{zujieId,jdbcType=BIGINT}, #{title,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.NotifyMessage" >
    insert into notify_message
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="content != null" >
        content,
      </if>
      <if test="receiveCustNo != null" >
        receive_cust_no,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="formId != null" >
        form_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="tradeId != null" >
        trade_id,
      </if>
       <if test="chuzuId != null" >
        chuzu_id,
      </if>
       <if test="zujieId != null" >
        zujie_id,
      </if>
       <if test="title != null" >
        title,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
      <if test="receiveCustNo != null" >
        #{receiveCustNo,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="formId != null" >
        #{formId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
       <if test="chuzuId != null" >
        #{chuzuId,jdbcType=BIGINT},
      </if>
       <if test="zujieId != null" >
        #{zujieId,jdbcType=BIGINT},
      </if>
       <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
 
 
 
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.NotifyMessage" >
    update notify_message
    <set >
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
      <if test="receiveCustNo != null" >
        receive_cust_no = #{receiveCustNo,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="formId != null" >
        form_id = #{formId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeId != null" >
        trade_id = #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="chuzuId != null" >
        chuzu_id = #{chuzuId,jdbcType=BIGINT},
      </if>
      <if test="zujieId != null" >
        zujie_id = #{zujieId,jdbcType=BIGINT},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.common.persistence.model.NotifyMessage" >
    update notify_message
    set type = #{type,jdbcType=INTEGER},
      content = #{content,jdbcType=VARCHAR},
      receive_cust_no = #{receiveCustNo,jdbcType=BIGINT},
      status = #{status,jdbcType=INTEGER},
      form_id = #{formId,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      trade_id = #{tradeId,jdbcType=BIGINT},
      chuzu_id = #{chuzuId,jdbcType=BIGINT},
      zujie_id = #{zujieId,jdbcType=BIGINT},
      title = #{title,jdbcType=VARCHAR},
      
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>