<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.CalculateDeviceDataModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModel" >
    <id column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="history_orders" property="historyOrders" jdbcType="BIGINT" />
    <result column="before_orders_1" property="beforeOrders1" jdbcType="BIGINT" />
    <result column="before_orders_2" property="beforeOrders2" jdbcType="BIGINT" />
    <result column="before_orders_3" property="beforeOrders3" jdbcType="BIGINT" />
    <result column="before_orders_4" property="beforeOrders4" jdbcType="BIGINT" />
    <result column="before_orders_5" property="beforeOrders5" jdbcType="BIGINT" />
    <result column="before_orders_6" property="beforeOrders6" jdbcType="BIGINT" />
    <result column="before_orders_7" property="beforeOrders7" jdbcType="BIGINT" />
    <result column="history_finish_orders" property="historyFinishOrders" jdbcType="BIGINT" />
    <result column="before_finish_orders_1" property="beforeFinishOrders1" jdbcType="BIGINT" />
    <result column="before_finish_orders_2" property="beforeFinishOrders2" jdbcType="BIGINT" />
    <result column="before_finish_orders_3" property="beforeFinishOrders3" jdbcType="BIGINT" />
    <result column="before_finish_orders_4" property="beforeFinishOrders4" jdbcType="BIGINT" />
    <result column="before_finish_orders_5" property="beforeFinishOrders5" jdbcType="BIGINT" />
    <result column="before_finish_orders_6" property="beforeFinishOrders6" jdbcType="BIGINT" />
    <result column="before_finish_orders_7" property="beforeFinishOrders7" jdbcType="BIGINT" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="before_amount_1" property="beforeAmount1" jdbcType="DECIMAL" />
    <result column="before_amount_2" property="beforeAmount2" jdbcType="DECIMAL" />
    <result column="before_amount_3" property="beforeAmount3" jdbcType="DECIMAL" />
    <result column="before_amount_4" property="beforeAmount4" jdbcType="DECIMAL" />
    <result column="before_amount_5" property="beforeAmount5" jdbcType="DECIMAL" />
    <result column="before_amount_6" property="beforeAmount6" jdbcType="DECIMAL" />
    <result column="before_amount_7" property="beforeAmount7" jdbcType="DECIMAL" />
    <result column="last_use_date" property="lastUseDate" jdbcType="TIMESTAMP" />
    <result column="calculate_date" property="calculateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    device_id, history_orders, before_orders_1, before_orders_2, before_orders_3, before_orders_4, 
    before_orders_5, before_orders_6, before_orders_7, history_finish_orders, before_finish_orders_1, 
    before_finish_orders_2, before_finish_orders_3, before_finish_orders_4, before_finish_orders_5, 
    before_finish_orders_6, before_finish_orders_7, total_amount, before_amount_1, before_amount_2, 
    before_amount_3, before_amount_4, before_amount_5, before_amount_6, before_amount_7, 
    last_use_date, calculate_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from calculate_device_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from calculate_device_data
    where device_id = #{deviceId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from calculate_device_data
    where device_id = #{deviceId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModelExample" >
    delete from calculate_device_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModel" >
    insert into calculate_device_data (device_id, history_orders, before_orders_1, 
      before_orders_2, before_orders_3, before_orders_4, 
      before_orders_5, before_orders_6, before_orders_7, 
      history_finish_orders, before_finish_orders_1, 
      before_finish_orders_2, before_finish_orders_3, 
      before_finish_orders_4, before_finish_orders_5, 
      before_finish_orders_6, before_finish_orders_7, 
      total_amount, before_amount_1, before_amount_2, 
      before_amount_3, before_amount_4, before_amount_5, 
      before_amount_6, before_amount_7, last_use_date, 
      calculate_date)
    values (#{deviceId,jdbcType=BIGINT}, #{historyOrders,jdbcType=BIGINT}, #{beforeOrders1,jdbcType=BIGINT}, 
      #{beforeOrders2,jdbcType=BIGINT}, #{beforeOrders3,jdbcType=BIGINT}, #{beforeOrders4,jdbcType=BIGINT}, 
      #{beforeOrders5,jdbcType=BIGINT}, #{beforeOrders6,jdbcType=BIGINT}, #{beforeOrders7,jdbcType=BIGINT}, 
      #{historyFinishOrders,jdbcType=BIGINT}, #{beforeFinishOrders1,jdbcType=BIGINT}, 
      #{beforeFinishOrders2,jdbcType=BIGINT}, #{beforeFinishOrders3,jdbcType=BIGINT}, 
      #{beforeFinishOrders4,jdbcType=BIGINT}, #{beforeFinishOrders5,jdbcType=BIGINT}, 
      #{beforeFinishOrders6,jdbcType=BIGINT}, #{beforeFinishOrders7,jdbcType=BIGINT}, 
      #{totalAmount,jdbcType=DECIMAL}, #{beforeAmount1,jdbcType=DECIMAL}, #{beforeAmount2,jdbcType=DECIMAL}, 
      #{beforeAmount3,jdbcType=DECIMAL}, #{beforeAmount4,jdbcType=DECIMAL}, #{beforeAmount5,jdbcType=DECIMAL}, 
      #{beforeAmount6,jdbcType=DECIMAL}, #{beforeAmount7,jdbcType=DECIMAL}, #{lastUseDate,jdbcType=TIMESTAMP}, 
      #{calculateDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModel" >
    insert into calculate_device_data
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="historyOrders != null" >
        history_orders,
      </if>
      <if test="beforeOrders1 != null" >
        before_orders_1,
      </if>
      <if test="beforeOrders2 != null" >
        before_orders_2,
      </if>
      <if test="beforeOrders3 != null" >
        before_orders_3,
      </if>
      <if test="beforeOrders4 != null" >
        before_orders_4,
      </if>
      <if test="beforeOrders5 != null" >
        before_orders_5,
      </if>
      <if test="beforeOrders6 != null" >
        before_orders_6,
      </if>
      <if test="beforeOrders7 != null" >
        before_orders_7,
      </if>
      <if test="historyFinishOrders != null" >
        history_finish_orders,
      </if>
      <if test="beforeFinishOrders1 != null" >
        before_finish_orders_1,
      </if>
      <if test="beforeFinishOrders2 != null" >
        before_finish_orders_2,
      </if>
      <if test="beforeFinishOrders3 != null" >
        before_finish_orders_3,
      </if>
      <if test="beforeFinishOrders4 != null" >
        before_finish_orders_4,
      </if>
      <if test="beforeFinishOrders5 != null" >
        before_finish_orders_5,
      </if>
      <if test="beforeFinishOrders6 != null" >
        before_finish_orders_6,
      </if>
      <if test="beforeFinishOrders7 != null" >
        before_finish_orders_7,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="beforeAmount1 != null" >
        before_amount_1,
      </if>
      <if test="beforeAmount2 != null" >
        before_amount_2,
      </if>
      <if test="beforeAmount3 != null" >
        before_amount_3,
      </if>
      <if test="beforeAmount4 != null" >
        before_amount_4,
      </if>
      <if test="beforeAmount5 != null" >
        before_amount_5,
      </if>
      <if test="beforeAmount6 != null" >
        before_amount_6,
      </if>
      <if test="beforeAmount7 != null" >
        before_amount_7,
      </if>
      <if test="lastUseDate != null" >
        last_use_date,
      </if>
      <if test="calculateDate != null" >
        calculate_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="historyOrders != null" >
        #{historyOrders,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders1 != null" >
        #{beforeOrders1,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders2 != null" >
        #{beforeOrders2,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders3 != null" >
        #{beforeOrders3,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders4 != null" >
        #{beforeOrders4,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders5 != null" >
        #{beforeOrders5,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders6 != null" >
        #{beforeOrders6,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders7 != null" >
        #{beforeOrders7,jdbcType=BIGINT},
      </if>
      <if test="historyFinishOrders != null" >
        #{historyFinishOrders,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders1 != null" >
        #{beforeFinishOrders1,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders2 != null" >
        #{beforeFinishOrders2,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders3 != null" >
        #{beforeFinishOrders3,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders4 != null" >
        #{beforeFinishOrders4,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders5 != null" >
        #{beforeFinishOrders5,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders6 != null" >
        #{beforeFinishOrders6,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders7 != null" >
        #{beforeFinishOrders7,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount1 != null" >
        #{beforeAmount1,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount2 != null" >
        #{beforeAmount2,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount3 != null" >
        #{beforeAmount3,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount4 != null" >
        #{beforeAmount4,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount5 != null" >
        #{beforeAmount5,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount6 != null" >
        #{beforeAmount6,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount7 != null" >
        #{beforeAmount7,jdbcType=DECIMAL},
      </if>
      <if test="lastUseDate != null" >
        #{lastUseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="calculateDate != null" >
        #{calculateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModelExample" resultType="java.lang.Integer" >
    select count(*) from calculate_device_data
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update calculate_device_data
    <set >
      <if test="record.deviceId != null" >
        device_id = #{record.deviceId,jdbcType=BIGINT},
      </if>
      <if test="record.historyOrders != null" >
        history_orders = #{record.historyOrders,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders1 != null" >
        before_orders_1 = #{record.beforeOrders1,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders2 != null" >
        before_orders_2 = #{record.beforeOrders2,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders3 != null" >
        before_orders_3 = #{record.beforeOrders3,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders4 != null" >
        before_orders_4 = #{record.beforeOrders4,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders5 != null" >
        before_orders_5 = #{record.beforeOrders5,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders6 != null" >
        before_orders_6 = #{record.beforeOrders6,jdbcType=BIGINT},
      </if>
      <if test="record.beforeOrders7 != null" >
        before_orders_7 = #{record.beforeOrders7,jdbcType=BIGINT},
      </if>
      <if test="record.historyFinishOrders != null" >
        history_finish_orders = #{record.historyFinishOrders,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders1 != null" >
        before_finish_orders_1 = #{record.beforeFinishOrders1,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders2 != null" >
        before_finish_orders_2 = #{record.beforeFinishOrders2,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders3 != null" >
        before_finish_orders_3 = #{record.beforeFinishOrders3,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders4 != null" >
        before_finish_orders_4 = #{record.beforeFinishOrders4,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders5 != null" >
        before_finish_orders_5 = #{record.beforeFinishOrders5,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders6 != null" >
        before_finish_orders_6 = #{record.beforeFinishOrders6,jdbcType=BIGINT},
      </if>
      <if test="record.beforeFinishOrders7 != null" >
        before_finish_orders_7 = #{record.beforeFinishOrders7,jdbcType=BIGINT},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount1 != null" >
        before_amount_1 = #{record.beforeAmount1,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount2 != null" >
        before_amount_2 = #{record.beforeAmount2,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount3 != null" >
        before_amount_3 = #{record.beforeAmount3,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount4 != null" >
        before_amount_4 = #{record.beforeAmount4,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount5 != null" >
        before_amount_5 = #{record.beforeAmount5,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount6 != null" >
        before_amount_6 = #{record.beforeAmount6,jdbcType=DECIMAL},
      </if>
      <if test="record.beforeAmount7 != null" >
        before_amount_7 = #{record.beforeAmount7,jdbcType=DECIMAL},
      </if>
      <if test="record.lastUseDate != null" >
        last_use_date = #{record.lastUseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.calculateDate != null" >
        calculate_date = #{record.calculateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update calculate_device_data
    set device_id = #{record.deviceId,jdbcType=BIGINT},
      history_orders = #{record.historyOrders,jdbcType=BIGINT},
      before_orders_1 = #{record.beforeOrders1,jdbcType=BIGINT},
      before_orders_2 = #{record.beforeOrders2,jdbcType=BIGINT},
      before_orders_3 = #{record.beforeOrders3,jdbcType=BIGINT},
      before_orders_4 = #{record.beforeOrders4,jdbcType=BIGINT},
      before_orders_5 = #{record.beforeOrders5,jdbcType=BIGINT},
      before_orders_6 = #{record.beforeOrders6,jdbcType=BIGINT},
      before_orders_7 = #{record.beforeOrders7,jdbcType=BIGINT},
      history_finish_orders = #{record.historyFinishOrders,jdbcType=BIGINT},
      before_finish_orders_1 = #{record.beforeFinishOrders1,jdbcType=BIGINT},
      before_finish_orders_2 = #{record.beforeFinishOrders2,jdbcType=BIGINT},
      before_finish_orders_3 = #{record.beforeFinishOrders3,jdbcType=BIGINT},
      before_finish_orders_4 = #{record.beforeFinishOrders4,jdbcType=BIGINT},
      before_finish_orders_5 = #{record.beforeFinishOrders5,jdbcType=BIGINT},
      before_finish_orders_6 = #{record.beforeFinishOrders6,jdbcType=BIGINT},
      before_finish_orders_7 = #{record.beforeFinishOrders7,jdbcType=BIGINT},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      before_amount_1 = #{record.beforeAmount1,jdbcType=DECIMAL},
      before_amount_2 = #{record.beforeAmount2,jdbcType=DECIMAL},
      before_amount_3 = #{record.beforeAmount3,jdbcType=DECIMAL},
      before_amount_4 = #{record.beforeAmount4,jdbcType=DECIMAL},
      before_amount_5 = #{record.beforeAmount5,jdbcType=DECIMAL},
      before_amount_6 = #{record.beforeAmount6,jdbcType=DECIMAL},
      before_amount_7 = #{record.beforeAmount7,jdbcType=DECIMAL},
      last_use_date = #{record.lastUseDate,jdbcType=TIMESTAMP},
      calculate_date = #{record.calculateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModel" >
    update calculate_device_data
    <set >
      <if test="historyOrders != null" >
        history_orders = #{historyOrders,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders1 != null" >
        before_orders_1 = #{beforeOrders1,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders2 != null" >
        before_orders_2 = #{beforeOrders2,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders3 != null" >
        before_orders_3 = #{beforeOrders3,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders4 != null" >
        before_orders_4 = #{beforeOrders4,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders5 != null" >
        before_orders_5 = #{beforeOrders5,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders6 != null" >
        before_orders_6 = #{beforeOrders6,jdbcType=BIGINT},
      </if>
      <if test="beforeOrders7 != null" >
        before_orders_7 = #{beforeOrders7,jdbcType=BIGINT},
      </if>
      <if test="historyFinishOrders != null" >
        history_finish_orders = #{historyFinishOrders,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders1 != null" >
        before_finish_orders_1 = #{beforeFinishOrders1,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders2 != null" >
        before_finish_orders_2 = #{beforeFinishOrders2,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders3 != null" >
        before_finish_orders_3 = #{beforeFinishOrders3,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders4 != null" >
        before_finish_orders_4 = #{beforeFinishOrders4,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders5 != null" >
        before_finish_orders_5 = #{beforeFinishOrders5,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders6 != null" >
        before_finish_orders_6 = #{beforeFinishOrders6,jdbcType=BIGINT},
      </if>
      <if test="beforeFinishOrders7 != null" >
        before_finish_orders_7 = #{beforeFinishOrders7,jdbcType=BIGINT},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount1 != null" >
        before_amount_1 = #{beforeAmount1,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount2 != null" >
        before_amount_2 = #{beforeAmount2,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount3 != null" >
        before_amount_3 = #{beforeAmount3,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount4 != null" >
        before_amount_4 = #{beforeAmount4,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount5 != null" >
        before_amount_5 = #{beforeAmount5,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount6 != null" >
        before_amount_6 = #{beforeAmount6,jdbcType=DECIMAL},
      </if>
      <if test="beforeAmount7 != null" >
        before_amount_7 = #{beforeAmount7,jdbcType=DECIMAL},
      </if>
      <if test="lastUseDate != null" >
        last_use_date = #{lastUseDate,jdbcType=TIMESTAMP},
      </if>
      <if test="calculateDate != null" >
        calculate_date = #{calculateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateDeviceDataModel" >
    update calculate_device_data
    set history_orders = #{historyOrders,jdbcType=BIGINT},
      before_orders_1 = #{beforeOrders1,jdbcType=BIGINT},
      before_orders_2 = #{beforeOrders2,jdbcType=BIGINT},
      before_orders_3 = #{beforeOrders3,jdbcType=BIGINT},
      before_orders_4 = #{beforeOrders4,jdbcType=BIGINT},
      before_orders_5 = #{beforeOrders5,jdbcType=BIGINT},
      before_orders_6 = #{beforeOrders6,jdbcType=BIGINT},
      before_orders_7 = #{beforeOrders7,jdbcType=BIGINT},
      history_finish_orders = #{historyFinishOrders,jdbcType=BIGINT},
      before_finish_orders_1 = #{beforeFinishOrders1,jdbcType=BIGINT},
      before_finish_orders_2 = #{beforeFinishOrders2,jdbcType=BIGINT},
      before_finish_orders_3 = #{beforeFinishOrders3,jdbcType=BIGINT},
      before_finish_orders_4 = #{beforeFinishOrders4,jdbcType=BIGINT},
      before_finish_orders_5 = #{beforeFinishOrders5,jdbcType=BIGINT},
      before_finish_orders_6 = #{beforeFinishOrders6,jdbcType=BIGINT},
      before_finish_orders_7 = #{beforeFinishOrders7,jdbcType=BIGINT},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      before_amount_1 = #{beforeAmount1,jdbcType=DECIMAL},
      before_amount_2 = #{beforeAmount2,jdbcType=DECIMAL},
      before_amount_3 = #{beforeAmount3,jdbcType=DECIMAL},
      before_amount_4 = #{beforeAmount4,jdbcType=DECIMAL},
      before_amount_5 = #{beforeAmount5,jdbcType=DECIMAL},
      before_amount_6 = #{beforeAmount6,jdbcType=DECIMAL},
      before_amount_7 = #{beforeAmount7,jdbcType=DECIMAL},
      last_use_date = #{lastUseDate,jdbcType=TIMESTAMP},
      calculate_date = #{calculateDate,jdbcType=TIMESTAMP}
    where device_id = #{deviceId,jdbcType=BIGINT}
  </update>
</mapper>