<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper
	namespace="com.stylefeng.guns.sharecore.modular.system.dao.CalculateMerchantDataModelMapper">
	<resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModel">
		<id column="merchant_id" property="merchantId" jdbcType="BIGINT" />
		<result column="merchant_type_id" property="merchantTypeId" jdbcType="BIGINT" />
		<result column="device_qty" property="deviceQty" jdbcType="BIGINT" />
		<result column="device_used_total_qty" property="deviceUsedTotalQty" jdbcType="BIGINT" />
		<result column="device_used_7days_qty" property="deviceUsed7daysQty" jdbcType="BIGINT" />
		<result column="device_7days_usage_rate" property="device7daysUsageRate" jdbcType="DECIMAL" />
		<result column="device_total_amount" property="deviceTotalAmount" jdbcType="DECIMAL" />
		<result column="last_used_date" property="lastUsedDate" jdbcType="TIMESTAMP" />
		<result column="calculate_date" property="calculateDate" jdbcType="TIMESTAMP" />
		<association property="merchantInfoModel"
			javaType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel">
			<id column="merchant_id" property="id" />
			<result column="name" property="name" />
			<result column="industry_category_cn" property="industryCategoryCn" />
			<result column="tel_no" property="telNo" />
			<result column="addr" property="addr" />
			<result column="create_time" property="createTime" />
		</association>
	</resultMap>
	
	<resultMap type="com.stylefeng.guns.sharecore.modular.system.model.DeviceNoUseOfMerchantBO" id="NoUseMerchantResultMap">
	    <id column="id" property="merchantId" jdbcType="BIGINT" />
	    <result column="name" property="name" jdbcType="VARCHAR" />
	    <result column="person_name" property="personName" jdbcType="VARCHAR" />
	    <result column="addr" property="addr" jdbcType="VARCHAR" />
	    <result column="tel_no" property="telNo" jdbcType="VARCHAR" />
	    <result column="industry_category_cn" property="industryCategoryCn" jdbcType="VARCHAR" />
	    <result column="device_used_total_qty" property="totalUsedCount" jdbcType="BIGINT" />
	    <result column="last_used_date" property="lastUsedTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem"
										open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		merchant_id, merchant_type_id, device_qty, device_used_total_qty,
		device_used_7days_qty,
		device_7days_usage_rate, device_total_amount, last_used_date, calculate_date
	</sql>

	<select id="nouseByMerchantOf7Days"
		parameterType="java.util.HashMap" resultMap="NoUseMerchantResultMap">
		SELECT DISTINCT mi.id,mi.`name`,mi.person_name,mi.tel_no,mi.addr,
		IFNULL(cmd.device_used_total_qty,0) device_used_total_qty,cmd.last_used_date,mi.industry_category_cn
		from share_charger sc 
		LEFT JOIN share_device_info  ON share_device_info.id = sc.device_id
		LEFT JOIN merchant_info mi ON mi.id=share_device_info.online_merchant_id
		LEFT JOIN calculate_merchant_data cmd ON cmd.merchant_id=mi.id
		WHERE 1=1 AND share_device_info.online_merchant_id is not null
		AND ( TO_DAYS(NOW( )) - TO_DAYS(sc.last_use_time) >= 7 OR 
		(sc.last_use_time is null AND device_status =10 AND  TO_DAYS(NOW( )) - TO_DAYS(online_datetime) >= 7) )
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
		<if test="order != null">
			<![CDATA[ 
			order by ${order}
	    	]]>
		</if>
		<if test="order == null">
		    order by cmd.last_used_date asc
		</if>
		<if test="limit != null">
			<![CDATA[ 
			LIMIT #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
	    	]]>
		</if>
	</select>
	
	<select id="listCalculateMerchantData"
		parameterType="java.util.HashMap" resultMap="BaseResultMap">
		SELECT
		mi.name,mi.industry_category_cn,
		mi.tel_no,mi.addr,mi.create_time,cmd.*
		FROM calculate_merchant_data cmd
		LEFT JOIN merchant_info mi ON mi.id=cmd.merchant_id
		where 1=1 and cmd.merchant_type_id =10
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
		<if test="order != null">
			<![CDATA[ 
			order by ${order}
	    	]]>
		</if>
		<if test="order == null and orderBySelf != null">
			order by cmd.${orderBySelf} desc
		</if>
		<if test="limit != null">
			<![CDATA[ 
			LIMIT #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
	    	]]>
		</if>
	</select>

	<select id="countCalculateMerchantData"
		parameterType="java.util.HashMap" resultType="java.lang.Long">
		SELECT count(cmd.merchant_id)
		FROM calculate_merchant_data cmd
		LEFT JOIN merchant_info mi ON mi.id=cmd.merchant_id
		where 1=1 and cmd.merchant_type_id =10
		<if test="filter != null">
		<![CDATA[ 
		 ${filter}
	   	]]>
		</if>
	</select>

	<select id="selectByExample" resultMap="BaseResultMap"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModelExample">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from calculate_merchant_data
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Long">
		select
		<include refid="Base_Column_List" />
		from calculate_merchant_data
		where merchant_id = #{merchantId,jdbcType=BIGINT}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from calculate_merchant_data
		where merchant_id = #{merchantId,jdbcType=BIGINT}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModelExample">
		delete from calculate_merchant_data
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModel">
		insert into calculate_merchant_data (merchant_id, merchant_type_id,
		device_qty,
		device_used_total_qty, device_used_7days_qty, device_7days_usage_rate,
		device_total_amount, last_used_date, calculate_date
		)
		values (#{merchantId,jdbcType=BIGINT}, #{merchantTypeId,jdbcType=BIGINT},
		#{deviceQty,jdbcType=BIGINT},
		#{deviceUsedTotalQty,jdbcType=BIGINT}, #{deviceUsed7daysQty,jdbcType=BIGINT},
		#{device7daysUsageRate,jdbcType=DECIMAL},
		#{deviceTotalAmount,jdbcType=DECIMAL},
		#{lastUsedDate,jdbcType=TIMESTAMP},
		#{calculateDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModel">
		insert into calculate_merchant_data
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="merchantId != null">
				merchant_id,
			</if>
			<if test="merchantTypeId != null">
				merchant_type_id,
			</if>
			<if test="deviceQty != null">
				device_qty,
			</if>
			<if test="deviceUsedTotalQty != null">
				device_used_total_qty,
			</if>
			<if test="deviceUsed7daysQty != null">
				device_used_7days_qty,
			</if>
			<if test="device7daysUsageRate != null">
				device_7days_usage_rate,
			</if>
			<if test="deviceTotalAmount != null">
				device_total_amount,
			</if>
			<if test="lastUsedDate != null">
				last_used_date,
			</if>
			<if test="calculateDate != null">
				calculate_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="merchantId != null">
				#{merchantId,jdbcType=BIGINT},
			</if>
			<if test="merchantTypeId != null">
				#{merchantTypeId,jdbcType=BIGINT},
			</if>
			<if test="deviceQty != null">
				#{deviceQty,jdbcType=BIGINT},
			</if>
			<if test="deviceUsedTotalQty != null">
				#{deviceUsedTotalQty,jdbcType=BIGINT},
			</if>
			<if test="deviceUsed7daysQty != null">
				#{deviceUsed7daysQty,jdbcType=BIGINT},
			</if>
			<if test="device7daysUsageRate != null">
				#{device7daysUsageRate,jdbcType=DECIMAL},
			</if>
			<if test="deviceTotalAmount != null">
				#{deviceTotalAmount,jdbcType=DECIMAL},
			</if>
			<if test="lastUsedDate != null">
				#{lastUsedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="calculateDate != null">
				#{calculateDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModelExample"
		resultType="java.lang.Integer">
		select count(*) from calculate_merchant_data
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update calculate_merchant_data
		<set>
			<if test="record.merchantId != null">
				merchant_id = #{record.merchantId,jdbcType=BIGINT},
			</if>
			<if test="record.merchantTypeId != null">
				merchant_type_id = #{record.merchantTypeId,jdbcType=BIGINT},
			</if>
			<if test="record.deviceQty != null">
				device_qty = #{record.deviceQty,jdbcType=BIGINT},
			</if>
			<if test="record.deviceUsedTotalQty != null">
				device_used_total_qty =
				#{record.deviceUsedTotalQty,jdbcType=BIGINT},
			</if>
			<if test="record.deviceUsed7daysQty != null">
				device_used_7days_qty =
				#{record.deviceUsed7daysQty,jdbcType=BIGINT},
			</if>
			<if test="record.device7daysUsageRate != null">
				device_7days_usage_rate =
				#{record.device7daysUsageRate,jdbcType=DECIMAL},
			</if>
			<if test="record.deviceTotalAmount != null">
				device_total_amount = #{record.deviceTotalAmount,jdbcType=DECIMAL},
			</if>
			<if test="record.lastUsedDate != null">
				last_used_date = #{record.lastUsedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.calculateDate != null">
				calculate_date = #{record.calculateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update calculate_merchant_data
		set merchant_id = #{record.merchantId,jdbcType=BIGINT},
		merchant_type_id = #{record.merchantTypeId,jdbcType=BIGINT},
		device_qty = #{record.deviceQty,jdbcType=BIGINT},
		device_used_total_qty = #{record.deviceUsedTotalQty,jdbcType=BIGINT},
		device_used_7days_qty = #{record.deviceUsed7daysQty,jdbcType=BIGINT},
		device_7days_usage_rate =
		#{record.device7daysUsageRate,jdbcType=DECIMAL},
		device_total_amount = #{record.deviceTotalAmount,jdbcType=DECIMAL},
		last_used_date = #{record.lastUsedDate,jdbcType=TIMESTAMP},
		calculate_date = #{record.calculateDate,jdbcType=TIMESTAMP}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModel">
		update calculate_merchant_data
		<set>
			<if test="merchantTypeId != null">
				merchant_type_id = #{merchantTypeId,jdbcType=BIGINT},
			</if>
			<if test="deviceQty != null">
				device_qty = #{deviceQty,jdbcType=BIGINT},
			</if>
			<if test="deviceUsedTotalQty != null">
				device_used_total_qty = #{deviceUsedTotalQty,jdbcType=BIGINT},
			</if>
			<if test="deviceUsed7daysQty != null">
				device_used_7days_qty = #{deviceUsed7daysQty,jdbcType=BIGINT},
			</if>
			<if test="device7daysUsageRate != null">
				device_7days_usage_rate = #{device7daysUsageRate,jdbcType=DECIMAL},
			</if>
			<if test="deviceTotalAmount != null">
				device_total_amount = #{deviceTotalAmount,jdbcType=DECIMAL},
			</if>
			<if test="lastUsedDate != null">
				last_used_date = #{lastUsedDate,jdbcType=TIMESTAMP},
			</if>
			<if test="calculateDate != null">
				calculate_date = #{calculateDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where merchant_id = #{merchantId,jdbcType=BIGINT}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.stylefeng.guns.sharecore.modular.system.model.CalculateMerchantDataModel">
		update calculate_merchant_data
		set merchant_type_id = #{merchantTypeId,jdbcType=BIGINT},
		device_qty = #{deviceQty,jdbcType=BIGINT},
		device_used_total_qty = #{deviceUsedTotalQty,jdbcType=BIGINT},
		device_used_7days_qty = #{deviceUsed7daysQty,jdbcType=BIGINT},
		device_7days_usage_rate = #{device7daysUsageRate,jdbcType=DECIMAL},
		device_total_amount = #{deviceTotalAmount,jdbcType=DECIMAL},
		last_used_date = #{lastUsedDate,jdbcType=TIMESTAMP},
		calculate_date = #{calculateDate,jdbcType=TIMESTAMP}
		where merchant_id = #{merchantId,jdbcType=BIGINT}
	</update>
</mapper>