<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.CapitalChangeRecordModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel" >
    <id column="CAPITAL_CHANGE_ID" property="capitalChangeId" jdbcType="BIGINT" />
    <result column="trade_record_id" property="tradeRecordId" jdbcType="BIGINT" />
    <result column="payer_cust_no" property="payerCustNo" jdbcType="BIGINT" />
    <result column="payer_account_id" property="payerAccountId" jdbcType="BIGINT" />
    <result column="collect_cust_no" property="collectCustNo" jdbcType="BIGINT" />
    <result column="collect_account_id" property="collectAccountId" jdbcType="BIGINT" />
    <result column="amount" property="amount" jdbcType="DECIMAL" />
    <result column="flow_type" property="flowType" jdbcType="TINYINT" />
    <result column="capital_status" property="capitalStatus" jdbcType="TINYINT" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="return_msg" property="returnMsg" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    CAPITAL_CHANGE_ID, trade_record_id, payer_cust_no, payer_account_id, collect_cust_no, 
    collect_account_id, amount, flow_type, capital_status, return_code, return_msg, create_time, 
    update_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from capital_change_record
    where CAPITAL_CHANGE_ID = #{capitalChangeId,jdbcType=BIGINT}
  </select>
   
  <resultMap id="selectByTradeIdResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel">
		<result column="payee_cust_name" property="payeeCustName" jdbcType="VARCHAR" />
		<result column="payer_cust_name" property="payerCustName" jdbcType="VARCHAR" />		
		<result column="flow_type" property="flowType" jdbcType="TINYINT" />
		<result column="amount" property="amount" jdbcType="DECIMAL" />
		
		<result column="return_msg" property="returnMsg" jdbcType="VARCHAR" />
		<result column="capital_status" property="capitalStatus" jdbcType="TINYINT" />	
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		
			
		<association property="capitalChangeFlowModels" resultMap="capitalChangeFlowModelsResultMap"/>
	</resultMap>
	
	<resultMap id="capitalChangeFlowModelsResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeFlowModel">	
		   
		    <result column="balance" property="balance" jdbcType="DECIMAL" />
		    <result column="frozen_balance" property="frozenBalance" jdbcType="DECIMAL" />
		    <result column="available_balance" property="availableBalance" jdbcType="DECIMAL" />		    
		    <result column="capital_type" property="capitalType" jdbcType="TINYINT" />
		    
		    <result column="capital_flow_create_time" property="createTime" jdbcType="TIMESTAMP" />		   
	</resultMap>
	
	<select id="selectByTradeId" resultMap="selectByTradeIdResultMap"
		parameterType="java.lang.Long">
		SELECT 
		cir.nick_name as payer_cust_name, cie.nick_name as payee_cust_name,ccr.flow_type,ccr.amount,ccr.return_msg,
		ccr.create_time,ccr.capital_status,
		
		ccf.balance,ccf.AVAILABLE_BALANCE,ccf.frozen_balance,ccf.CAPITAL_TYPE
		,ccf.create_time AS capital_flow_create_time
		
		FROM capital_change_record ccr

		LEFT JOIN capital_change_flow ccf
		ON ccr.CAPITAL_CHANGE_ID = ccf.CAPITAL_CHANGE_ID
		LEFT JOIN cust_info cir ON cir.cust_no = ccr.payer_cust_no
		LEFT JOIN cust_info cie ON cie.cust_no = ccr.collect_cust_no
		WHERE ccr.trade_record_id = #{tradeId,jdbcType=BIGINT}			
		
		ORDER BY ccr.create_time DESC, ccf.create_time DESC		
	</select>
	
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from capital_change_record
    where CAPITAL_CHANGE_ID = #{capitalChangeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel" >
    insert into capital_change_record (CAPITAL_CHANGE_ID, trade_record_id, payer_cust_no, 
      payer_account_id, collect_cust_no, collect_account_id, 
      amount, flow_type, capital_status, 
      return_code, return_msg, create_time, 
      update_date)
    values (#{capitalChangeId,jdbcType=BIGINT}, #{tradeRecordId,jdbcType=BIGINT}, #{payerCustNo,jdbcType=BIGINT}, 
      #{payerAccountId,jdbcType=BIGINT}, #{collectCustNo,jdbcType=BIGINT}, #{collectAccountId,jdbcType=BIGINT}, 
      #{amount,jdbcType=DECIMAL}, #{flowType,jdbcType=TINYINT}, #{capitalStatus,jdbcType=TINYINT}, 
      #{returnCode,jdbcType=VARCHAR}, #{returnMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateDate,jdbcType=TIMESTAMP})
  </insert>
  
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel" >
    insert into capital_change_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="capitalChangeId != null" >
        CAPITAL_CHANGE_ID,
      </if>
      <if test="tradeRecordId != null" >
        trade_record_id,
      </if>
      <if test="payerCustNo != null" >
        payer_cust_no,
      </if>
      <if test="payerAccountId != null" >
        payer_account_id,
      </if>
      <if test="collectCustNo != null" >
        collect_cust_no,
      </if>
      <if test="collectAccountId != null" >
        collect_account_id,
      </if>
      <if test="amount != null" >
        amount,
      </if>
      <if test="flowType != null" >
        flow_type,
      </if>
      <if test="capitalStatus != null" >
        capital_status,
      </if>
      <if test="returnCode != null" >
        return_code,
      </if>
      <if test="returnMsg != null" >
        return_msg,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="capitalChangeId != null" >
        #{capitalChangeId,jdbcType=BIGINT},
      </if>
      <if test="tradeRecordId != null" >
        #{tradeRecordId,jdbcType=BIGINT},
      </if>
      <if test="payerCustNo != null" >
        #{payerCustNo,jdbcType=BIGINT},
      </if>
      <if test="payerAccountId != null" >
        #{payerAccountId,jdbcType=BIGINT},
      </if>
      <if test="collectCustNo != null" >
        #{collectCustNo,jdbcType=BIGINT},
      </if>
      <if test="collectAccountId != null" >
        #{collectAccountId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="flowType != null" >
        #{flowType,jdbcType=TINYINT},
      </if>
      <if test="capitalStatus != null" >
        #{capitalStatus,jdbcType=TINYINT},
      </if>
      <if test="returnCode != null" >
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null" >
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel" >
    update capital_change_record
    <set >
      <if test="payerCustNo != null" >
        payer_cust_no = #{payerCustNo,jdbcType=BIGINT},
      </if>
      <if test="payerAccountId != null" >
        payer_account_id = #{payerAccountId,jdbcType=BIGINT},
      </if>
      <if test="collectCustNo != null" >
        collect_cust_no = #{collectCustNo,jdbcType=BIGINT},
      </if>
      <if test="collectAccountId != null" >
        collect_account_id = #{collectAccountId,jdbcType=BIGINT},
      </if>
      <if test="amount != null" >
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="flowType != null" >
        flow_type = #{flowType,jdbcType=TINYINT},
      </if>
      <if test="capitalStatus != null" >
        capital_status = #{capitalStatus,jdbcType=TINYINT},
      </if>
      <if test="returnCode != null" >
        return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null" >
        return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      
    </set>
    where CAPITAL_CHANGE_ID = #{capitalChangeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.CapitalChangeRecordModel" >
    update capital_change_record
    set 
      payer_cust_no = #{payerCustNo,jdbcType=BIGINT},
      payer_account_id = #{payerAccountId,jdbcType=BIGINT},
      collect_cust_no = #{collectCustNo,jdbcType=BIGINT},
      collect_account_id = #{collectAccountId,jdbcType=BIGINT},
      amount = #{amount,jdbcType=DECIMAL},
      flow_type = #{flowType,jdbcType=TINYINT},
      capital_status = #{capitalStatus,jdbcType=TINYINT},
      return_code = #{returnCode,jdbcType=VARCHAR},
      return_msg = #{returnMsg,jdbcType=VARCHAR},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where CAPITAL_CHANGE_ID = #{capitalChangeId,jdbcType=BIGINT}
  </update>  
</mapper>