<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.ChannelCapitalRecordMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ChannelCapitalRecord" >
    <id column="record_id" property="recordId" jdbcType="BIGINT" />
    <result column="out_trade_no" property="outTradeNo" jdbcType="BIGINT" />
    <result column="trade_record_id" property="tradeRecordId" jdbcType="BIGINT" />
    <result column="cust_no" property="custNo" jdbcType="BIGINT" />
    <result column="mch_id" property="mchId" jdbcType="VARCHAR" />
    <result column="transaction_id" property="transactionId" jdbcType="VARCHAR" />
    <result column="time_end" property="timeEnd" jdbcType="TIMESTAMP" />
    <result column="total_fee" property="totalFee" jdbcType="DECIMAL" />
    <result column="bank_type" property="bankType" jdbcType="VARCHAR" />
    <result column="trade_type" property="tradeType" jdbcType="VARCHAR" />
    <result column="channel_type" property="channelType" jdbcType="TINYINT" />
    <result column="result_code" property="resultCode" jdbcType="VARCHAR" />
    <result column="result_desc" property="resultDesc" jdbcType="VARCHAR" />
    <result column="fee_type" property="feeType" jdbcType="VARCHAR" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="TINYINT" />
     <result column="recon_status" property="reconStatus" jdbcType="TINYINT" />
    <result column="capital_change_Id" property="capitalChangeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    record_id, out_trade_no,trade_record_id,cust_no, mch_id, transaction_id, time_end, total_fee, bank_type, 
    trade_type, channel_type,result_desc, result_code, fee_type, update_time, create_time, open_id, 
    status,recon_status, capital_change_Id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from channel_capital_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKeyFromMaster" resultMap="BaseResultMap" parameterType="java.lang.Long" >
     /*FORCE_MASTER*/ select 
    <include refid="Base_Column_List" />
    from channel_capital_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </select>

  <select id="selectByOutTradeNoFromMaster" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    /*FORCE_MASTER*/ select
    <include refid="Base_Column_List" />
    from channel_capital_record
    where out_trade_no = #{outTradeId,jdbcType=BIGINT}
  </select>
  
  <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long" >
   /*FORCE_MASTER*/ select 
    <include refid="Base_Column_List" />
    from channel_capital_record
    where record_id = #{recordId,jdbcType=BIGINT} for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from channel_capital_record
    where record_id = #{recordId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChannelCapitalRecord" >
    insert into channel_capital_record (record_id, out_trade_no,trade_record_id,cust_no, mch_id, 
      transaction_id, time_end, total_fee, 
      bank_type, trade_type, channel_type, result_desc,
      result_code, fee_type, update_time, 
      create_time, open_id, status, 
      capital_change_Id)
    values (#{recordId,jdbcType=BIGINT}, #{outTradeNo,jdbcType=BIGINT},#{tradeRecordId,jdbcType=BIGINT},#{custNo,jdbcType=BIGINT}, #{mchId,jdbcType=VARCHAR}, 
      #{transactionId,jdbcType=VARCHAR}, #{timeEnd,jdbcType=TIMESTAMP}, #{totalFee,jdbcType=DECIMAL}, 
      #{bankType,jdbcType=VARCHAR}, #{tradeType,jdbcType=VARCHAR}, #{channelType,jdbcType=TINYINT}, 
      #{resultDesc,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, #{feeType,jdbcType=VARCHAR}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{openId,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{outTradeNo,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChannelCapitalRecord" >
    insert into channel_capital_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        record_id,
      </if>
      <if test="outTradeNo != null" >
        out_trade_no,
      </if>
       <if test="tradeRecordId != null" >
        trade_record_id,
      </if>
       <if test="custNo != null" >
        cust_no,
      </if>
      <if test="mchId != null" >
        mch_id,
      </if>
      <if test="transactionId != null" >
        transaction_id,
      </if>
      <if test="timeEnd != null" >
        time_end,
      </if>
      <if test="totalFee != null" >
        total_fee,
      </if>
      <if test="bankType != null" >
        bank_type,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="channelType != null" >
        channel_type,
      </if>
      <if test="resultDesc != null" >
        result_desc,
      </if> 
      <if test="resultCode != null" >
        result_code,
      </if>
      <if test="feeType != null" >
        fee_type,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="capitalChangeId != null" >
        capital_change_Id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="recordId != null" >
        #{recordId,jdbcType=BIGINT},
      </if>
      <if test="outTradeNo != null" >
        #{outTradeNo,jdbcType=BIGINT},
      </if>
      <if test="tradeRecordId != null" >
        #{tradeRecordId,jdbcType=BIGINT},
      </if>
      <if test="custNo != null" >
        #{custNo,jdbcType=BIGINT},
      </if>
      <if test="mchId != null" >
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null" >
        #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="bankType != null" >
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        #{channelType,jdbcType=TINYINT},
      </if>      
       <if test="resultDesc != null" >
        #{result_desc,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="capitalChangeId != null" >
        #{capitalChangeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChannelCapitalRecord" >
    update channel_capital_record
    <set >
      
      <if test="mchId != null" >
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null" >
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null" >
        time_end = #{timeEnd,jdbcType=TIMESTAMP},
      </if>
      <if test="totalFee != null" >
        total_fee = #{totalFee,jdbcType=DECIMAL},
      </if>
      <if test="bankType != null" >
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="channelType != null" >
        channel_type = #{channelType,jdbcType=TINYINT},
      </if>      
       <if test="resultDesc != null" >
        result_desc = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null" >
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="feeType != null" >
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      
       <if test="reconStatus != null" >
        recon_status = #{reconStatus,jdbcType=TINYINT},
      </if>
         <if test="recvBank != null" >
        recv_bank = #{recvBank,jdbcType=VARCHAR},
      </if>
    </set>
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChannelCapitalRecord" >
    update channel_capital_record
    set  
      mch_id = #{mchId,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=TIMESTAMP},
      total_fee = #{totalFee,jdbcType=DECIMAL},
      bank_type = #{bankType,jdbcType=VARCHAR},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      channel_type = #{channelType,jdbcType=TINYINT},
      result_desc = #{resultDesc,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR},
      fee_type = #{feeType,jdbcType=VARCHAR},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      open_id = #{openId,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT} 
    where record_id = #{recordId,jdbcType=BIGINT}
  </update>
</mapper>