<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.DevTradeGatherInfoModelBySelfMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.DevTradeGatherInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="his_trade_amount" property="hisTradeAmount" jdbcType="DECIMAL" />
    <result column="his_trade_count" property="hisTradeCount" jdbcType="INTEGER" />
    <result column="yes_trade_amount" property="yesTradeAmount" jdbcType="DECIMAL" />
    <result column="yes_trade_count" property="yesTradeCount" jdbcType="INTEGER" />
    <result column="unit_Price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="count_time" property="countTime" jdbcType="DATE" />
    <result column="is_repair" property="isRepair" jdbcType="TINYINT" />
  </resultMap>
  <update id="updateDevTradeGaterTask">
  	UPDATE task_run_info SET `success_Last_run_time`=NOW() WHERE task_name='dev_trade_gather_info'
  </update>
  <insert id="initCalculateDeviceData" >
	insert INTO calculate_device_data(device_id,
		history_orders,before_orders_1,before_orders_2,before_orders_3,before_orders_4,before_orders_5,before_orders_6,before_orders_7,
		history_finish_orders,before_finish_orders_1,before_finish_orders_2,before_finish_orders_3,before_finish_orders_4,before_finish_orders_5,before_finish_orders_6,before_finish_orders_7,
	 	total_amount,before_amount_1,before_amount_2,before_amount_3,before_amount_4,before_amount_5,before_amount_6,before_amount_7,
		last_use_date,calculate_date)
	select dv.Id,
		0 as history_orders,0 as before_orders_1,0 as before_orders_2,0 as before_orders_3,0 as before_orders_4, 0 as before_orders_5,0 as before_orders_6,0 as before_orders_7,
	  	0 as history_finish_orders,0 as before_finish_orders_1,0 as before_finish_orders_2,0 as before_finish_orders_3,0 as before_finish_orders_4,0 as before_finish_orders_5,0 as before_finish_orders_6,0 as before_finish_orders_7,
	  	0 as total_amount,0 as before_amount_1,0 as before_amount_2,0 as before_amount_3,0 as before_amount_4, 0 as before_amount_5,0 as before_amount_6,0 as before_amount_7,
	  	null as last_use_date, '2019-1-1' as calculate_date
	from share_device_info dv
	Left join calculate_device_data dt on dv.Id=dt.device_id
	where dt.device_id is null
  </insert> 
  <update id="updateCalculateDeviceDataOrdersCnt">
 	<![CDATA[
 		update calculate_device_data dt,
		 (select count(1) as ordersCnt,trd.device_no,max(trd.borrow_datetime) as last_use_date
			from calculate_device_data dt
			join share_trade_info trd on dt.device_id=trd.device_no
			where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') 
				and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
			group by trd.device_no) ordTab
		set dt.history_orders=dt.history_orders+ordTab.ordersCnt
			 ,dt.last_use_date=IFNULL(ordTab.last_use_date,dt.last_use_date)
		where  ordTab.device_id=dt.device_id
	]]>
  </update> 
  <update id="updateCalculateDeviceDataOrdersCnt1">
 	<![CDATA[
		update calculate_device_data dt,
		  (select count(1) as cnt1,trd.device_no
					from calculate_device_data dt
					join share_trade_info trd on dt.device_id=trd.device_no
					where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -1 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
					group by trd.device_no) ordTab
		set dt.before_orders_1= ordTab.cnt1
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt2">
 	<![CDATA[
	 	update calculate_device_data dt,
		(select count(1) as cnt2,trd.device_no
			from  share_trade_info trd
			where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -2 day) 
					and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -1 day)
			group by trd.device_no) ordTab
		set dt.before_orders_2=ordTab.cnt2
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt3">
 	<![CDATA[
	 	update calculate_device_data dt,
		(select count(1) as cnt3,trd.device_no
				from  share_trade_info trd
				where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -3 day) 
	        		and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -2 day)
				group by trd.device_no) ordTab
		set dt.before_orders_3=ordTab.cnt3
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt4">
 	<![CDATA[
		update calculate_device_data dt,
		(select count(1) as cnt4,trd.device_no
				from  share_trade_info trd
				where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -4 day) 
					and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -3 day)
				group by trd.device_no) ordTab
		set dt.before_orders_4=ordTab.cnt4
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt5">
 	<![CDATA[
		update calculate_device_data dt,
		(select count(1) as cnt5,trd.device_no
				from  share_trade_info trd
				where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -5 day) 
				  and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -4 day)
				group by trd.device_no)  ordTab
		set dt.before_orders_5=ordTab.cnt5
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt6">
 	<![CDATA[
		update calculate_device_data dt,
		(select count(1) as cnt6,trd.device_no
				from  share_trade_info trd
				where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -6 day) 
					and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -5 day)
				group by trd.device_no) ordTab
		set dt.before_orders_6=ordTab.cnt6
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalculateDeviceDataOrdersCnt7">
 	<![CDATA[
		update calculate_device_data dt,
			(select count(1) as cnt7,trd.device_no
					from  share_trade_info trd
					where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) 
						and trd.borrow_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -6 day)
					group by trd.device_no) ordTab
		set dt.before_orders_7=ordTab.cnt7
		where  ordTab.device_no=dt.device_id
	]]>
  </update>
  
  <update id="updateCalDeviceDataForFinish">
 	<![CDATA[
 		update calculate_device_data dt,
			(select count(1) as ordersCnt
					,sum(IFNULL(trd.trade_amount,0)) as amnt
					,trd.device_no
			 from calculate_device_data dt
			 join share_trade_info trd on dt.device_id=trd.device_no
			 where trd.back_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') 
				 and trd.back_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
			 group by trd.device_no) ordTab
		set dt.history_finish_orders=dt.history_finish_orders+ordTab.ordersCnt
			 ,dt.total_amount=dt.total_amount+ordTab.amnt
		where ordTab.device_no=dt.device_id
	]]>
  </update>
  
  <update id="updateCalDeviceDataForFinish1">
 	<![CDATA[
 	update calculate_device_data dt,
		(select count(1) as cnt1
		  ,sum(IFNULL(trd.trade_amount,0)) as amnt1
			,trd.device_no
		from calculate_device_data dt
		join share_trade_info trd on dt.device_id=trd.device_no
		where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -1 day) 
			and trd.back_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by trd.device_no) ordTab
	set dt.before_finish_orders_1=ordTab.cnt1
		 ,dt.before_amount_1=ordTab.amnt1
	where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish2">
 	<![CDATA[
 		update calculate_device_data dt,
		(select count(1) as cnt2
			,sum(IFNULL(trd.trade_amount,0)) as amnt2
			,trd.device_no
		 from  share_trade_info trd
		 where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -2 day) 
			 and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -1 day)
		 group by trd.device_no) ordTab
		set dt.before_finish_orders_2=ordTab.cnt2
			 ,dt.before_amount_2=ordTab.amnt2
		where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish3">
 	<![CDATA[
 		update calculate_device_data dt,
			(select count(1) as cnt3
				,sum(IFNULL(trd.trade_amount,0)) as amnt3
				,trd.device_no
			from  share_trade_info trd
			where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -3 day) 
				and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -2 day)
			group by trd.device_no) ordTab
		set dt.before_finish_orders_3=ordTab.cnt3
			 ,dt.before_amount_3=ordTab.amnt3
		where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish4">
 	<![CDATA[
 	update calculate_device_data dt,
		(select count(1) as cnt4
				,sum(IFNULL(trd.trade_amount,0)) as amnt4
				,trd.device_no
		 from  share_trade_info trd
		 where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -4 day) 
				and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -3 day)
		 group by trd.device_no) ordTab
	set dt.before_finish_orders_4=ordTab.cnt4
		 ,dt.before_amount_4=ordTab.amnt4
	where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish5">
 	<![CDATA[
 	update calculate_device_data dt,
		(select count(1) as cnt5
			,sum(IFNULL(trd.trade_amount,0)) as amnt5
			,trd.device_no
		from  share_trade_info trd
		where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -5 day) 
			and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -4 day)
		group by trd.device_no) ordTab
	set dt.before_finish_orders_5=ordTab.cnt5
		 ,dt.before_amount_5=ordTab.amnt5
	where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish6">
 	<![CDATA[
 		update calculate_device_data dt,
		(select count(1) as cnt6
				,sum(IFNULL(trd.trade_amount,0)) as amnt6
				,trd.device_no
			from  share_trade_info trd
			where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -6 day) 
				and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -5 day)
			group by trd.device_no) ordTab
		set dt.before_finish_orders_6=ordTab.cnt6
			 ,dt.before_amount_6=ordTab.amnt6
		where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForFinish7">
 	<![CDATA[
 		update calculate_device_data dt,
		(select count(1) as cnt7,sum(IFNULL(trd.trade_amount,0)) as amnt7,trd.device_no
			from  share_trade_info trd
			where trd.back_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) 
				and trd.back_datetime<DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -6 day)
			group by trd.device_no) ordTab
		set dt.before_finish_orders_7=ordTab.cnt7
			 ,dt.before_amount_7=ordTab.amnt7
		where ordTab.device_no=dt.device_id
	]]>
  </update>
  <update id="updateCalDeviceDataForUpdateDate">
 	<![CDATA[
  	update calculate_device_data 
  	set calculate_date=DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
	where 1=1
	]]>
  </update>
  <insert id="initCalculateMerchantData" >
	insert into calculate_merchant_data(merchant_id,
			merchant_type_id,
			device_qty,
			device_used_total_qty,
			device_used_7days_qty,
			device_7days_usage_rate,
			device_total_amount,
			last_used_date,
			calculate_date)
	select mer.id as merchant_id,
			mer.merchant_type as merchant_type_id,
			0 as device_qty,
			0 as device_used_total_qty,
			0 as device_used_7days_qty,
			0 as device_7days_usage_rate,
			0 as device_total_amount,
			null as last_used_date,
			'2019-1-1' as calculate_date
	from merchant_info mer
	LEFT JOIN calculate_merchant_data cal on mer.id=cal.merchant_id
	where cal.merchant_id is null
  </insert>
  <update id="updateCalMerDtForUpdateDateQty">
 	<![CDATA[
 	 update calculate_merchant_data dt,
	   (select cal.merchant_id,count(1) as devCnt
		 from calculate_merchant_data cal
		 join share_device_info shareDev  on (cal.merchant_id=shareDev.agents1_id 
											   or cal.merchant_id=shareDev.agents2_id 
											   or cal.merchant_id=shareDev.agents3_id
											   or cal.merchant_id=shareDev.shopkeeper_id 
											   or cal.merchant_id=shareDev.alliance_business_id
											   or cal.merchant_id=shareDev.online_merchant_id)
		 group by cal.merchant_id
	   ) dayTab
	set dt.device_qty=dayTab.devCnt
	where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg1ForUpdateDateAmount">	
 	<![CDATA[
 	update calculate_merchant_data dt,
		(select dt.merchant_id,count(1) as cnt
				,sum(IFNULL(trd.trade_amount,0)) as sumAmount
				,max(trd.borrow_datetime) as last_used_date
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.agents1_id
		where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	 ) dayTab
	set  dt.device_total_amount=dayTab.sumAmount
		 ,dt.device_used_total_qty=dayTab.cnt
		 ,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
	where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg1ForUpdateDateCNT7">	
 	<![CDATA[
  	update calculate_merchant_data dt,
	(select dt.merchant_id,count(1) as cnt7,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
			from calculate_merchant_data dt
			join share_trade_info trd on dt.merchant_id =trd.agents1_id
			where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
			group by dt.merchant_id
	 ) dayTab
	set dt.device_used_7days_qty=dayTab.cnt7
	where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg2ForUpdateDateAmount">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt
			,sum(IFNULL(trd.trade_amount,0)) as sumAmount
			,max(trd.borrow_datetime) as last_used_date
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.agents2_id
		where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	 ) as dayTab 
	set  dt.device_total_amount=dayTab.sumAmount
		 ,dt.device_used_total_qty=dayTab.cnt
		 ,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
	where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg2ForUpdateDateCNT7">
   <![CDATA[	
	update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt7
			,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.agents2_id
		where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	) as dayTab 
	set  dt.device_used_7days_qty=dayTab.cnt7
	where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg3ForUpdateDateAmount">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt
			,sum(IFNULL(trd.trade_amount,0)) as sumAmount
			,max(trd.borrow_datetime) as last_used_date
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.agents3_id
		where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	 ) dayTab
   set dt.device_total_amount=dayTab.sumAmount
	  ,dt.device_used_total_qty=dayTab.cnt
	  ,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAg3ForUpdateDateCNT7">
   <![CDATA[   
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt7
			,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
	 from calculate_merchant_data dt
	 join share_trade_info trd on dt.merchant_id =trd.agents3_id
	 where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day)
	 	 and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id) dayTab 
   set dt.device_used_7days_qty=dayTab.cnt7
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtKeeperForUpdateDateAmount">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
				,count(1) as cnt
				,sum(IFNULL(trd.trade_amount,0)) as sumAmount
				,max(trd.borrow_datetime) as last_used_date
			from calculate_merchant_data dt
			join share_trade_info trd on dt.merchant_id =trd.shopkeeper_id
			where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
			group by dt.merchant_id
	 ) dayTab
   set  dt.device_total_amount=dayTab.sumAmount
		,dt.device_used_total_qty=dayTab.cnt
		,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtKeeperForUpdateDateCNT7">
   <![CDATA[   
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt7
			,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.shopkeeper_id
		where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id) dayTab 
   set dt.device_used_7days_qty=dayTab.cnt7
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAlliForUpdateDateAmount">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt
			,sum(IFNULL(trd.trade_amount,0)) as sumAmount
			,max(trd.borrow_datetime) as last_used_date
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.alliance_business_id
		where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	 ) dayTab
   set  dt.device_total_amount=dayTab.sumAmount
	   ,dt.device_used_total_qty=dayTab.cnt
	   ,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtAlliForUpdateDateCNT7">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt7
			,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.alliance_business_id
		where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id) dayTab 
   set dt.device_used_7days_qty=dayTab.cnt7
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtMerForUpdateDateAmount">
   <![CDATA[
   update calculate_merchant_data dt,
	(select dt.merchant_id
				,count(1) as cnt
				,sum(IFNULL(trd.trade_amount,0)) as sumAmount
				,max(trd.borrow_datetime) as last_used_date
			from calculate_merchant_data dt
			join share_trade_info trd on dt.merchant_id =trd.merchant_id
			where trd.borrow_datetime>=DATE_FORMAT(dt.calculate_date,'%Y-%m-%d') and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
			group by dt.merchant_id
	 ) dayTab
   set dt.device_total_amount=dayTab.sumAmount
	  ,dt.device_used_total_qty=dayTab.cnt
	  ,dt.last_used_date=IFNULL(dayTab.last_used_date,dt.last_used_date)
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtMerForUpdateDateCNT7">
   <![CDATA[   
   update calculate_merchant_data dt,
	(select dt.merchant_id
			,count(1) as cnt7
			,sum(IFNULl(trd.trade_amount,0)) as sumAmount7
		from calculate_merchant_data dt
		join share_trade_info trd on dt.merchant_id =trd.merchant_id
		where trd.borrow_datetime>=DATE_ADD(DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d'),INTERVAL -7 day) and trd.borrow_datetime<DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
		group by dt.merchant_id
	 ) as dayTab 
   set dt.device_used_7days_qty=dayTab.cnt7
   where dayTab.merchant_id=dt.merchant_id
	]]>
  </update>
  <update id="updateCalMerDtForUpdateDate">
 	<![CDATA[
 	update calculate_merchant_data
 	set calculate_date=DATE_FORMAT(#{updateDate,jdbcType=TIMESTAMP},'%Y-%m-%d')
	where 1=1
	]]>
  </update>
  <resultMap id="selectByDeviceIdBaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.DevTradeGatherInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="his_trade_amount" property="hisTradeAmount" jdbcType="DECIMAL" />
    <result column="his_trade_count" property="hisTradeCount" jdbcType="INTEGER" />
    <result column="yes_trade_amount" property="yesTradeAmount" jdbcType="DECIMAL" />
    <result column="yes_trade_count" property="yesTradeCount" jdbcType="INTEGER" />
    <result column="unit_Price" property="unitPrice" jdbcType="DECIMAL" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="count_time" property="countTime" jdbcType="DATE" />
    <result column="is_repair" property="isRepair" jdbcType="TINYINT" />
  </resultMap>
  <select id="selectByDeviceId" resultMap="selectByDeviceIdBaseResultMap" parameterType="java.lang.Long" >
   select device_id as id,
			device_id,
			total_amount as his_trade_amount,
			history_orders as his_trade_count,
			before_amount_1 as yes_trade_amount,
			before_orders_1	as yes_trade_count,
			case when history_orders>0 then total_amount*100.0/history_orders  else 0 end as unit_Price,
			last_use_date as create_time,
			calculate_date as update_time,
			history_orders	as count_time,
			0 as is_repair	
	from calculate_device_data 
	where device_id= #{deviceId,jdbcType=BIGINT}
  </select>
  <update id="updateCalMerDtFor7daysUsageRate">
 	<![CDATA[
 	update calculate_merchant_data set device_7days_usage_rate=device_used_7days_qty*100.0/device_qty/7 where device_qty>0
	]]>
  </update>
  <update id="updateCalMerDtFor7daysUsageRate0">
 	<![CDATA[
 	update calculate_merchant_data set device_7days_usage_rate=0 where device_qty=0
	]]>
  </update>
</mapper>