<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.MerchantInfoModelBySelfMapper" >
  <resultMap id="selectForPageResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="available_balance" property="custAccount.availableBalance" jdbcType="DECIMAL" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="tel_no" property="telNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="merchant_type" property="merchantType" jdbcType="TINYINT" />
    <result column="merchant_type_cn" property="merchantTypeCn" jdbcType="VARCHAR" />
    <result column="parent_merchant_id" property="parentMerchantId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="merchant_level" property="merchantLevel" jdbcType="TINYINT" />
    <result column="merchant_level_cn" property="merchantLevelCn" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="merchant_zone" property="merchantZone" jdbcType="VARCHAR" />
    <result column="industry_category_code" property="industryCategoryCode" jdbcType="TINYINT" />
    <result column="industry_category_cn" property="industryCategoryCn" jdbcType="VARCHAR" />
    <result column="contract_cycle" property="contractCycle" jdbcType="TINYINT" />
    <result column="settlement_account" property="settlementAccount" jdbcType="VARCHAR" />
    <result column="his_trade_count" property="hisTradeCount" jdbcType="INTEGER" />
    <result column="shopkeeper_type" property="shopkeeperType" jdbcType="TINYINT" />
    <result column="shopkeeper_type_cn" property="shopkeeperTypeCn" jdbcType="VARCHAR" />
    <result column="is_online_service" property="isOnlineService" jdbcType="TINYINT" />
    <result column="his_trade_amount" property="hisTradeAmount" jdbcType="DECIMAL" />
    <result column="invest_money" property="investMoney" jdbcType="DECIMAL" />
    <result column="settlement_cust_no" property="settlementCustNo" jdbcType="BIGINT" />
    <result column="client_type" property="clientType" jdbcType="TINYINT" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="uniform_social_credit_code" property="uniformSocialCreditCode" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="withdraw_scale" property="withdrawScale" jdbcType="REAL" />
    <result column="trade_amount_show_flag" property="tradeAmountShowFlag" jdbcType="TINYINT" />
    <result column="share_qr_code_path" property="shareQrCodePath" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="receiver_addr" property="receiverAddr" jdbcType="VARCHAR" />
    <result column="current_round_num" property="currentRoundNum" jdbcType="INTEGER" />
    <result column="total_round_num" property="totalRoundNum" jdbcType="INTEGER" />
    <result column="id_name" property="idName" jdbcType="VARCHAR" />
    <result column="advance_profit_flag" property="advanceProfitFlag" jdbcType="TINYINT" />
    <result column="tec_fee_accumulate" property="tecFeeAccumulate" jdbcType="DECIMAL" />
    <result column="merchant_sub_type" property="merchantSubType" jdbcType="TINYINT" />
    <result column="merchant_sub_type_cn" property="merchantSubTypeCn" jdbcType="VARCHAR" />
    <result column="start_shop_time" property="startShopTime" jdbcType="VARCHAR" />
    <result column="end_shop_time" property="endShopTime" jdbcType="VARCHAR" />
    <result column="star_level" property="starLevel" jdbcType="REAL" />
    <result column="week_use_scale" property="weekUseScale" jdbcType="DECIMAL" />
    <result column="per_consume" property="perConsume" jdbcType="DECIMAL" />
    <result column="store_phone_no" property="storePhoneNo" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="is_phone_check" property="isPhoneCheck" jdbcType="TINYINT" />
    <result column="withdraw_way_id" property="withdrawWayId" jdbcType="BIGINT" />
    <result column="room_count" property="roomCount" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="zone_id" property="zoneId" jdbcType="BIGINT" />
    <result column="is_old_shelf_process" property="isOldShelfProcess" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, addr, person_name, tel_no, create_time, update_time, merchant_type, merchant_type_cn, 
    parent_merchant_id, user_id, merchant_level, merchant_level_cn, STATUS, remark, merchant_zone, 
    industry_category_code, industry_category_cn, contract_cycle, settlement_account, 
    his_trade_count, shopkeeper_type, shopkeeper_type_cn, is_online_service, his_trade_amount, 
    invest_money, settlement_cust_no, client_type, legal_representative, uniform_social_credit_code, 
    id_number, province, city, zone, withdraw_scale, trade_amount_show_flag, share_qr_code_path, 
    receiver, receiver_tel, receiver_addr, current_round_num, total_round_num, id_name, 
    advance_profit_flag, tec_fee_accumulate, merchant_sub_type, merchant_sub_type_cn, 
    start_shop_time, end_shop_time, star_level, week_use_scale, per_consume, store_phone_no, 
    profile, is_phone_check, withdraw_way_id, room_count, province_id, city_id, zone_id, 
    is_old_shelf_process
  </sql>
   <select id="getPlatformMerchantInfo" resultMap="selectForPageResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from merchant_info
    where merchant_type = 80 limit 1,1
  </select>
  
  <select id="selectByConditionForPage"  parameterType="java.util.HashMap"  resultMap="selectForPageResultMap">  
	   SELECT 
		    mi.id, ca.available_balance,mi.name, mi.addr, mi.person_name, mi.tel_no, mi.create_time, mi.update_time, mi.merchant_type, mi.merchant_type_cn, 
		    mi.parent_merchant_id, mi.user_id, mi.merchant_level, mi.merchant_level_cn, mi.STATUS, mi.remark, mi.merchant_zone, 
		    industry_category_code, industry_category_cn, contract_cycle, settlement_account, 
		    mi.his_trade_count, mi.shopkeeper_type, mi.shopkeeper_type_cn, mi.is_online_service, mi.his_trade_amount, 
		    mi.invest_money, mi.settlement_cust_no, mi.client_type, mi.legal_representative, mi.uniform_social_credit_code, 
		    mi.id_number, mi.province, mi.city, mi.zone, mi.withdraw_scale, mi.trade_amount_show_flag, mi.share_qr_code_path, 
		    mi.receiver, mi.receiver_tel, mi.receiver_addr, mi.current_round_num, mi.total_round_num, mi.id_name, 
		    mi.advance_profit_flag, mi.tec_fee_accumulate, mi.merchant_sub_type, mi.merchant_sub_type_cn, 
		    mi.start_shop_time, mi.end_shop_time, mi.star_level, mi.week_use_scale, mi.per_consume, mi.store_phone_no, 
		    mi.profile, mi.is_phone_check, mi.withdraw_way_id, mi.room_count, mi.province_id, mi.city_id, mi.zone_id, 
		    mi.is_old_shelf_process	  
		FROM `merchant_info` mi 
		LEFT JOIN cust_info ci ON ci.merchant_id=mi.id
		LEFT JOIN cust_account ca ON ca.cust_no=ci.cust_no
		where 1=1 
		<if test="merchantId !=null">
			and mi.Id=#{merchantId,jdbcType=BIGINT}
		</if>
		<if test="merchantName !=null">
	        and mi.name like CONCAT('%',#{merchantName},'%')
		</if>
		<if test="personName !=null">
	        and mi.person_name like CONCAT('%',#{personName},'%')
		</if>
		<if test="telNo !=null">
			and mi.tel_no=#{telNo,jdbcType=VARCHAR}
		</if>
		<if test="merchantType !=null">
			and mi.merchant_type=#{merchantType,jdbcType=TINYINT}
		</if>
		<if test="merchantTypeId !=null">
			and mi.merchant_type=#{merchantTypeId,jdbcType=TINYINT}
		</if>
		<if test="parentMerchantId !=null">
			and mi.parent_merchant_id=#{parentMerchantId,jdbcType=BIGINT}
		</if>
		<if test="noRight !=null">
			<![CDATA[ 
			 and 1<>1
	    	]]>
		</if>	
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
		<if test="order != null">
			<![CDATA[ 
			order by ${order}
	    	]]>
		</if>
		<if test="order == null">
			order by mi.create_time desc
		</if>
		<if test="limit != null">
			<![CDATA[ 
			LIMIT #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
	    	]]>
		</if>
  </select>
  <select id="countByConditionForPage"  parameterType="java.util.HashMap"  resultType="java.lang.Long">
	   SELECT 
		   COUNT(mi.Id)
		FROM `merchant_info` mi
		where 1=1
		<if test="merchantId !=null">
			and mi.Id=#{merchantId,jdbcType=BIGINT}
		</if>
		<if test="merchantName !=null">
	        and mi.name like CONCAT('%',#{merchantName},'%')
		</if>
		<if test="personName !=null">
	        and mi.person_name like CONCAT('%',#{personName},'%')
		</if>
		<if test="telNo !=null">
			and mi.tel_no=#{telNo,jdbcType=VARCHAR}
		</if>
		<if test="parentMerchantId !=null">
			and mi.parent_merchant_id=#{parentMerchantId,jdbcType=BIGINT}
		</if>
		<if test="merchantType !=null">
			and mi.merchant_type=#{merchantType,jdbcType=TINYINT}
		</if>
		<if test="merchantTypeId !=null">
			and mi.merchant_type=#{merchantTypeId,jdbcType=TINYINT}
		</if>
		<if test="noRight !=null">
			<![CDATA[ 
			 and 1<>1
	    	]]>
		</if>	
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
  </select>
  
  <select id="queryMerchantIdByPId" resultType="java.lang.Long" parameterType="java.lang.Long">
    select id
    from merchant_info   
    where 1=1
    <if test="parentMerchantId != null" >
      and parent_merchant_id = #{parentMerchantId,jdbcType=BIGINT}
    </if>
  </select>
  
  <resultMap id="childAgentsInfoBOResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ChildAgentsInfoBO" >
    <result column="merchantId" property="merchantId" jdbcType="BIGINT" />
    <result column="parentMerchantId" property="parentMerchantId" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="personName" property="personName" jdbcType="VARCHAR" />
    <result column="telNo" property="telNo" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />    
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
    <result column="merchantType" property="merchantType" jdbcType="INTEGER" />
    <result column="merchantLevel" property="merchantLevel" jdbcType="INTEGER" />
    <result column="merchantLevelCn" property="merchantLevelCn" jdbcType="VARCHAR" />  
    <result column="city" property="city" jdbcType="VARCHAR" />  
    <result column="zone" property="zone" jdbcType="VARCHAR" />    
    <result column="provinceId" property="provinceId" jdbcType="BIGINT" />
    <result column="cityId" property="cityId" jdbcType="BIGINT" />
    <result column="zoneId" property="zoneId" jdbcType="BIGINT" />  
    <result column="addr" property="addr" jdbcType="VARCHAR" />
  </resultMap>
  <select id="queryMerchantInfoAll" 
  	resultMap="childAgentsInfoBOResultMap" 
  	parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChildAgentsQueryCommand" >
    select 
    	mi.id merchantId,
    	mi.parent_merchant_id parentMerchantId,
    	mi.name, 
    	mi.person_name personName, 
    	mi.tel_no telNo, 
    	mi.create_time createTime, 
    	mi.merchant_type merchantType,
    	mi.merchant_level merchantLevel,
    	mi.merchant_level_cn merchantLevelCn,
    	mi.province,
    	mi.city,
    	mi.zone,
    	mi.province_id provinceId,
    	mi.city_id cityId,
    	mi.zone_id zoneId,
    	mi.addr
    from 
    	merchant_info mi
   	where 1 = 1
	<!-- 根据商户ID查询 -->
    <if test="merchantId != null and merchantId !='' " >
        and mi.id =#{merchantId}
    </if>
	<!-- 获取当前商户下的所有商户id -->
	<if test="merchantIds != null and merchantIds.size>0 " >
		AND mi.id IN
		<foreach collection="merchantIds" index="index" item="mId" open="(" separator="," close=")">
			#{mId}
		</foreach>
	</if>	
    <!-- 根据商户姓名查询 -->
    <if test="personName != null and personName !='' " >
        and mi.person_name like CONCAT('%',#{personName},'%')
    </if>
    <!-- 根据父级商户编号查询 -->
    <if test="parentMerchantId!=null and parentMerchantId!=''">
    	and mi.parent_merchant_id = #{parentMerchantId}
    </if>
    <!-- 根据商户类型查询 -->
    <if test="merchantType!=null and merchantType!=''">
        <if test="merchantType == 11">
            and mi.merchant_type in (11,12,13)
        </if>
        <if test="merchantType != 11">
            and mi.merchant_type = #{merchantType}
        </if>
    </if>
    
     ORDER BY mi.create_time DESC
    <if test="start != null">
		<![CDATA[ 
		LIMIT #{start,jdbcType=BIGINT},#{rows,jdbcType=BIGINT}
    	]]>
	</if>
  </select>
  <select id="getMerInfoAllCount"  resultType="java.lang.Long" 
  	parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChildAgentsQueryCommand" >
    select 
    	 count(1) 
    from 
    	merchant_info mi
   	where 1 = 1
	<if test="merchantIds != null and merchantIds.size>0 " >
		AND mi.id IN
		<foreach collection="merchantIds" index="index" item="mId" open="(" separator="," close=")">
			#{mId}
		</foreach>
	</if>
    <if test="merchantType!=null and merchantType!=''">
        <if test="merchantType != 11">
            and mi.merchant_type = #{merchantType}
        </if>
    	<if test="merchantType == 11">
            and mi.merchant_type in (11,12,13)
        </if>
    </if>
    <if test="merchantId != null and merchantId !='' " >
        and mi.id =#{merchantId}
    </if>
    <if test="personName != null and personName !='' " >
        and mi.person_name like CONCAT('%',#{personName},'%')
    </if>
    <if test="parentMerchantId!=null and parentMerchantId!=''">
    	and mi.parent_merchant_id = #{parentMerchantId}
    </if>
  </select>
</mapper>