<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.MerchantInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="addr" property="addr" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="tel_no" property="telNo" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="merchant_type" property="merchantType" jdbcType="TINYINT" />
    <result column="merchant_type_cn" property="merchantTypeCn" jdbcType="VARCHAR" />
    <result column="parent_merchant_id" property="parentMerchantId" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="VARCHAR" />
    <result column="merchant_level" property="merchantLevel" jdbcType="TINYINT" />
    <result column="merchant_level_cn" property="merchantLevelCn" jdbcType="VARCHAR" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="merchant_zone" property="merchantZone" jdbcType="VARCHAR" />
    <result column="industry_category_code" property="industryCategoryCode" jdbcType="TINYINT" />
    <result column="industry_category_cn" property="industryCategoryCn" jdbcType="VARCHAR" />
    <result column="contract_cycle" property="contractCycle" jdbcType="TINYINT" />
    <result column="settlement_account" property="settlementAccount" jdbcType="VARCHAR" />
    <result column="his_trade_count" property="hisTradeCount" jdbcType="INTEGER" />
    <result column="shopkeeper_type" property="shopkeeperType" jdbcType="TINYINT" />
    <result column="shopkeeper_type_cn" property="shopkeeperTypeCn" jdbcType="VARCHAR" />
    <result column="is_online_service" property="isOnlineService" jdbcType="TINYINT" />
    <result column="his_trade_amount" property="hisTradeAmount" jdbcType="DECIMAL" />
    <result column="invest_money" property="investMoney" jdbcType="DECIMAL" />
    <result column="settlement_cust_no" property="settlementCustNo" jdbcType="BIGINT" />
    <result column="client_type" property="clientType" jdbcType="TINYINT" />
    <result column="legal_representative" property="legalRepresentative" jdbcType="VARCHAR" />
    <result column="uniform_social_credit_code" property="uniformSocialCreditCode" jdbcType="VARCHAR" />
    <result column="id_number" property="idNumber" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="withdraw_scale" property="withdrawScale" jdbcType="REAL" />
    <result column="trade_amount_show_flag" property="tradeAmountShowFlag" jdbcType="TINYINT" />
    <result column="share_qr_code_path" property="shareQrCodePath" jdbcType="VARCHAR" />
    <result column="receiver" property="receiver" jdbcType="VARCHAR" />
    <result column="receiver_tel" property="receiverTel" jdbcType="VARCHAR" />
    <result column="receiver_addr" property="receiverAddr" jdbcType="VARCHAR" />
    <result column="current_round_num" property="currentRoundNum" jdbcType="INTEGER" />
    <result column="total_round_num" property="totalRoundNum" jdbcType="INTEGER" />
    <result column="id_name" property="idName" jdbcType="VARCHAR" />
    <result column="advance_profit_flag" property="advanceProfitFlag" jdbcType="TINYINT" />
    <result column="tec_fee_accumulate" property="tecFeeAccumulate" jdbcType="DECIMAL" />
    <result column="merchant_sub_type" property="merchantSubType" jdbcType="TINYINT" />
    <result column="merchant_sub_type_cn" property="merchantSubTypeCn" jdbcType="VARCHAR" />
    <result column="start_shop_time" property="startShopTime" jdbcType="VARCHAR" />
    <result column="end_shop_time" property="endShopTime" jdbcType="VARCHAR" />
    <result column="star_level" property="starLevel" jdbcType="REAL" />
    <result column="week_use_scale" property="weekUseScale" jdbcType="DECIMAL" />
    <result column="per_consume" property="perConsume" jdbcType="DECIMAL" />
    <result column="store_phone_no" property="storePhoneNo" jdbcType="VARCHAR" />
    <result column="profile" property="profile" jdbcType="VARCHAR" />
    <result column="is_phone_check" property="isPhoneCheck" jdbcType="TINYINT" />
    <result column="withdraw_way_id" property="withdrawWayId" jdbcType="BIGINT" />
    <result column="room_count" property="roomCount" jdbcType="INTEGER" />
    <result column="province_id" property="provinceId" jdbcType="BIGINT" />
    <result column="city_id" property="cityId" jdbcType="BIGINT" />
    <result column="zone_id" property="zoneId" jdbcType="BIGINT" />
    <result column="is_old_shelf_process" property="isOldShelfProcess" jdbcType="TINYINT" />
    <result column="latitude_x" property="latitudeX" jdbcType="DECIMAL" />
    <result column="longitude_y" property="longitudeY" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, addr, person_name, tel_no, create_time, update_time, merchant_type, merchant_type_cn, 
    parent_merchant_id, user_id, merchant_level, merchant_level_cn, STATUS, remark, merchant_zone, 
    industry_category_code, industry_category_cn, contract_cycle, settlement_account, 
    his_trade_count, shopkeeper_type, shopkeeper_type_cn, is_online_service, his_trade_amount, 
    invest_money, settlement_cust_no, client_type, legal_representative, uniform_social_credit_code, 
    id_number, province, city, zone, withdraw_scale, trade_amount_show_flag, share_qr_code_path, 
    receiver, receiver_tel, receiver_addr, current_round_num, total_round_num, id_name, 
    advance_profit_flag, tec_fee_accumulate, merchant_sub_type, merchant_sub_type_cn, 
    start_shop_time, end_shop_time, star_level, week_use_scale, per_consume, store_phone_no, 
    profile, is_phone_check, withdraw_way_id, room_count, province_id, city_id, zone_id, 
    is_old_shelf_process, latitude_x, longitude_y
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from merchant_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from merchant_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModelExample" >
    delete from merchant_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    insert into merchant_info (id, name, addr, 
      person_name, tel_no, create_time, 
      update_time, merchant_type, merchant_type_cn, 
      parent_merchant_id, user_id, merchant_level, 
      merchant_level_cn, STATUS, remark, 
      merchant_zone, industry_category_code, industry_category_cn, 
      contract_cycle, settlement_account, his_trade_count, 
      shopkeeper_type, shopkeeper_type_cn, is_online_service, 
      his_trade_amount, invest_money, settlement_cust_no, 
      client_type, legal_representative, uniform_social_credit_code, 
      id_number, province, city, 
      zone, withdraw_scale, trade_amount_show_flag, 
      share_qr_code_path, receiver, receiver_tel, 
      receiver_addr, current_round_num, total_round_num, 
      id_name, advance_profit_flag, tec_fee_accumulate, 
      merchant_sub_type, merchant_sub_type_cn, start_shop_time, 
      end_shop_time, star_level, week_use_scale, 
      per_consume, store_phone_no, profile, 
      is_phone_check, withdraw_way_id, room_count, 
      province_id, city_id, zone_id, 
      is_old_shelf_process, latitude_x, longitude_y
      )
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR}, 
      #{personName,jdbcType=VARCHAR}, #{telNo,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{merchantType,jdbcType=TINYINT}, #{merchantTypeCn,jdbcType=VARCHAR}, 
      #{parentMerchantId,jdbcType=BIGINT}, #{userId,jdbcType=VARCHAR}, #{merchantLevel,jdbcType=TINYINT}, 
      #{merchantLevelCn,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, #{remark,jdbcType=VARCHAR}, 
      #{merchantZone,jdbcType=VARCHAR}, #{industryCategoryCode,jdbcType=TINYINT}, #{industryCategoryCn,jdbcType=VARCHAR}, 
      #{contractCycle,jdbcType=TINYINT}, #{settlementAccount,jdbcType=VARCHAR}, #{hisTradeCount,jdbcType=INTEGER}, 
      #{shopkeeperType,jdbcType=TINYINT}, #{shopkeeperTypeCn,jdbcType=VARCHAR}, #{isOnlineService,jdbcType=TINYINT}, 
      #{hisTradeAmount,jdbcType=DECIMAL}, #{investMoney,jdbcType=DECIMAL}, #{settlementCustNo,jdbcType=BIGINT}, 
      #{clientType,jdbcType=TINYINT}, #{legalRepresentative,jdbcType=VARCHAR}, #{uniformSocialCreditCode,jdbcType=VARCHAR}, 
      #{idNumber,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{zone,jdbcType=VARCHAR}, #{withdrawScale,jdbcType=REAL}, #{tradeAmountShowFlag,jdbcType=TINYINT}, 
      #{shareQrCodePath,jdbcType=VARCHAR}, #{receiver,jdbcType=VARCHAR}, #{receiverTel,jdbcType=VARCHAR}, 
      #{receiverAddr,jdbcType=VARCHAR}, #{currentRoundNum,jdbcType=INTEGER}, #{totalRoundNum,jdbcType=INTEGER}, 
      #{idName,jdbcType=VARCHAR}, #{advanceProfitFlag,jdbcType=TINYINT}, #{tecFeeAccumulate,jdbcType=DECIMAL}, 
      #{merchantSubType,jdbcType=TINYINT}, #{merchantSubTypeCn,jdbcType=VARCHAR}, #{startShopTime,jdbcType=VARCHAR}, 
      #{endShopTime,jdbcType=VARCHAR}, #{starLevel,jdbcType=REAL}, #{weekUseScale,jdbcType=DECIMAL}, 
      #{perConsume,jdbcType=DECIMAL}, #{storePhoneNo,jdbcType=VARCHAR}, #{profile,jdbcType=VARCHAR}, 
      #{isPhoneCheck,jdbcType=TINYINT}, #{withdrawWayId,jdbcType=BIGINT}, #{roomCount,jdbcType=INTEGER}, 
      #{provinceId,jdbcType=BIGINT}, #{cityId,jdbcType=BIGINT}, #{zoneId,jdbcType=BIGINT}, 
      #{isOldShelfProcess,jdbcType=TINYINT}, #{latitudeX,jdbcType=DECIMAL}, #{longitudeY,jdbcType=DECIMAL}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    insert into merchant_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="addr != null" >
        addr,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="telNo != null" >
        tel_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="merchantTypeCn != null" >
        merchant_type_cn,
      </if>
      <if test="parentMerchantId != null" >
        parent_merchant_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="merchantLevel != null" >
        merchant_level,
      </if>
      <if test="merchantLevelCn != null" >
        merchant_level_cn,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="merchantZone != null" >
        merchant_zone,
      </if>
      <if test="industryCategoryCode != null" >
        industry_category_code,
      </if>
      <if test="industryCategoryCn != null" >
        industry_category_cn,
      </if>
      <if test="contractCycle != null" >
        contract_cycle,
      </if>
      <if test="settlementAccount != null" >
        settlement_account,
      </if>
      <if test="hisTradeCount != null" >
        his_trade_count,
      </if>
      <if test="shopkeeperType != null" >
        shopkeeper_type,
      </if>
      <if test="shopkeeperTypeCn != null" >
        shopkeeper_type_cn,
      </if>
      <if test="isOnlineService != null" >
        is_online_service,
      </if>
      <if test="hisTradeAmount != null" >
        his_trade_amount,
      </if>
      <if test="investMoney != null" >
        invest_money,
      </if>
      <if test="settlementCustNo != null" >
        settlement_cust_no,
      </if>
      <if test="clientType != null" >
        client_type,
      </if>
      <if test="legalRepresentative != null" >
        legal_representative,
      </if>
      <if test="uniformSocialCreditCode != null" >
        uniform_social_credit_code,
      </if>
      <if test="idNumber != null" >
        id_number,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="zone != null" >
        zone,
      </if>
      <if test="withdrawScale != null" >
        withdraw_scale,
      </if>
      <if test="tradeAmountShowFlag != null" >
        trade_amount_show_flag,
      </if>
      <if test="shareQrCodePath != null" >
        share_qr_code_path,
      </if>
      <if test="receiver != null" >
        receiver,
      </if>
      <if test="receiverTel != null" >
        receiver_tel,
      </if>
      <if test="receiverAddr != null" >
        receiver_addr,
      </if>
      <if test="currentRoundNum != null" >
        current_round_num,
      </if>
      <if test="totalRoundNum != null" >
        total_round_num,
      </if>
      <if test="idName != null" >
        id_name,
      </if>
      <if test="advanceProfitFlag != null" >
        advance_profit_flag,
      </if>
      <if test="tecFeeAccumulate != null" >
        tec_fee_accumulate,
      </if>
      <if test="merchantSubType != null" >
        merchant_sub_type,
      </if>
      <if test="merchantSubTypeCn != null" >
        merchant_sub_type_cn,
      </if>
      <if test="startShopTime != null" >
        start_shop_time,
      </if>
      <if test="endShopTime != null" >
        end_shop_time,
      </if>
      <if test="starLevel != null" >
        star_level,
      </if>
      <if test="weekUseScale != null" >
        week_use_scale,
      </if>
      <if test="perConsume != null" >
        per_consume,
      </if>
      <if test="storePhoneNo != null" >
        store_phone_no,
      </if>
      <if test="profile != null" >
        profile,
      </if>
      <if test="isPhoneCheck != null" >
        is_phone_check,
      </if>
      <if test="withdrawWayId != null" >
        withdraw_way_id,
      </if>
      <if test="roomCount != null" >
        room_count,
      </if>
      <if test="provinceId != null" >
        province_id,
      </if>
      <if test="cityId != null" >
        city_id,
      </if>
      <if test="zoneId != null" >
        zone_id,
      </if>
      <if test="isOldShelfProcess != null" >
        is_old_shelf_process,
      </if>
      <if test="latitudeX != null" >
        latitude_x,
      </if>
      <if test="longitudeY != null" >
        longitude_y,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        #{addr,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=TINYINT},
      </if>
      <if test="merchantTypeCn != null" >
        #{merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="parentMerchantId != null" >
        #{parentMerchantId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
      <if test="merchantLevel != null" >
        #{merchantLevel,jdbcType=TINYINT},
      </if>
      <if test="merchantLevelCn != null" >
        #{merchantLevelCn,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="merchantZone != null" >
        #{merchantZone,jdbcType=VARCHAR},
      </if>
      <if test="industryCategoryCode != null" >
        #{industryCategoryCode,jdbcType=TINYINT},
      </if>
      <if test="industryCategoryCn != null" >
        #{industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="contractCycle != null" >
        #{contractCycle,jdbcType=TINYINT},
      </if>
      <if test="settlementAccount != null" >
        #{settlementAccount,jdbcType=VARCHAR},
      </if>
      <if test="hisTradeCount != null" >
        #{hisTradeCount,jdbcType=INTEGER},
      </if>
      <if test="shopkeeperType != null" >
        #{shopkeeperType,jdbcType=TINYINT},
      </if>
      <if test="shopkeeperTypeCn != null" >
        #{shopkeeperTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="isOnlineService != null" >
        #{isOnlineService,jdbcType=TINYINT},
      </if>
      <if test="hisTradeAmount != null" >
        #{hisTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="investMoney != null" >
        #{investMoney,jdbcType=DECIMAL},
      </if>
      <if test="settlementCustNo != null" >
        #{settlementCustNo,jdbcType=BIGINT},
      </if>
      <if test="clientType != null" >
        #{clientType,jdbcType=TINYINT},
      </if>
      <if test="legalRepresentative != null" >
        #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="uniformSocialCreditCode != null" >
        #{uniformSocialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="withdrawScale != null" >
        #{withdrawScale,jdbcType=REAL},
      </if>
      <if test="tradeAmountShowFlag != null" >
        #{tradeAmountShowFlag,jdbcType=TINYINT},
      </if>
      <if test="shareQrCodePath != null" >
        #{shareQrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddr != null" >
        #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="currentRoundNum != null" >
        #{currentRoundNum,jdbcType=INTEGER},
      </if>
      <if test="totalRoundNum != null" >
        #{totalRoundNum,jdbcType=INTEGER},
      </if>
      <if test="idName != null" >
        #{idName,jdbcType=VARCHAR},
      </if>
      <if test="advanceProfitFlag != null" >
        #{advanceProfitFlag,jdbcType=TINYINT},
      </if>
      <if test="tecFeeAccumulate != null" >
        #{tecFeeAccumulate,jdbcType=DECIMAL},
      </if>
      <if test="merchantSubType != null" >
        #{merchantSubType,jdbcType=TINYINT},
      </if>
      <if test="merchantSubTypeCn != null" >
        #{merchantSubTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="startShopTime != null" >
        #{startShopTime,jdbcType=VARCHAR},
      </if>
      <if test="endShopTime != null" >
        #{endShopTime,jdbcType=VARCHAR},
      </if>
      <if test="starLevel != null" >
        #{starLevel,jdbcType=REAL},
      </if>
      <if test="weekUseScale != null" >
        #{weekUseScale,jdbcType=DECIMAL},
      </if>
      <if test="perConsume != null" >
        #{perConsume,jdbcType=DECIMAL},
      </if>
      <if test="storePhoneNo != null" >
        #{storePhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        #{profile,jdbcType=VARCHAR},
      </if>
      <if test="isPhoneCheck != null" >
        #{isPhoneCheck,jdbcType=TINYINT},
      </if>
      <if test="withdrawWayId != null" >
        #{withdrawWayId,jdbcType=BIGINT},
      </if>
      <if test="roomCount != null" >
        #{roomCount,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        #{cityId,jdbcType=BIGINT},
      </if>
      <if test="zoneId != null" >
        #{zoneId,jdbcType=BIGINT},
      </if>
      <if test="isOldShelfProcess != null" >
        #{isOldShelfProcess,jdbcType=TINYINT},
      </if>
      <if test="latitudeX != null" >
        #{latitudeX,jdbcType=DECIMAL},
      </if>
      <if test="longitudeY != null" >
        #{longitudeY,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModelExample" resultType="java.lang.Integer" >
    select count(*) from merchant_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.addr != null" >
        addr = #{record.addr,jdbcType=VARCHAR},
      </if>
      <if test="record.personName != null" >
        person_name = #{record.personName,jdbcType=VARCHAR},
      </if>
      <if test="record.telNo != null" >
        tel_no = #{record.telNo,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.merchantType != null" >
        merchant_type = #{record.merchantType,jdbcType=TINYINT},
      </if>
      <if test="record.merchantTypeCn != null" >
        merchant_type_cn = #{record.merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.parentMerchantId != null" >
        parent_merchant_id = #{record.parentMerchantId,jdbcType=BIGINT},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantLevel != null" >
        merchant_level = #{record.merchantLevel,jdbcType=TINYINT},
      </if>
      <if test="record.merchantLevelCn != null" >
        merchant_level_cn = #{record.merchantLevelCn,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantZone != null" >
        merchant_zone = #{record.merchantZone,jdbcType=VARCHAR},
      </if>
      <if test="record.industryCategoryCode != null" >
        industry_category_code = #{record.industryCategoryCode,jdbcType=TINYINT},
      </if>
      <if test="record.industryCategoryCn != null" >
        industry_category_cn = #{record.industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="record.contractCycle != null" >
        contract_cycle = #{record.contractCycle,jdbcType=TINYINT},
      </if>
      <if test="record.settlementAccount != null" >
        settlement_account = #{record.settlementAccount,jdbcType=VARCHAR},
      </if>
      <if test="record.hisTradeCount != null" >
        his_trade_count = #{record.hisTradeCount,jdbcType=INTEGER},
      </if>
      <if test="record.shopkeeperType != null" >
        shopkeeper_type = #{record.shopkeeperType,jdbcType=TINYINT},
      </if>
      <if test="record.shopkeeperTypeCn != null" >
        shopkeeper_type_cn = #{record.shopkeeperTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.isOnlineService != null" >
        is_online_service = #{record.isOnlineService,jdbcType=TINYINT},
      </if>
      <if test="record.hisTradeAmount != null" >
        his_trade_amount = #{record.hisTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.investMoney != null" >
        invest_money = #{record.investMoney,jdbcType=DECIMAL},
      </if>
      <if test="record.settlementCustNo != null" >
        settlement_cust_no = #{record.settlementCustNo,jdbcType=BIGINT},
      </if>
      <if test="record.clientType != null" >
        client_type = #{record.clientType,jdbcType=TINYINT},
      </if>
      <if test="record.legalRepresentative != null" >
        legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="record.uniformSocialCreditCode != null" >
        uniform_social_credit_code = #{record.uniformSocialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="record.idNumber != null" >
        id_number = #{record.idNumber,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.zone != null" >
        zone = #{record.zone,jdbcType=VARCHAR},
      </if>
      <if test="record.withdrawScale != null" >
        withdraw_scale = #{record.withdrawScale,jdbcType=REAL},
      </if>
      <if test="record.tradeAmountShowFlag != null" >
        trade_amount_show_flag = #{record.tradeAmountShowFlag,jdbcType=TINYINT},
      </if>
      <if test="record.shareQrCodePath != null" >
        share_qr_code_path = #{record.shareQrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="record.receiver != null" >
        receiver = #{record.receiver,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverTel != null" >
        receiver_tel = #{record.receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="record.receiverAddr != null" >
        receiver_addr = #{record.receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="record.currentRoundNum != null" >
        current_round_num = #{record.currentRoundNum,jdbcType=INTEGER},
      </if>
      <if test="record.totalRoundNum != null" >
        total_round_num = #{record.totalRoundNum,jdbcType=INTEGER},
      </if>
      <if test="record.idName != null" >
        id_name = #{record.idName,jdbcType=VARCHAR},
      </if>
      <if test="record.advanceProfitFlag != null" >
        advance_profit_flag = #{record.advanceProfitFlag,jdbcType=TINYINT},
      </if>
      <if test="record.tecFeeAccumulate != null" >
        tec_fee_accumulate = #{record.tecFeeAccumulate,jdbcType=DECIMAL},
      </if>
      <if test="record.merchantSubType != null" >
        merchant_sub_type = #{record.merchantSubType,jdbcType=TINYINT},
      </if>
      <if test="record.merchantSubTypeCn != null" >
        merchant_sub_type_cn = #{record.merchantSubTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.startShopTime != null" >
        start_shop_time = #{record.startShopTime,jdbcType=VARCHAR},
      </if>
      <if test="record.endShopTime != null" >
        end_shop_time = #{record.endShopTime,jdbcType=VARCHAR},
      </if>
      <if test="record.starLevel != null" >
        star_level = #{record.starLevel,jdbcType=REAL},
      </if>
      <if test="record.weekUseScale != null" >
        week_use_scale = #{record.weekUseScale,jdbcType=DECIMAL},
      </if>
      <if test="record.perConsume != null" >
        per_consume = #{record.perConsume,jdbcType=DECIMAL},
      </if>
      <if test="record.storePhoneNo != null" >
        store_phone_no = #{record.storePhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="record.profile != null" >
        profile = #{record.profile,jdbcType=VARCHAR},
      </if>
      <if test="record.isPhoneCheck != null" >
        is_phone_check = #{record.isPhoneCheck,jdbcType=TINYINT},
      </if>
      <if test="record.withdrawWayId != null" >
        withdraw_way_id = #{record.withdrawWayId,jdbcType=BIGINT},
      </if>
      <if test="record.roomCount != null" >
        room_count = #{record.roomCount,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null" >
        province_id = #{record.provinceId,jdbcType=BIGINT},
      </if>
      <if test="record.cityId != null" >
        city_id = #{record.cityId,jdbcType=BIGINT},
      </if>
      <if test="record.zoneId != null" >
        zone_id = #{record.zoneId,jdbcType=BIGINT},
      </if>
      <if test="record.isOldShelfProcess != null" >
        is_old_shelf_process = #{record.isOldShelfProcess,jdbcType=TINYINT},
      </if>
      <if test="record.latitudeX != null" >
        latitude_x = #{record.latitudeX,jdbcType=DECIMAL},
      </if>
      <if test="record.longitudeY != null" >
        longitude_y = #{record.longitudeY,jdbcType=DECIMAL},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_info
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      addr = #{record.addr,jdbcType=VARCHAR},
      person_name = #{record.personName,jdbcType=VARCHAR},
      tel_no = #{record.telNo,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      merchant_type = #{record.merchantType,jdbcType=TINYINT},
      merchant_type_cn = #{record.merchantTypeCn,jdbcType=VARCHAR},
      parent_merchant_id = #{record.parentMerchantId,jdbcType=BIGINT},
      user_id = #{record.userId,jdbcType=VARCHAR},
      merchant_level = #{record.merchantLevel,jdbcType=TINYINT},
      merchant_level_cn = #{record.merchantLevelCn,jdbcType=VARCHAR},
      STATUS = #{record.status,jdbcType=TINYINT},
      remark = #{record.remark,jdbcType=VARCHAR},
      merchant_zone = #{record.merchantZone,jdbcType=VARCHAR},
      industry_category_code = #{record.industryCategoryCode,jdbcType=TINYINT},
      industry_category_cn = #{record.industryCategoryCn,jdbcType=VARCHAR},
      contract_cycle = #{record.contractCycle,jdbcType=TINYINT},
      settlement_account = #{record.settlementAccount,jdbcType=VARCHAR},
      his_trade_count = #{record.hisTradeCount,jdbcType=INTEGER},
      shopkeeper_type = #{record.shopkeeperType,jdbcType=TINYINT},
      shopkeeper_type_cn = #{record.shopkeeperTypeCn,jdbcType=VARCHAR},
      is_online_service = #{record.isOnlineService,jdbcType=TINYINT},
      his_trade_amount = #{record.hisTradeAmount,jdbcType=DECIMAL},
      invest_money = #{record.investMoney,jdbcType=DECIMAL},
      settlement_cust_no = #{record.settlementCustNo,jdbcType=BIGINT},
      client_type = #{record.clientType,jdbcType=TINYINT},
      legal_representative = #{record.legalRepresentative,jdbcType=VARCHAR},
      uniform_social_credit_code = #{record.uniformSocialCreditCode,jdbcType=VARCHAR},
      id_number = #{record.idNumber,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      zone = #{record.zone,jdbcType=VARCHAR},
      withdraw_scale = #{record.withdrawScale,jdbcType=REAL},
      trade_amount_show_flag = #{record.tradeAmountShowFlag,jdbcType=TINYINT},
      share_qr_code_path = #{record.shareQrCodePath,jdbcType=VARCHAR},
      receiver = #{record.receiver,jdbcType=VARCHAR},
      receiver_tel = #{record.receiverTel,jdbcType=VARCHAR},
      receiver_addr = #{record.receiverAddr,jdbcType=VARCHAR},
      current_round_num = #{record.currentRoundNum,jdbcType=INTEGER},
      total_round_num = #{record.totalRoundNum,jdbcType=INTEGER},
      id_name = #{record.idName,jdbcType=VARCHAR},
      advance_profit_flag = #{record.advanceProfitFlag,jdbcType=TINYINT},
      tec_fee_accumulate = #{record.tecFeeAccumulate,jdbcType=DECIMAL},
      merchant_sub_type = #{record.merchantSubType,jdbcType=TINYINT},
      merchant_sub_type_cn = #{record.merchantSubTypeCn,jdbcType=VARCHAR},
      start_shop_time = #{record.startShopTime,jdbcType=VARCHAR},
      end_shop_time = #{record.endShopTime,jdbcType=VARCHAR},
      star_level = #{record.starLevel,jdbcType=REAL},
      week_use_scale = #{record.weekUseScale,jdbcType=DECIMAL},
      per_consume = #{record.perConsume,jdbcType=DECIMAL},
      store_phone_no = #{record.storePhoneNo,jdbcType=VARCHAR},
      profile = #{record.profile,jdbcType=VARCHAR},
      is_phone_check = #{record.isPhoneCheck,jdbcType=TINYINT},
      withdraw_way_id = #{record.withdrawWayId,jdbcType=BIGINT},
      room_count = #{record.roomCount,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=BIGINT},
      city_id = #{record.cityId,jdbcType=BIGINT},
      zone_id = #{record.zoneId,jdbcType=BIGINT},
      is_old_shelf_process = #{record.isOldShelfProcess,jdbcType=TINYINT},
      latitude_x = #{record.latitudeX,jdbcType=DECIMAL},
      longitude_y = #{record.longitudeY,jdbcType=DECIMAL}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    update merchant_info
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="addr != null" >
        addr = #{addr,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=TINYINT},
      </if>
      <if test="merchantTypeCn != null" >
        merchant_type_cn = #{merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="parentMerchantId != null" >
        parent_merchant_id = #{parentMerchantId,jdbcType=BIGINT},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=VARCHAR},
      </if>
      <if test="merchantLevel != null" >
        merchant_level = #{merchantLevel,jdbcType=TINYINT},
      </if>
      <if test="merchantLevelCn != null" >
        merchant_level_cn = #{merchantLevelCn,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="merchantZone != null" >
        merchant_zone = #{merchantZone,jdbcType=VARCHAR},
      </if>
      <if test="industryCategoryCode != null" >
        industry_category_code = #{industryCategoryCode,jdbcType=TINYINT},
      </if>
      <if test="industryCategoryCn != null" >
        industry_category_cn = #{industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="contractCycle != null" >
        contract_cycle = #{contractCycle,jdbcType=TINYINT},
      </if>
      <if test="settlementAccount != null" >
        settlement_account = #{settlementAccount,jdbcType=VARCHAR},
      </if>
      <if test="hisTradeCount != null" >
        his_trade_count = #{hisTradeCount,jdbcType=INTEGER},
      </if>
      <if test="shopkeeperType != null" >
        shopkeeper_type = #{shopkeeperType,jdbcType=TINYINT},
      </if>
      <if test="shopkeeperTypeCn != null" >
        shopkeeper_type_cn = #{shopkeeperTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="isOnlineService != null" >
        is_online_service = #{isOnlineService,jdbcType=TINYINT},
      </if>
      <if test="hisTradeAmount != null" >
        his_trade_amount = #{hisTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="investMoney != null" >
        invest_money = #{investMoney,jdbcType=DECIMAL},
      </if>
      <if test="settlementCustNo != null" >
        settlement_cust_no = #{settlementCustNo,jdbcType=BIGINT},
      </if>
      <if test="clientType != null" >
        client_type = #{clientType,jdbcType=TINYINT},
      </if>
      <if test="legalRepresentative != null" >
        legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      </if>
      <if test="uniformSocialCreditCode != null" >
        uniform_social_credit_code = #{uniformSocialCreditCode,jdbcType=VARCHAR},
      </if>
      <if test="idNumber != null" >
        id_number = #{idNumber,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="withdrawScale != null" >
        withdraw_scale = #{withdrawScale,jdbcType=REAL},
      </if>
      <if test="tradeAmountShowFlag != null" >
        trade_amount_show_flag = #{tradeAmountShowFlag,jdbcType=TINYINT},
      </if>
      <if test="shareQrCodePath != null" >
        share_qr_code_path = #{shareQrCodePath,jdbcType=VARCHAR},
      </if>
      <if test="receiver != null" >
        receiver = #{receiver,jdbcType=VARCHAR},
      </if>
      <if test="receiverTel != null" >
        receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      </if>
      <if test="receiverAddr != null" >
        receiver_addr = #{receiverAddr,jdbcType=VARCHAR},
      </if>
      <if test="currentRoundNum != null" >
        current_round_num = #{currentRoundNum,jdbcType=INTEGER},
      </if>
      <if test="totalRoundNum != null" >
        total_round_num = #{totalRoundNum,jdbcType=INTEGER},
      </if>
      <if test="idName != null" >
        id_name = #{idName,jdbcType=VARCHAR},
      </if>
      <if test="advanceProfitFlag != null" >
        advance_profit_flag = #{advanceProfitFlag,jdbcType=TINYINT},
      </if>
      <if test="tecFeeAccumulate != null" >
        tec_fee_accumulate = #{tecFeeAccumulate,jdbcType=DECIMAL},
      </if>
      <if test="merchantSubType != null" >
        merchant_sub_type = #{merchantSubType,jdbcType=TINYINT},
      </if>
      <if test="merchantSubTypeCn != null" >
        merchant_sub_type_cn = #{merchantSubTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="startShopTime != null" >
        start_shop_time = #{startShopTime,jdbcType=VARCHAR},
      </if>
      <if test="endShopTime != null" >
        end_shop_time = #{endShopTime,jdbcType=VARCHAR},
      </if>
      <if test="starLevel != null" >
        star_level = #{starLevel,jdbcType=REAL},
      </if>
      <if test="weekUseScale != null" >
        week_use_scale = #{weekUseScale,jdbcType=DECIMAL},
      </if>
      <if test="perConsume != null" >
        per_consume = #{perConsume,jdbcType=DECIMAL},
      </if>
      <if test="storePhoneNo != null" >
        store_phone_no = #{storePhoneNo,jdbcType=VARCHAR},
      </if>
      <if test="profile != null" >
        profile = #{profile,jdbcType=VARCHAR},
      </if>
      <if test="isPhoneCheck != null" >
        is_phone_check = #{isPhoneCheck,jdbcType=TINYINT},
      </if>
      <if test="withdrawWayId != null" >
        withdraw_way_id = #{withdrawWayId,jdbcType=BIGINT},
      </if>
      <if test="roomCount != null" >
        room_count = #{roomCount,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null" >
        province_id = #{provinceId,jdbcType=BIGINT},
      </if>
      <if test="cityId != null" >
        city_id = #{cityId,jdbcType=BIGINT},
      </if>
      <if test="zoneId != null" >
        zone_id = #{zoneId,jdbcType=BIGINT},
      </if>
      <if test="isOldShelfProcess != null" >
        is_old_shelf_process = #{isOldShelfProcess,jdbcType=TINYINT},
      </if>
      <if test="latitudeX != null" >
        latitude_x = #{latitudeX,jdbcType=DECIMAL},
      </if>
      <if test="longitudeY != null" >
        longitude_y = #{longitudeY,jdbcType=DECIMAL},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantInfoModel" >
    update merchant_info
    set name = #{name,jdbcType=VARCHAR},
      addr = #{addr,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      merchant_type = #{merchantType,jdbcType=TINYINT},
      merchant_type_cn = #{merchantTypeCn,jdbcType=VARCHAR},
      parent_merchant_id = #{parentMerchantId,jdbcType=BIGINT},
      user_id = #{userId,jdbcType=VARCHAR},
      merchant_level = #{merchantLevel,jdbcType=TINYINT},
      merchant_level_cn = #{merchantLevelCn,jdbcType=VARCHAR},
      STATUS = #{status,jdbcType=TINYINT},
      remark = #{remark,jdbcType=VARCHAR},
      merchant_zone = #{merchantZone,jdbcType=VARCHAR},
      industry_category_code = #{industryCategoryCode,jdbcType=TINYINT},
      industry_category_cn = #{industryCategoryCn,jdbcType=VARCHAR},
      contract_cycle = #{contractCycle,jdbcType=TINYINT},
      settlement_account = #{settlementAccount,jdbcType=VARCHAR},
      his_trade_count = #{hisTradeCount,jdbcType=INTEGER},
      shopkeeper_type = #{shopkeeperType,jdbcType=TINYINT},
      shopkeeper_type_cn = #{shopkeeperTypeCn,jdbcType=VARCHAR},
      is_online_service = #{isOnlineService,jdbcType=TINYINT},
      his_trade_amount = #{hisTradeAmount,jdbcType=DECIMAL},
      invest_money = #{investMoney,jdbcType=DECIMAL},
      settlement_cust_no = #{settlementCustNo,jdbcType=BIGINT},
      client_type = #{clientType,jdbcType=TINYINT},
      legal_representative = #{legalRepresentative,jdbcType=VARCHAR},
      uniform_social_credit_code = #{uniformSocialCreditCode,jdbcType=VARCHAR},
      id_number = #{idNumber,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      withdraw_scale = #{withdrawScale,jdbcType=REAL},
      trade_amount_show_flag = #{tradeAmountShowFlag,jdbcType=TINYINT},
      share_qr_code_path = #{shareQrCodePath,jdbcType=VARCHAR},
      receiver = #{receiver,jdbcType=VARCHAR},
      receiver_tel = #{receiverTel,jdbcType=VARCHAR},
      receiver_addr = #{receiverAddr,jdbcType=VARCHAR},
      current_round_num = #{currentRoundNum,jdbcType=INTEGER},
      total_round_num = #{totalRoundNum,jdbcType=INTEGER},
      id_name = #{idName,jdbcType=VARCHAR},
      advance_profit_flag = #{advanceProfitFlag,jdbcType=TINYINT},
      tec_fee_accumulate = #{tecFeeAccumulate,jdbcType=DECIMAL},
      merchant_sub_type = #{merchantSubType,jdbcType=TINYINT},
      merchant_sub_type_cn = #{merchantSubTypeCn,jdbcType=VARCHAR},
      start_shop_time = #{startShopTime,jdbcType=VARCHAR},
      end_shop_time = #{endShopTime,jdbcType=VARCHAR},
      star_level = #{starLevel,jdbcType=REAL},
      week_use_scale = #{weekUseScale,jdbcType=DECIMAL},
      per_consume = #{perConsume,jdbcType=DECIMAL},
      store_phone_no = #{storePhoneNo,jdbcType=VARCHAR},
      profile = #{profile,jdbcType=VARCHAR},
      is_phone_check = #{isPhoneCheck,jdbcType=TINYINT},
      withdraw_way_id = #{withdrawWayId,jdbcType=BIGINT},
      room_count = #{roomCount,jdbcType=INTEGER},
      province_id = #{provinceId,jdbcType=BIGINT},
      city_id = #{cityId,jdbcType=BIGINT},
      zone_id = #{zoneId,jdbcType=BIGINT},
      is_old_shelf_process = #{isOldShelfProcess,jdbcType=TINYINT},
      latitude_x = #{latitudeX,jdbcType=DECIMAL},
      longitude_y = #{longitudeY,jdbcType=DECIMAL}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>