<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.MerchantProfitDayModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <id column="check_date" property="checkDate" jdbcType="DATE" />
    <result column="check_month" property="checkMonth" jdbcType="VARCHAR" />
    <result column="check_year" property="checkYear" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
    <result column="ratio_id" property="ratioId" jdbcType="BIGINT" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="merchant_type" property="merchantType" jdbcType="VARCHAR" />
    <result column="settle_fee_type" property="settleFeeType" jdbcType="TINYINT" />
    <result column="settle_fee_type_cn" property="settleFeeTypeCn" jdbcType="VARCHAR" />
    <result column="settlement_count" property="settlementCount" jdbcType="INTEGER" />
    <result column="total_amount" property="totalAmount" jdbcType="DECIMAL" />
    <result column="done_amount" property="doneAmount" jdbcType="DECIMAL" />
    <result column="un_amount" property="unAmount" jdbcType="DECIMAL" />
    <result column="ratio_time" property="ratioTime" jdbcType="TIMESTAMP" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="STATUS" property="status" jdbcType="TINYINT" />
    <result column="industry_category_cn" property="industryCategoryCn" jdbcType="VARCHAR" />
    <result column="merchant_type_cn" property="merchantTypeCn" jdbcType="VARCHAR" />
    <result column="charger_type" property="chargerType" jdbcType="TINYINT" />
    <result column="batch_no" property="batchNo" jdbcType="BIGINT" />
    <result column="is_freeze" property="isFreeze" jdbcType="TINYINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, check_date, check_month, check_year, merchant_id, ratio_id, merchant_name, merchant_type, 
    settle_fee_type, settle_fee_type_cn, settlement_count, total_amount, done_amount, 
    un_amount, ratio_time, create_time, update_time, STATUS, industry_category_cn, merchant_type_cn, 
    charger_type, batch_no, is_freeze
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_profit_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModelKey" >
    select 
    <include refid="Base_Column_List" />
    from merchant_profit_day
    where id = #{id,jdbcType=BIGINT}
      and check_date = #{checkDate,jdbcType=DATE}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModelKey" >
    delete from merchant_profit_day
    where id = #{id,jdbcType=BIGINT}
      and check_date = #{checkDate,jdbcType=DATE}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModelExample" >
    delete from merchant_profit_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModel" >
    insert into merchant_profit_day (id, check_date, check_month, 
      check_year, merchant_id, ratio_id, 
      merchant_name, merchant_type, settle_fee_type, 
      settle_fee_type_cn, settlement_count, total_amount, 
      done_amount, un_amount, ratio_time, 
      create_time, update_time, STATUS, 
      industry_category_cn, merchant_type_cn, charger_type, 
      batch_no, is_freeze)
    values (#{id,jdbcType=BIGINT}, #{checkDate,jdbcType=DATE}, #{checkMonth,jdbcType=VARCHAR}, 
      #{checkYear,jdbcType=VARCHAR}, #{merchantId,jdbcType=BIGINT}, #{ratioId,jdbcType=BIGINT}, 
      #{merchantName,jdbcType=VARCHAR}, #{merchantType,jdbcType=VARCHAR}, #{settleFeeType,jdbcType=TINYINT}, 
      #{settleFeeTypeCn,jdbcType=VARCHAR}, #{settlementCount,jdbcType=INTEGER}, #{totalAmount,jdbcType=DECIMAL}, 
      #{doneAmount,jdbcType=DECIMAL}, #{unAmount,jdbcType=DECIMAL}, #{ratioTime,jdbcType=TIMESTAMP}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{industryCategoryCn,jdbcType=VARCHAR}, #{merchantTypeCn,jdbcType=VARCHAR}, #{chargerType,jdbcType=TINYINT}, 
      #{batchNo,jdbcType=BIGINT}, #{isFreeze,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModel" >
    insert into merchant_profit_day
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="checkMonth != null" >
        check_month,
      </if>
      <if test="checkYear != null" >
        check_year,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="ratioId != null" >
        ratio_id,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="merchantType != null" >
        merchant_type,
      </if>
      <if test="settleFeeType != null" >
        settle_fee_type,
      </if>
      <if test="settleFeeTypeCn != null" >
        settle_fee_type_cn,
      </if>
      <if test="settlementCount != null" >
        settlement_count,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="doneAmount != null" >
        done_amount,
      </if>
      <if test="unAmount != null" >
        un_amount,
      </if>
      <if test="ratioTime != null" >
        ratio_time,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="industryCategoryCn != null" >
        industry_category_cn,
      </if>
      <if test="merchantTypeCn != null" >
        merchant_type_cn,
      </if>
      <if test="chargerType != null" >
        charger_type,
      </if>
      <if test="batchNo != null" >
        batch_no,
      </if>
      <if test="isFreeze != null" >
        is_freeze,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=DATE},
      </if>
      <if test="checkMonth != null" >
        #{checkMonth,jdbcType=VARCHAR},
      </if>
      <if test="checkYear != null" >
        #{checkYear,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="ratioId != null" >
        #{ratioId,jdbcType=BIGINT},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="settleFeeType != null" >
        #{settleFeeType,jdbcType=TINYINT},
      </if>
      <if test="settleFeeTypeCn != null" >
        #{settleFeeTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="settlementCount != null" >
        #{settlementCount,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="doneAmount != null" >
        #{doneAmount,jdbcType=DECIMAL},
      </if>
      <if test="unAmount != null" >
        #{unAmount,jdbcType=DECIMAL},
      </if>
      <if test="ratioTime != null" >
        #{ratioTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="industryCategoryCn != null" >
        #{industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="merchantTypeCn != null" >
        #{merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="chargerType != null" >
        #{chargerType,jdbcType=TINYINT},
      </if>
      <if test="batchNo != null" >
        #{batchNo,jdbcType=BIGINT},
      </if>
      <if test="isFreeze != null" >
        #{isFreeze,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModelExample" resultType="java.lang.Integer" >
    select count(*) from merchant_profit_day
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_profit_day
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.checkDate != null" >
        check_date = #{record.checkDate,jdbcType=DATE},
      </if>
      <if test="record.checkMonth != null" >
        check_month = #{record.checkMonth,jdbcType=VARCHAR},
      </if>
      <if test="record.checkYear != null" >
        check_year = #{record.checkYear,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=BIGINT},
      </if>
      <if test="record.ratioId != null" >
        ratio_id = #{record.ratioId,jdbcType=BIGINT},
      </if>
      <if test="record.merchantName != null" >
        merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantType != null" >
        merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      </if>
      <if test="record.settleFeeType != null" >
        settle_fee_type = #{record.settleFeeType,jdbcType=TINYINT},
      </if>
      <if test="record.settleFeeTypeCn != null" >
        settle_fee_type_cn = #{record.settleFeeTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.settlementCount != null" >
        settlement_count = #{record.settlementCount,jdbcType=INTEGER},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.doneAmount != null" >
        done_amount = #{record.doneAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.unAmount != null" >
        un_amount = #{record.unAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.ratioTime != null" >
        ratio_time = #{record.ratioTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.status != null" >
        STATUS = #{record.status,jdbcType=TINYINT},
      </if>
      <if test="record.industryCategoryCn != null" >
        industry_category_cn = #{record.industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantTypeCn != null" >
        merchant_type_cn = #{record.merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.chargerType != null" >
        charger_type = #{record.chargerType,jdbcType=TINYINT},
      </if>
      <if test="record.batchNo != null" >
        batch_no = #{record.batchNo,jdbcType=BIGINT},
      </if>
      <if test="record.isFreeze != null" >
        is_freeze = #{record.isFreeze,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_profit_day
    set id = #{record.id,jdbcType=BIGINT},
      check_date = #{record.checkDate,jdbcType=DATE},
      check_month = #{record.checkMonth,jdbcType=VARCHAR},
      check_year = #{record.checkYear,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=BIGINT},
      ratio_id = #{record.ratioId,jdbcType=BIGINT},
      merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      merchant_type = #{record.merchantType,jdbcType=VARCHAR},
      settle_fee_type = #{record.settleFeeType,jdbcType=TINYINT},
      settle_fee_type_cn = #{record.settleFeeTypeCn,jdbcType=VARCHAR},
      settlement_count = #{record.settlementCount,jdbcType=INTEGER},
      total_amount = #{record.totalAmount,jdbcType=DECIMAL},
      done_amount = #{record.doneAmount,jdbcType=DECIMAL},
      un_amount = #{record.unAmount,jdbcType=DECIMAL},
      ratio_time = #{record.ratioTime,jdbcType=TIMESTAMP},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      STATUS = #{record.status,jdbcType=TINYINT},
      industry_category_cn = #{record.industryCategoryCn,jdbcType=VARCHAR},
      merchant_type_cn = #{record.merchantTypeCn,jdbcType=VARCHAR},
      charger_type = #{record.chargerType,jdbcType=TINYINT},
      batch_no = #{record.batchNo,jdbcType=BIGINT},
      is_freeze = #{record.isFreeze,jdbcType=TINYINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModel" >
    update merchant_profit_day
    <set >
      <if test="checkMonth != null" >
        check_month = #{checkMonth,jdbcType=VARCHAR},
      </if>
      <if test="checkYear != null" >
        check_year = #{checkYear,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="ratioId != null" >
        ratio_id = #{ratioId,jdbcType=BIGINT},
      </if>
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="merchantType != null" >
        merchant_type = #{merchantType,jdbcType=VARCHAR},
      </if>
      <if test="settleFeeType != null" >
        settle_fee_type = #{settleFeeType,jdbcType=TINYINT},
      </if>
      <if test="settleFeeTypeCn != null" >
        settle_fee_type_cn = #{settleFeeTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="settlementCount != null" >
        settlement_count = #{settlementCount,jdbcType=INTEGER},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=DECIMAL},
      </if>
      <if test="doneAmount != null" >
        done_amount = #{doneAmount,jdbcType=DECIMAL},
      </if>
      <if test="unAmount != null" >
        un_amount = #{unAmount,jdbcType=DECIMAL},
      </if>
      <if test="ratioTime != null" >
        ratio_time = #{ratioTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=TINYINT},
      </if>
      <if test="industryCategoryCn != null" >
        industry_category_cn = #{industryCategoryCn,jdbcType=VARCHAR},
      </if>
      <if test="merchantTypeCn != null" >
        merchant_type_cn = #{merchantTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="chargerType != null" >
        charger_type = #{chargerType,jdbcType=TINYINT},
      </if>
      <if test="batchNo != null" >
        batch_no = #{batchNo,jdbcType=BIGINT},
      </if>
      <if test="isFreeze != null" >
        is_freeze = #{isFreeze,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
      and check_date = #{checkDate,jdbcType=DATE}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantProfitDayModel" >
    update merchant_profit_day
    set check_month = #{checkMonth,jdbcType=VARCHAR},
      check_year = #{checkYear,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      ratio_id = #{ratioId,jdbcType=BIGINT},
      merchant_name = #{merchantName,jdbcType=VARCHAR},
      merchant_type = #{merchantType,jdbcType=VARCHAR},
      settle_fee_type = #{settleFeeType,jdbcType=TINYINT},
      settle_fee_type_cn = #{settleFeeTypeCn,jdbcType=VARCHAR},
      settlement_count = #{settlementCount,jdbcType=INTEGER},
      total_amount = #{totalAmount,jdbcType=DECIMAL},
      done_amount = #{doneAmount,jdbcType=DECIMAL},
      un_amount = #{unAmount,jdbcType=DECIMAL},
      ratio_time = #{ratioTime,jdbcType=TIMESTAMP},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      STATUS = #{status,jdbcType=TINYINT},
      industry_category_cn = #{industryCategoryCn,jdbcType=VARCHAR},
      merchant_type_cn = #{merchantTypeCn,jdbcType=VARCHAR},
      charger_type = #{chargerType,jdbcType=TINYINT},
      batch_no = #{batchNo,jdbcType=BIGINT},
      is_freeze = #{isFreeze,jdbcType=TINYINT}
    where id = #{id,jdbcType=BIGINT}
      and check_date = #{checkDate,jdbcType=DATE}
  </update>
</mapper>