<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.MerchantApplyFormModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="merchant_name" property="merchantName" jdbcType="VARCHAR" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="tel_no" property="telNo" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="zone" property="zone" jdbcType="VARCHAR" />
    <result column="agents_zone" property="agentsZone" jdbcType="VARCHAR" />
    <result column="throw_dev_channel" property="throwDevChannel" jdbcType="VARCHAR" />
    <result column="apply_type" property="applyType" jdbcType="BIGINT" />
    <result column="apply_type_cn" property="applyTypeCn" jdbcType="VARCHAR" />
    <result column="do_status" property="doStatus" jdbcType="BIGINT" />
    <result column="do_status_cn" property="doStatusCn" jdbcType="VARCHAR" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, merchant_name, person_name, tel_no, province, city, zone, agents_zone, throw_dev_channel, 
    apply_type, apply_type_cn, do_status, do_status_cn, cust_id, create_time, update_time, 
    remark
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from merchant_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from merchant_apply_form
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from merchant_apply_form
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModelExample" >
    delete from merchant_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModel" >
    insert into merchant_apply_form (id, merchant_name, person_name, 
      tel_no, province, city, 
      zone, agents_zone, throw_dev_channel, 
      apply_type, apply_type_cn, do_status, 
      do_status_cn, cust_id, create_time, 
      update_time, remark)
    values (#{id,jdbcType=BIGINT}, #{merchantName,jdbcType=VARCHAR}, #{personName,jdbcType=VARCHAR}, 
      #{telNo,jdbcType=VARCHAR}, #{province,jdbcType=VARCHAR}, #{city,jdbcType=VARCHAR}, 
      #{zone,jdbcType=VARCHAR}, #{agentsZone,jdbcType=VARCHAR}, #{throwDevChannel,jdbcType=VARCHAR}, 
      #{applyType,jdbcType=BIGINT}, #{applyTypeCn,jdbcType=VARCHAR}, #{doStatus,jdbcType=BIGINT}, 
      #{doStatusCn,jdbcType=VARCHAR}, #{custId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModel" >
    insert into merchant_apply_form
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="merchantName != null" >
        merchant_name,
      </if>
      <if test="personName != null" >
        person_name,
      </if>
      <if test="telNo != null" >
        tel_no,
      </if>
      <if test="province != null" >
        province,
      </if>
      <if test="city != null" >
        city,
      </if>
      <if test="zone != null" >
        zone,
      </if>
      <if test="agentsZone != null" >
        agents_zone,
      </if>
      <if test="throwDevChannel != null" >
        throw_dev_channel,
      </if>
      <if test="applyType != null" >
        apply_type,
      </if>
      <if test="applyTypeCn != null" >
        apply_type_cn,
      </if>
      <if test="doStatus != null" >
        do_status,
      </if>
      <if test="doStatusCn != null" >
        do_status_cn,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="merchantName != null" >
        #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        #{personName,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        #{zone,jdbcType=VARCHAR},
      </if>
      <if test="agentsZone != null" >
        #{agentsZone,jdbcType=VARCHAR},
      </if>
      <if test="throwDevChannel != null" >
        #{throwDevChannel,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null" >
        #{applyType,jdbcType=BIGINT},
      </if>
      <if test="applyTypeCn != null" >
        #{applyTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="doStatus != null" >
        #{doStatus,jdbcType=BIGINT},
      </if>
      <if test="doStatusCn != null" >
        #{doStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModelExample" resultType="java.lang.Integer" >
    select count(*) from merchant_apply_form
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update merchant_apply_form
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.merchantName != null" >
        merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      </if>
      <if test="record.personName != null" >
        person_name = #{record.personName,jdbcType=VARCHAR},
      </if>
      <if test="record.telNo != null" >
        tel_no = #{record.telNo,jdbcType=VARCHAR},
      </if>
      <if test="record.province != null" >
        province = #{record.province,jdbcType=VARCHAR},
      </if>
      <if test="record.city != null" >
        city = #{record.city,jdbcType=VARCHAR},
      </if>
      <if test="record.zone != null" >
        zone = #{record.zone,jdbcType=VARCHAR},
      </if>
      <if test="record.agentsZone != null" >
        agents_zone = #{record.agentsZone,jdbcType=VARCHAR},
      </if>
      <if test="record.throwDevChannel != null" >
        throw_dev_channel = #{record.throwDevChannel,jdbcType=VARCHAR},
      </if>
      <if test="record.applyType != null" >
        apply_type = #{record.applyType,jdbcType=BIGINT},
      </if>
      <if test="record.applyTypeCn != null" >
        apply_type_cn = #{record.applyTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.doStatus != null" >
        do_status = #{record.doStatus,jdbcType=BIGINT},
      </if>
      <if test="record.doStatusCn != null" >
        do_status_cn = #{record.doStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update merchant_apply_form
    set id = #{record.id,jdbcType=BIGINT},
      merchant_name = #{record.merchantName,jdbcType=VARCHAR},
      person_name = #{record.personName,jdbcType=VARCHAR},
      tel_no = #{record.telNo,jdbcType=VARCHAR},
      province = #{record.province,jdbcType=VARCHAR},
      city = #{record.city,jdbcType=VARCHAR},
      zone = #{record.zone,jdbcType=VARCHAR},
      agents_zone = #{record.agentsZone,jdbcType=VARCHAR},
      throw_dev_channel = #{record.throwDevChannel,jdbcType=VARCHAR},
      apply_type = #{record.applyType,jdbcType=BIGINT},
      apply_type_cn = #{record.applyTypeCn,jdbcType=VARCHAR},
      do_status = #{record.doStatus,jdbcType=BIGINT},
      do_status_cn = #{record.doStatusCn,jdbcType=VARCHAR},
      cust_id = #{record.custId,jdbcType=BIGINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModel" >
    update merchant_apply_form
    <set >
      <if test="merchantName != null" >
        merchant_name = #{merchantName,jdbcType=VARCHAR},
      </if>
      <if test="personName != null" >
        person_name = #{personName,jdbcType=VARCHAR},
      </if>
      <if test="telNo != null" >
        tel_no = #{telNo,jdbcType=VARCHAR},
      </if>
      <if test="province != null" >
        province = #{province,jdbcType=VARCHAR},
      </if>
      <if test="city != null" >
        city = #{city,jdbcType=VARCHAR},
      </if>
      <if test="zone != null" >
        zone = #{zone,jdbcType=VARCHAR},
      </if>
      <if test="agentsZone != null" >
        agents_zone = #{agentsZone,jdbcType=VARCHAR},
      </if>
      <if test="throwDevChannel != null" >
        throw_dev_channel = #{throwDevChannel,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null" >
        apply_type = #{applyType,jdbcType=BIGINT},
      </if>
      <if test="applyTypeCn != null" >
        apply_type_cn = #{applyTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="doStatus != null" >
        do_status = #{doStatus,jdbcType=BIGINT},
      </if>
      <if test="doStatusCn != null" >
        do_status_cn = #{doStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerchantApplyFormModel" >
    update merchant_apply_form
    set merchant_name = #{merchantName,jdbcType=VARCHAR},
      person_name = #{personName,jdbcType=VARCHAR},
      tel_no = #{telNo,jdbcType=VARCHAR},
      province = #{province,jdbcType=VARCHAR},
      city = #{city,jdbcType=VARCHAR},
      zone = #{zone,jdbcType=VARCHAR},
      agents_zone = #{agentsZone,jdbcType=VARCHAR},
      throw_dev_channel = #{throwDevChannel,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=BIGINT},
      apply_type_cn = #{applyTypeCn,jdbcType=VARCHAR},
      do_status = #{doStatus,jdbcType=BIGINT},
      do_status_cn = #{doStatusCn,jdbcType=VARCHAR},
      cust_id = #{custId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>