<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.MerWithdrawMetadataModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="mer_withdraw_type" property="merWithdrawType" jdbcType="TINYINT" />
    <result column="mer_withdraw_type_cn" property="merWithdrawTypeCn" jdbcType="VARCHAR" />
    <result column="max_withdraw_times" property="maxWithdrawTimes" jdbcType="TINYINT" />
    <result column="can_withdraw_start_day" property="canWithdrawStartDay" jdbcType="TINYINT" />
    <result column="can_withdraw_end_day" property="canWithdrawEndDay" jdbcType="TINYINT" />
    <result column="is_default" property="isDefault" jdbcType="TINYINT" />
    <result column="pay_way" property="payWay" jdbcType="TINYINT" />
    <result column="pay_way_cn" property="payWayCn" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="is_real_time" property="isRealTime" jdbcType="TINYINT" />
    <result column="is_real_time_cn" property="isRealTimeCn" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, name, mer_withdraw_type, mer_withdraw_type_cn, max_withdraw_times, can_withdraw_start_day, 
    can_withdraw_end_day, is_default, pay_way, pay_way_cn, create_time, update_time, 
    is_real_time, is_real_time_cn
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from mer_withdraw_metadata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from mer_withdraw_metadata
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from mer_withdraw_metadata
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModelExample" >
    delete from mer_withdraw_metadata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModel" >
    insert into mer_withdraw_metadata (id, name, mer_withdraw_type, 
      mer_withdraw_type_cn, max_withdraw_times, can_withdraw_start_day, 
      can_withdraw_end_day, is_default, pay_way, 
      pay_way_cn, create_time, update_time, 
      is_real_time, is_real_time_cn)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{merWithdrawType,jdbcType=TINYINT}, 
      #{merWithdrawTypeCn,jdbcType=VARCHAR}, #{maxWithdrawTimes,jdbcType=TINYINT}, #{canWithdrawStartDay,jdbcType=TINYINT}, 
      #{canWithdrawEndDay,jdbcType=TINYINT}, #{isDefault,jdbcType=TINYINT}, #{payWay,jdbcType=TINYINT}, 
      #{payWayCn,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{isRealTime,jdbcType=TINYINT}, #{isRealTimeCn,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModel" >
    insert into mer_withdraw_metadata
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="name != null" >
        name,
      </if>
      <if test="merWithdrawType != null" >
        mer_withdraw_type,
      </if>
      <if test="merWithdrawTypeCn != null" >
        mer_withdraw_type_cn,
      </if>
      <if test="maxWithdrawTimes != null" >
        max_withdraw_times,
      </if>
      <if test="canWithdrawStartDay != null" >
        can_withdraw_start_day,
      </if>
      <if test="canWithdrawEndDay != null" >
        can_withdraw_end_day,
      </if>
      <if test="isDefault != null" >
        is_default,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="payWayCn != null" >
        pay_way_cn,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="isRealTime != null" >
        is_real_time,
      </if>
      <if test="isRealTimeCn != null" >
        is_real_time_cn,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="name != null" >
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="merWithdrawType != null" >
        #{merWithdrawType,jdbcType=TINYINT},
      </if>
      <if test="merWithdrawTypeCn != null" >
        #{merWithdrawTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="maxWithdrawTimes != null" >
        #{maxWithdrawTimes,jdbcType=TINYINT},
      </if>
      <if test="canWithdrawStartDay != null" >
        #{canWithdrawStartDay,jdbcType=TINYINT},
      </if>
      <if test="canWithdrawEndDay != null" >
        #{canWithdrawEndDay,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null" >
        #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        #{payWay,jdbcType=TINYINT},
      </if>
      <if test="payWayCn != null" >
        #{payWayCn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRealTime != null" >
        #{isRealTime,jdbcType=TINYINT},
      </if>
      <if test="isRealTimeCn != null" >
        #{isRealTimeCn,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModelExample" resultType="java.lang.Integer" >
    select count(*) from mer_withdraw_metadata
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update mer_withdraw_metadata
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.name != null" >
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.merWithdrawType != null" >
        mer_withdraw_type = #{record.merWithdrawType,jdbcType=TINYINT},
      </if>
      <if test="record.merWithdrawTypeCn != null" >
        mer_withdraw_type_cn = #{record.merWithdrawTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="record.maxWithdrawTimes != null" >
        max_withdraw_times = #{record.maxWithdrawTimes,jdbcType=TINYINT},
      </if>
      <if test="record.canWithdrawStartDay != null" >
        can_withdraw_start_day = #{record.canWithdrawStartDay,jdbcType=TINYINT},
      </if>
      <if test="record.canWithdrawEndDay != null" >
        can_withdraw_end_day = #{record.canWithdrawEndDay,jdbcType=TINYINT},
      </if>
      <if test="record.isDefault != null" >
        is_default = #{record.isDefault,jdbcType=TINYINT},
      </if>
      <if test="record.payWay != null" >
        pay_way = #{record.payWay,jdbcType=TINYINT},
      </if>
      <if test="record.payWayCn != null" >
        pay_way_cn = #{record.payWayCn,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateTime != null" >
        update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.isRealTime != null" >
        is_real_time = #{record.isRealTime,jdbcType=TINYINT},
      </if>
      <if test="record.isRealTimeCn != null" >
        is_real_time_cn = #{record.isRealTimeCn,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update mer_withdraw_metadata
    set id = #{record.id,jdbcType=BIGINT},
      name = #{record.name,jdbcType=VARCHAR},
      mer_withdraw_type = #{record.merWithdrawType,jdbcType=TINYINT},
      mer_withdraw_type_cn = #{record.merWithdrawTypeCn,jdbcType=VARCHAR},
      max_withdraw_times = #{record.maxWithdrawTimes,jdbcType=TINYINT},
      can_withdraw_start_day = #{record.canWithdrawStartDay,jdbcType=TINYINT},
      can_withdraw_end_day = #{record.canWithdrawEndDay,jdbcType=TINYINT},
      is_default = #{record.isDefault,jdbcType=TINYINT},
      pay_way = #{record.payWay,jdbcType=TINYINT},
      pay_way_cn = #{record.payWayCn,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      update_time = #{record.updateTime,jdbcType=TIMESTAMP},
      is_real_time = #{record.isRealTime,jdbcType=TINYINT},
      is_real_time_cn = #{record.isRealTimeCn,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModel" >
    update mer_withdraw_metadata
    <set >
      <if test="name != null" >
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="merWithdrawType != null" >
        mer_withdraw_type = #{merWithdrawType,jdbcType=TINYINT},
      </if>
      <if test="merWithdrawTypeCn != null" >
        mer_withdraw_type_cn = #{merWithdrawTypeCn,jdbcType=VARCHAR},
      </if>
      <if test="maxWithdrawTimes != null" >
        max_withdraw_times = #{maxWithdrawTimes,jdbcType=TINYINT},
      </if>
      <if test="canWithdrawStartDay != null" >
        can_withdraw_start_day = #{canWithdrawStartDay,jdbcType=TINYINT},
      </if>
      <if test="canWithdrawEndDay != null" >
        can_withdraw_end_day = #{canWithdrawEndDay,jdbcType=TINYINT},
      </if>
      <if test="isDefault != null" >
        is_default = #{isDefault,jdbcType=TINYINT},
      </if>
      <if test="payWay != null" >
        pay_way = #{payWay,jdbcType=TINYINT},
      </if>
      <if test="payWayCn != null" >
        pay_way_cn = #{payWayCn,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRealTime != null" >
        is_real_time = #{isRealTime,jdbcType=TINYINT},
      </if>
      <if test="isRealTimeCn != null" >
        is_real_time_cn = #{isRealTimeCn,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.MerWithdrawMetadataModel" >
    update mer_withdraw_metadata
    set name = #{name,jdbcType=VARCHAR},
      mer_withdraw_type = #{merWithdrawType,jdbcType=TINYINT},
      mer_withdraw_type_cn = #{merWithdrawTypeCn,jdbcType=VARCHAR},
      max_withdraw_times = #{maxWithdrawTimes,jdbcType=TINYINT},
      can_withdraw_start_day = #{canWithdrawStartDay,jdbcType=TINYINT},
      can_withdraw_end_day = #{canWithdrawEndDay,jdbcType=TINYINT},
      is_default = #{isDefault,jdbcType=TINYINT},
      pay_way = #{payWay,jdbcType=TINYINT},
      pay_way_cn = #{payWayCn,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      is_real_time = #{isRealTime,jdbcType=TINYINT},
      is_real_time_cn = #{isRealTimeCn,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>