<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.RechargeTradeInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.RechargeTradeInfoModel" >
    <id column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="STATUS_CN" property="statusCn" jdbcType="VARCHAR" />
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="cust_no" property="custNo" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />   
    <result column="trade_type" property="tradeType" jdbcType="TINYINT" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="bank_recv_time" property="bankRecvTime" jdbcType="TIMESTAMP" />
    <result column="check_date" property="checkDate" jdbcType="DATE" />
    <result column="recon_status" property="reconStatus" jdbcType="TINYINT" />
    <result column="jifen_amt" property="jifenAmt" jdbcType="DECIMAL" />

    <result column="out_trade_no" property="outTradeNo" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    trade_id, create_time, status, STATUS_CN, trade_name, cust_no, update_time, trade_amount, trade_type,
    refund_amount, bank_recv_time, check_date, recon_status, jifen_amt
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from recharge_trade_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
    
  </select>
  
  
  <resultMap id="getRefundAmtsResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.RefundBO">
    <id column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="out_trade_no" jdbcType="BIGINT" property="tradeOutNo" />
    <result column="remain_amt" jdbcType="DECIMAL" property="remainRefundAmt" />
    <result column="trade_amount" jdbcType="DECIMAL" property="totalAmt" />
    <result column="channel_type" jdbcType="TINYINT" property="channelType" />
  </resultMap>
  
  <select id="getRefundAmts" parameterType="java.lang.Long" resultMap="getRefundAmtsResultMap">
     <![CDATA[
     	/*FORCE_MASTER*/ SELECT ti.trade_id,ti.trade_amount-ti.refund_amount AS remain_amt,ti.trade_amount,ccci.out_trade_no
         ,ccci.channel_type FROM 
 		  cust_canwithdraw_charge_info ccci  LEFT JOIN recharge_trade_info ti  ON ccci.trade_id= ti.trade_id   
      
		WHERE ccci.cust_no = #{custNo,jdbcType=BIGINT} 
		AND (ccci.recon_status =10 OR ccci.recon_status IS NULL)		
		AND ti.cust_no = #{custNo,jdbcType=BIGINT} 
		AND ti.trade_amount-ti.refund_amount > 0
		ORDER BY  remain_amt DESC, ccci.trade_time ASC  
		]]>    
  </select>
  
  <select id ="refundTradesByRefundAmtForUpdate"  resultMap="BaseResultMap">
        select   <include refid="Base_Column_List" />
         from recharge_trade_info ti where ti.trade_id in
        <foreach collection="collection" index="index" item="item" open="(" separator="," close=")">
            #{item}
        </foreach>      
  </select>
  
  <insert id="insertRefundRecordsIfHaveNotRefundByCustNo"  parameterType="java.lang.Long" >
  	INSERT INTO cust_canwithdraw_charge_info (trade_id,cust_no,channel_type,recon_status,out_trade_no, trade_time )
	  SELECT rtr.trade_id,rtr.cust_no,11 channel_type,NULL recon_status,ccr.out_trade_no,rtr.create_time trade_time 
	  FROM recharge_trade_info rtr LEFT JOIN channel_capital_record ccr ON
	ccr.trade_record_id = rtr.trade_id
	 WHERE rtr.cust_no= #{custNo,jdbcType=BIGINT}  AND rtr.status =31 AND rtr.refund_amount !=rtr.trade_amount
	 AND rtr.trade_id  NOT IN
	 (SELECT trade_id FROM cust_canwithdraw_charge_info ccci WHERE ccci.cust_no = #{custNo,jdbcType=BIGINT} )
  </insert> 
 
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from recharge_trade_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
      
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.RechargeTradeInfoModel" >
    insert into recharge_trade_info (trade_id, create_time, status, 
      STATUS_CN, trade_name, cust_no, 
      update_time, trade_amount, trade_type,refund_amount, 
      bank_recv_time, check_date, recon_status, 
      jifen_amt)
    values (#{tradeId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{statusCn,jdbcType=VARCHAR}, #{tradeName,jdbcType=VARCHAR}, #{custNo,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tradeAmount,jdbcType=DECIMAL},
      #{tradeType,jdbcType=TINYINT}, #{refundAmount,jdbcType=DECIMAL}, 
      #{bankRecvTime,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=DATE}, #{reconStatus,jdbcType=TINYINT}, 
      #{jifenAmt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.RechargeTradeInfoModel" >
    insert into recharge_trade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusCn != null" >
        STATUS_CN,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="custNo != null" >
        cust_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="bankRecvTime != null" >
        bank_recv_time,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="reconStatus != null" >
        recon_status,
      </if>
       <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="jifenAmt != null" >
        jifen_amt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="statusCn != null" >
        #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        #{custNo,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankRecvTime != null" >
        #{bankRecvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=DATE},
      </if>
      <if test="reconStatus != null" >
        #{reconStatus,jdbcType=TINYINT},
      </if>
       <if test="tradeType != null" >
        #{tradeType,jdbcType=TINYINT},
      </if>
      <if test="jifenAmt != null" >
        #{jifenAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.RechargeTradeInfoModel" >
    update recharge_trade_info
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="statusCn != null" >
        STATUS_CN = #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        cust_no = #{custNo,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null and tradeAmount != 0" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="bankRecvTime != null" >
        bank_recv_time = #{bankRecvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        check_date = #{checkDate,jdbcType=DATE},
      </if>
      <if test="reconStatus != null" >
        recon_status = #{reconStatus,jdbcType=TINYINT},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=TINYINT},
      </if>
      <if test="jifenAmt != null and jifenAmt != 0"  >
        jifen_amt = #{jifenAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where trade_id = #{tradeId,jdbcType=BIGINT}
    
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.RechargeTradeInfoModel" >
    update recharge_trade_info
    set status = #{status,jdbcType=TINYINT},
      STATUS_CN = #{statusCn,jdbcType=VARCHAR},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      cust_no = #{custNo,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      bank_recv_time = #{bankRecvTime,jdbcType=TIMESTAMP},
      check_date = #{checkDate,jdbcType=DATE},
      recon_status = #{reconStatus,jdbcType=TINYINT},
      trade_type = #{tradeType,jdbcType=TINYINT},
      jifen_amt = #{jifenAmt,jdbcType=DECIMAL}
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </update>
</mapper>