<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.ShareChargerModelBySelfMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ShareChargerModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="charger_type_id" property="chargerTypeId" jdbcType="INTEGER" />
    <result column="charger_type_name" property="chargerTypeName" jdbcType="VARCHAR" />
    <result column="pwd_index" property="pwdIndex" jdbcType="BIGINT" />
    <result column="pwds" property="pwds" jdbcType="VARCHAR" />
    <result column="use_count_times_yesterday" property="useCountTimesYesterday" jdbcType="DECIMAL" />
    <result column="total_amount_yesterday" property="totalAmountYesterday" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="agents1_id" property="agents1Id" jdbcType="BIGINT" />
    <result column="agents2_id" property="agents2Id" jdbcType="BIGINT" />
    <result column="agents3_id" property="agents3Id" jdbcType="BIGINT" />
    <result column="pwd_mode" property="pwdMode" jdbcType="BIGINT" />
    <result column="refactor_idx" property="refactorIdx" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_date_time" property="updateDateTime" jdbcType="TIMESTAMP" />
    <result column="last_use_time" property="lastUseTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <resultMap id="selectForPageResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ShareChargerModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="charger_type_id" property="chargerTypeId" jdbcType="INTEGER" />
    <result column="charger_type_name" property="chargerTypeName" jdbcType="VARCHAR" />
    <result column="pwd_index" property="pwdIndex" jdbcType="BIGINT" />
    <result column="pwds" property="pwds" jdbcType="VARCHAR" />
    <result column="use_count_times_yesterday" property="useCountTimesYesterday" jdbcType="DECIMAL" />
    <result column="total_amount_yesterday" property="totalAmountYesterday" jdbcType="DECIMAL" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="agents1_id" property="agents1Id" jdbcType="BIGINT" />
    <result column="agents2_id" property="agents2Id" jdbcType="BIGINT" />
    <result column="agents3_id" property="agents3Id" jdbcType="BIGINT" />
    <result column="pwd_mode" property="pwdMode" jdbcType="BIGINT" />
    <result column="refactor_idx" property="refactorIdx" jdbcType="VARCHAR" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_date_time" property="createDateTime" jdbcType="TIMESTAMP" />
    <result column="update_date_time" property="updateDateTime" jdbcType="TIMESTAMP" />
    <result column="last_use_time" property="lastUseTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <select id="selectByConditionForPage"  parameterType="java.util.HashMap"  resultMap="selectForPageResultMap">  
	    SELECT 
		    chrg.id, chrg.device_id, chrg.charger_type_id, chrg.charger_type_name, chrg.pwd_index, chrg.pwds, 
		    chrg.use_count_times_yesterday, chrg.total_amount_yesterday, chrg.remark, chrg.agents1_id, 
		    chrg.agents2_id, chrg.agents3_id, chrg.pwd_mode, chrg.refactor_idx, 
		    chrg.create_id, chrg.create_date_time, chrg.update_date_time, chrg.last_use_time
		FROM `share_charger` chrg
		LEFT JOIN `share_device_info` dev ON chrg.`device_id`=dev.`Id`
		where 1=1 
		<if test="id !=null">
			and chrg.Id=#{id,jdbcType=BIGINT}
		</if>
		<if test="deviceNo !=null">
			and chrg.device_id=#{deviceNo,jdbcType=BIGINT}
		</if>
		<if test="chargerTypeId !=null">
			and chrg.charger_type_id=#{chargerTypeId,jdbcType=BIGINT}
		</if>
		<if test="noRight !=null">
			<![CDATA[ 
			 and 1<>1
	    	]]>
		</if>	
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
		<if test="order != null">
			<![CDATA[ 
			order by ${order}
	    	]]>
		</if>
		<if test="order == null">
			order by chrg.create_date_time desc
		</if>
		<if test="limit != null">
			<![CDATA[ 
			LIMIT #{offset,jdbcType=BIGINT},#{limit,jdbcType=BIGINT}
	    	]]>
		</if>
  </select>
  <select id="countByConditionForPage"  parameterType="java.util.HashMap"  resultType="java.lang.Long" >
	    SELECT 
				   COUNT(chrg.Id)
		FROM `share_charger` chrg
		LEFT JOIN `share_device_info` dev ON chrg.`device_id`=dev.`Id`
		where 1=1
		<if test="id !=null">
			and chrg.Id=#{id,jdbcType=BIGINT}
		</if>
		<if test="deviceNo !=null">
			and chrg.device_id=#{deviceNo,jdbcType=BIGINT}
		</if>
		<if test="chargerTypeId !=null">
			and chrg.charger_type_id=#{chargerTypeId,jdbcType=BIGINT}
		</if>
		<if test="noRight !=null">
			<![CDATA[ 
			 and 1<>1
	    	]]>
		</if>	
		<if test="filter != null">
			<![CDATA[ 
			 ${filter}
	    	]]>
		</if>
  </select>  
  <resultMap id="deviceChargersGroupByDeviceNoResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.DeviceChargerGroup" >
   	<result column="device_id" property="deviceId" jdbcType="BIGINT" />
    <result column="chargers" property="chargers" jdbcType="VARCHAR" />
    <result column="cntForChargers" property="countChargers" jdbcType="BIGINT"/>
  </resultMap>
  <select id="getDeviceChargersGroupByDeviceNo"   resultMap="deviceChargersGroupByDeviceNoResultMap" >
	SELECT device_id,GROUP_CONCAT(id) AS chargers, COUNT(1) AS cntForChargers 
	FROM share_charger 
	where device_id=#{deviceId,jdbcType=BIGINT}
	GROUP BY device_id
  </select>
  <insert id="insertBatch" parameterType="java.util.List" >
      insert into share_charger (id, device_id, charger_type_id, 
      charger_type_name, pwd_index, pwds, 
      use_count_times_yesterday, total_amount_yesterday, 
      remark, agents1_id, agents2_id, 
      agents3_id, pwd_mode, refactor_idx, 
      create_id, create_date_time, update_date_time, 
      last_use_time)
    values 
    <foreach collection ="list" item="chargeModel" separator =",">
     (#{chargeModel.id,jdbcType=BIGINT}, #{chargeModel.deviceId,jdbcType=BIGINT}, #{chargeModel.chargerTypeId,jdbcType=INTEGER}, 
      #{chargeModel.chargerTypeName,jdbcType=VARCHAR}, #{chargeModel.pwdIndex,jdbcType=BIGINT}, #{chargeModel.pwds,jdbcType=VARCHAR}, 
      #{chargeModel.useCountTimesYesterday,jdbcType=DECIMAL}, #{chargeModel.totalAmountYesterday,jdbcType=DECIMAL}, 
      #{chargeModel.remark,jdbcType=VARCHAR}, #{chargeModel.agents1Id,jdbcType=BIGINT}, #{chargeModel.agents2Id,jdbcType=BIGINT}, 
      #{chargeModel.agents3Id,jdbcType=BIGINT}, #{chargeModel.pwdMode,jdbcType=BIGINT}, #{chargeModel.refactorIdx,jdbcType=VARCHAR}, 
      #{chargeModel.createId,jdbcType=BIGINT}, #{chargeModel.createDateTime,jdbcType=TIMESTAMP}, #{chargeModel.updateDateTime,jdbcType=TIMESTAMP}, 
      #{chargeModel.lastUseTime,jdbcType=TIMESTAMP})
    </foreach >
  </insert>
  <update id="batchBindDeviceNoByChargerNoList">
     update share_charger
    <set >
      <if test="record.deviceId != null" >
        device_id = #{record.deviceId,jdbcType=BIGINT},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=TIMESTAMP},
      </if>
    </set>       
    WHERE Id in
        (
        <foreach collection="list" item="item" separator=",">
            #{item,jdbcType=BIGINT}
        </foreach>
        )
  </update>
  <update id="batchBindDeviceNoByStartEndDeviceNo">
     update share_charger
    <set >
      <if test="record.deviceId != null" >
        device_id = #{record.deviceId,jdbcType=BIGINT},
      </if>
      <if test="record.updateDateTime != null" >
        update_date_time = #{record.updateDateTime,jdbcType=TIMESTAMP},
      </if>
    </set> 
    <![CDATA[    	      
     WHERE Id >=#{start,jdbcType=BIGINT} and Id <=#{end,jdbcType=BIGINT}
	  ]]>
   </update>
   <resultMap type="com.stylefeng.guns.sharecore.modular.system.model.LastSevenDaysBO" id="chargerLastThreeDaysInfoQueryResultMap">
		<result column="charger_id" jdbcType="BIGINT" property="chargerId"/>
		<result column="last_used_time" jdbcType="TIMESTAMP" property="lastUsedTime"/>
		<result column="device_id" jdbcType="BIGINT" property="deviceId"/>
		<result column="shopkeeper_id" jdbcType="BIGINT" property="shopkeeperId"/>
		<result column="salesman_id" jdbcType="VARCHAR" property="salesmanId"/>
		<result column="devNum" jdbcType="INTEGER" property="devNum"/>
		<result column="storeName" jdbcType="VARCHAR" property="storeName"/>
		<result column="storeAddress" jdbcType="VARCHAR" property="storeAddress"/>
		<result column="tel_no" jdbcType="VARCHAR" property="telNo"/>
		<result column="agents1_id" jdbcType="BIGINT" property="agents1Id"/>
		<result column="agents1_cn" jdbcType="VARCHAR" property="agents1Cn"/>
		<result column="agents2_id" jdbcType="BIGINT" property="agents2Id"/>
		<result column="agents2_cn" jdbcType="VARCHAR" property="agents2Cn"/>
		<result column="agents3_id" jdbcType="BIGINT" property="agents3Id"/>
		<result column="agents3_cn" jdbcType="VARCHAR" property="agents3Cn"/>
		<result column="alliance_business_id" jdbcType="BIGINT" property="allianceBusinessId"/>
		<result column="alliance_business_cn" jdbcType="VARCHAR" property="allianceBusinessCn"/>
		<result column="shopkeeper_id" jdbcType="BIGINT" property="shopkeeperId"/>
		<result column="shopkeeper_cn" jdbcType="VARCHAR" property="shopkeeperCn"/>
		<result column="online_merchant_id" jdbcType="BIGINT" property="onlineMerchantId"/>
		<result column="online_merchant_cn" jdbcType="VARCHAR" property="onlineMerchantCn"/>
   </resultMap>	
   <select id="chargerLastSevenDaysInfoQuery" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChargerBeyondSevenDaysNotUseRequestCommand" resultMap="chargerLastThreeDaysInfoQueryResultMap">
		SELECT 
			di.`Id` device_id,
			cr.`id` charger_id,
			cr.`last_use_time` last_used_time,
			mi.`name` storeName,
			mi.`addr` storeAddress,
			mi.`tel_no` tel_no,
			di.agents1_cn,
			di.agents1_id,
			di.agents2_cn,
			di.agents2_id,
			di.agents3_cn,
			di.agents3_id,
			di.alliance_business_cn,
			di.alliance_business_id,
			di.shopkeeper_cn,
			di.shopkeeper_id,
			di.online_merchant_cn,
			di.online_merchant_id
		FROM  share_charger cr 
		LEFT JOIN share_device_info di  ON cr.device_id = di.id 
		LEFT JOIN merchant_info mi ON mi.id = di.`online_merchant_id`
		WHERE 1 = 1
		  <if test="agents1Id != null" >
		  	 AND di.`agents1_id` = #{agents1Id,jdbcType=BIGINT}
		  </if>
		  <if test="agents2Id != null" >
		  	 AND di.`agents2_id` = #{agents2Id,jdbcType=BIGINT}
		  </if>
		  <if test="agents3Id != null" >
		  	 AND di.`agents3_id` = #{agents3Id,jdbcType=BIGINT}
		  </if>
		  <if test="shopkeeperId != null" >
		  	 AND di.`shopkeeper_id` = #{shopkeeperId,jdbcType=BIGINT}
		  </if>
		  <if test="allianceBusinessId != null" >
		  	 AND di.`alliance_business_id` = #{allianceBusinessId,jdbcType=BIGINT}
		  </if>
		  <if test="merchantId != null" >
		  	 AND di.`online_merchant_id` = #{merchantId,jdbcType=BIGINT}
		  </if>
		  <if test="storeName != null and storeName != ''">
		  	AND mi.name like  CONCAT('%',#{storeName},'%')
		  </if>
		  <if test="storeAddress != null and storeName != ''"> 
		  	AND mi.addr like  CONCAT('%',#{storeAddress},'%')
		  </if>
		  <if test="howLongNotUse != null">
		  	AND DATEDIFF(NOW(),cr.last_use_time)>= #{howLongNotUse,jdbcType=INTEGER}
		  </if>
		  ORDER BY cr.last_use_time
		  LIMIT #{start,jdbcType=INTEGER},#{rows,jdbcType=INTEGER}
	</select>
	<select id="chargerLastSevenDaysNumQuery" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ChargerBeyondSevenDaysNotUseRequestCommand" resultMap="chargerLastThreeDaysInfoQueryResultMap">
		 SELECT 
			COUNT(1) AS devNum
		FROM  share_charger cr 
		LEFT JOIN share_device_info di  ON cr.device_id = di.id 
		LEFT JOIN merchant_info mi ON mi.id = di.`online_merchant_id`
		WHERE 1 = 1
		  <if test="agents1Id != null" >
		  	 AND di.`agents1_id` = #{agents1Id,jdbcType=BIGINT}
		  </if>
		  <if test="agents2Id != null" >
		  	 AND di.`agents2_id` = #{agents2Id,jdbcType=BIGINT}
		  </if>
		  <if test="agents3Id != null" >
		  	 AND di.`agents3_id` = #{agents3Id,jdbcType=BIGINT}
		  </if>
		  <if test="shopkeeperId != null" >
		  	 AND di.`shopkeeper_id` = #{shopkeeperId,jdbcType=BIGINT}
		  </if>
		  <if test="allianceBusinessId != null" >
		  	 AND di.`alliance_business_id` = #{allianceBusinessId,jdbcType=BIGINT}
		  </if>
		  <if test="merchantId != null" >
		  	 AND di.`online_merchant_id` = #{merchantId,jdbcType=BIGINT}
		  </if>
		  <if test="storeName != null and storeName != ''">
		  	AND mi.name like  CONCAT('%',#{storeName},'%')
		  </if>
		  <if test="storeAddress != null and storeName != ''"> 
		  	AND mi.addr like  CONCAT('%',#{storeAddress},'%')
		  </if>
		  <if test="howLongNotUse != null">
		  	AND DATEDIFF(NOW(),cr.last_use_time)>= #{howLongNotUse,jdbcType=INTEGER}
		  </if>
	</select>
</mapper>