<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.ShareTradeInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModel" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="device_no" property="deviceNo" jdbcType="BIGINT" />
    <result column="charger_id" property="chargerId" jdbcType="BIGINT" />
    <result column="cust_id" property="custId" jdbcType="BIGINT" />
    <result column="yfj_amount" property="yfjAmount" jdbcType="DECIMAL" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="trade_type" property="tradeType" jdbcType="INTEGER" />
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="borrow_datetime" property="borrowDatetime" jdbcType="TIMESTAMP" />
    <result column="use_time_seconds" property="useTimeSeconds" jdbcType="BIGINT" />
    <result column="back_datetime" property="backDatetime" jdbcType="TIMESTAMP" />
    <result column="trade_status_name" property="tradeStatusName" jdbcType="VARCHAR" />
    <result column="trade_status" property="tradeStatus" jdbcType="INTEGER" />
    <result column="x_coordinate" property="xCoordinate" jdbcType="DECIMAL" />
    <result column="y_coordinate" property="yCoordinate" jdbcType="DECIMAL" />
    <result column="benefit_status_name" property="benefitStatusName" jdbcType="VARCHAR" />
    <result column="benefit_status" property="benefitStatus" jdbcType="INTEGER" />
    <result column="benefit_datetime" property="benefitDatetime" jdbcType="TIMESTAMP" />
    <result column="platform_amount" property="platformAmount" jdbcType="DECIMAL" />
    <result column="agents1_amount" property="agents1Amount" jdbcType="DECIMAL" />
    <result column="agents2_amount" property="agents2Amount" jdbcType="DECIMAL" />
    <result column="agents3_amount" property="agents3Amount" jdbcType="DECIMAL" />
    <result column="shopkeeper_amount" property="shopkeeperAmount" jdbcType="DECIMAL" />
    <result column="alliance_business_amount" property="allianceBusinessAmount" jdbcType="DECIMAL" />
    <result column="back_trade_id" property="backTradeId" jdbcType="BIGINT" />
    <result column="trade_address" property="tradeAddress" jdbcType="VARCHAR" />
    <result column="trade_zone" property="tradeZone" jdbcType="VARCHAR" />
    <result column="trade_city" property="tradeCity" jdbcType="VARCHAR" />
    <result column="trade_province" property="tradeProvince" jdbcType="VARCHAR" />
    <result column="merchant_id" property="merchantId" jdbcType="BIGINT" />
    <result column="agents1_id" property="agents1Id" jdbcType="BIGINT" />
    <result column="agents2_id" property="agents2Id" jdbcType="BIGINT" />
    <result column="agents3_id" property="agents3Id" jdbcType="BIGINT" />
    <result column="shopkeeper_id" property="shopkeeperId" jdbcType="BIGINT" />
    <result column="alliance_business_id" property="allianceBusinessId" jdbcType="BIGINT" />
    <result column="create_id" property="createId" jdbcType="BIGINT" />
    <result column="create_datetime" property="createDatetime" jdbcType="TIMESTAMP" />
    <result column="update_datetime" property="updateDatetime" jdbcType="TIMESTAMP" />
    <result column="settle_accounts_status" property="settleAccountsStatus" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="trade_channel" property="tradeChannel" jdbcType="INTEGER" />
    <result column="trade_channel_name" property="tradeChannelName" jdbcType="VARCHAR" />
    <result column="finish_flag" property="finishFlag" jdbcType="INTEGER" />
    <result column="finish_flag_name" property="finishFlagName" jdbcType="VARCHAR" />
    <result column="plat_form_refund" property="platFormRefund" jdbcType="INTEGER" />
    <result column="refund_amount" property="refundAmount" jdbcType="DECIMAL" />
    <result column="cal_trade_amount" property="calTradeAmount" jdbcType="DECIMAL" />
    <result column="resource_trade_id" property="resourceTradeId" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, device_no, charger_id, cust_id, yfj_amount, trade_amount, trade_type, trade_name, 
    borrow_datetime, use_time_seconds, back_datetime, trade_status_name, trade_status, 
    x_coordinate, y_coordinate, benefit_status_name, benefit_status, benefit_datetime, 
    platform_amount, agents1_amount, agents2_amount, agents3_amount, shopkeeper_amount, 
    alliance_business_amount, back_trade_id, trade_address, trade_zone, trade_city, trade_province, 
    merchant_id, agents1_id, agents2_id, agents3_id, shopkeeper_id, alliance_business_id, 
    create_id, create_datetime, update_datetime, settle_accounts_status, remark, trade_channel, 
    trade_channel_name, finish_flag, finish_flag_name, plat_form_refund, refund_amount, 
    cal_trade_amount, resource_trade_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModelExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from share_trade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from share_trade_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from share_trade_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModelExample" >
    delete from share_trade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModel" >
    insert into share_trade_info (id, device_no, charger_id, 
      cust_id, yfj_amount, trade_amount, 
      trade_type, trade_name, borrow_datetime, 
      use_time_seconds, back_datetime, trade_status_name, 
      trade_status, x_coordinate, y_coordinate, 
      benefit_status_name, benefit_status, benefit_datetime, 
      platform_amount, agents1_amount, agents2_amount, 
      agents3_amount, shopkeeper_amount, alliance_business_amount, 
      back_trade_id, trade_address, trade_zone, 
      trade_city, trade_province, merchant_id, 
      agents1_id, agents2_id, agents3_id, 
      shopkeeper_id, alliance_business_id, create_id, 
      create_datetime, update_datetime, settle_accounts_status, 
      remark, trade_channel, trade_channel_name, 
      finish_flag, finish_flag_name, plat_form_refund, 
      refund_amount, cal_trade_amount, resource_trade_id
      )
    values (#{id,jdbcType=BIGINT}, #{deviceNo,jdbcType=BIGINT}, #{chargerId,jdbcType=BIGINT}, 
      #{custId,jdbcType=BIGINT}, #{yfjAmount,jdbcType=DECIMAL}, #{tradeAmount,jdbcType=DECIMAL}, 
      #{tradeType,jdbcType=INTEGER}, #{tradeName,jdbcType=VARCHAR}, #{borrowDatetime,jdbcType=TIMESTAMP}, 
      #{useTimeSeconds,jdbcType=BIGINT}, #{backDatetime,jdbcType=TIMESTAMP}, #{tradeStatusName,jdbcType=VARCHAR}, 
      #{tradeStatus,jdbcType=INTEGER}, #{xCoordinate,jdbcType=DECIMAL}, #{yCoordinate,jdbcType=DECIMAL}, 
      #{benefitStatusName,jdbcType=VARCHAR}, #{benefitStatus,jdbcType=INTEGER}, #{benefitDatetime,jdbcType=TIMESTAMP}, 
      #{platformAmount,jdbcType=DECIMAL}, #{agents1Amount,jdbcType=DECIMAL}, #{agents2Amount,jdbcType=DECIMAL}, 
      #{agents3Amount,jdbcType=DECIMAL}, #{shopkeeperAmount,jdbcType=DECIMAL}, #{allianceBusinessAmount,jdbcType=DECIMAL}, 
      #{backTradeId,jdbcType=BIGINT}, #{tradeAddress,jdbcType=VARCHAR}, #{tradeZone,jdbcType=VARCHAR}, 
      #{tradeCity,jdbcType=VARCHAR}, #{tradeProvince,jdbcType=VARCHAR}, #{merchantId,jdbcType=BIGINT}, 
      #{agents1Id,jdbcType=BIGINT}, #{agents2Id,jdbcType=BIGINT}, #{agents3Id,jdbcType=BIGINT}, 
      #{shopkeeperId,jdbcType=BIGINT}, #{allianceBusinessId,jdbcType=BIGINT}, #{createId,jdbcType=BIGINT}, 
      #{createDatetime,jdbcType=TIMESTAMP}, #{updateDatetime,jdbcType=TIMESTAMP}, #{settleAccountsStatus,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{tradeChannel,jdbcType=INTEGER}, #{tradeChannelName,jdbcType=VARCHAR}, 
      #{finishFlag,jdbcType=INTEGER}, #{finishFlagName,jdbcType=VARCHAR}, #{platFormRefund,jdbcType=INTEGER}, 
      #{refundAmount,jdbcType=DECIMAL}, #{calTradeAmount,jdbcType=DECIMAL}, #{resourceTradeId,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModel" >
    insert into share_trade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="deviceNo != null" >
        device_no,
      </if>
      <if test="chargerId != null" >
        charger_id,
      </if>
      <if test="custId != null" >
        cust_id,
      </if>
      <if test="yfjAmount != null" >
        yfj_amount,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="borrowDatetime != null" >
        borrow_datetime,
      </if>
      <if test="useTimeSeconds != null" >
        use_time_seconds,
      </if>
      <if test="backDatetime != null" >
        back_datetime,
      </if>
      <if test="tradeStatusName != null" >
        trade_status_name,
      </if>
      <if test="tradeStatus != null" >
        trade_status,
      </if>
      <if test="xCoordinate != null" >
        x_coordinate,
      </if>
      <if test="yCoordinate != null" >
        y_coordinate,
      </if>
      <if test="benefitStatusName != null" >
        benefit_status_name,
      </if>
      <if test="benefitStatus != null" >
        benefit_status,
      </if>
      <if test="benefitDatetime != null" >
        benefit_datetime,
      </if>
      <if test="platformAmount != null" >
        platform_amount,
      </if>
      <if test="agents1Amount != null" >
        agents1_amount,
      </if>
      <if test="agents2Amount != null" >
        agents2_amount,
      </if>
      <if test="agents3Amount != null" >
        agents3_amount,
      </if>
      <if test="shopkeeperAmount != null" >
        shopkeeper_amount,
      </if>
      <if test="allianceBusinessAmount != null" >
        alliance_business_amount,
      </if>
      <if test="backTradeId != null" >
        back_trade_id,
      </if>
      <if test="tradeAddress != null" >
        trade_address,
      </if>
      <if test="tradeZone != null" >
        trade_zone,
      </if>
      <if test="tradeCity != null" >
        trade_city,
      </if>
      <if test="tradeProvince != null" >
        trade_province,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="agents1Id != null" >
        agents1_id,
      </if>
      <if test="agents2Id != null" >
        agents2_id,
      </if>
      <if test="agents3Id != null" >
        agents3_id,
      </if>
      <if test="shopkeeperId != null" >
        shopkeeper_id,
      </if>
      <if test="allianceBusinessId != null" >
        alliance_business_id,
      </if>
      <if test="createId != null" >
        create_id,
      </if>
      <if test="createDatetime != null" >
        create_datetime,
      </if>
      <if test="updateDatetime != null" >
        update_datetime,
      </if>
      <if test="settleAccountsStatus != null" >
        settle_accounts_status,
      </if>
      <if test="remark != null" >
        remark,
      </if>
      <if test="tradeChannel != null" >
        trade_channel,
      </if>
      <if test="tradeChannelName != null" >
        trade_channel_name,
      </if>
      <if test="finishFlag != null" >
        finish_flag,
      </if>
      <if test="finishFlagName != null" >
        finish_flag_name,
      </if>
      <if test="platFormRefund != null" >
        plat_form_refund,
      </if>
      <if test="refundAmount != null" >
        refund_amount,
      </if>
      <if test="calTradeAmount != null" >
        cal_trade_amount,
      </if>
      <if test="resourceTradeId != null" >
        resource_trade_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="deviceNo != null" >
        #{deviceNo,jdbcType=BIGINT},
      </if>
      <if test="chargerId != null" >
        #{chargerId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        #{custId,jdbcType=BIGINT},
      </if>
      <if test="yfjAmount != null" >
        #{yfjAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="borrowDatetime != null" >
        #{borrowDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTimeSeconds != null" >
        #{useTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="backDatetime != null" >
        #{backDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeStatusName != null" >
        #{tradeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="xCoordinate != null" >
        #{xCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="yCoordinate != null" >
        #{yCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="benefitStatusName != null" >
        #{benefitStatusName,jdbcType=VARCHAR},
      </if>
      <if test="benefitStatus != null" >
        #{benefitStatus,jdbcType=INTEGER},
      </if>
      <if test="benefitDatetime != null" >
        #{benefitDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformAmount != null" >
        #{platformAmount,jdbcType=DECIMAL},
      </if>
      <if test="agents1Amount != null" >
        #{agents1Amount,jdbcType=DECIMAL},
      </if>
      <if test="agents2Amount != null" >
        #{agents2Amount,jdbcType=DECIMAL},
      </if>
      <if test="agents3Amount != null" >
        #{agents3Amount,jdbcType=DECIMAL},
      </if>
      <if test="shopkeeperAmount != null" >
        #{shopkeeperAmount,jdbcType=DECIMAL},
      </if>
      <if test="allianceBusinessAmount != null" >
        #{allianceBusinessAmount,jdbcType=DECIMAL},
      </if>
      <if test="backTradeId != null" >
        #{backTradeId,jdbcType=BIGINT},
      </if>
      <if test="tradeAddress != null" >
        #{tradeAddress,jdbcType=VARCHAR},
      </if>
      <if test="tradeZone != null" >
        #{tradeZone,jdbcType=VARCHAR},
      </if>
      <if test="tradeCity != null" >
        #{tradeCity,jdbcType=VARCHAR},
      </if>
      <if test="tradeProvince != null" >
        #{tradeProvince,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="agents1Id != null" >
        #{agents1Id,jdbcType=BIGINT},
      </if>
      <if test="agents2Id != null" >
        #{agents2Id,jdbcType=BIGINT},
      </if>
      <if test="agents3Id != null" >
        #{agents3Id,jdbcType=BIGINT},
      </if>
      <if test="shopkeeperId != null" >
        #{shopkeeperId,jdbcType=BIGINT},
      </if>
      <if test="allianceBusinessId != null" >
        #{allianceBusinessId,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDatetime != null" >
        #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleAccountsStatus != null" >
        #{settleAccountsStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tradeChannel != null" >
        #{tradeChannel,jdbcType=INTEGER},
      </if>
      <if test="tradeChannelName != null" >
        #{tradeChannelName,jdbcType=VARCHAR},
      </if>
      <if test="finishFlag != null" >
        #{finishFlag,jdbcType=INTEGER},
      </if>
      <if test="finishFlagName != null" >
        #{finishFlagName,jdbcType=VARCHAR},
      </if>
      <if test="platFormRefund != null" >
        #{platFormRefund,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null" >
        #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="calTradeAmount != null" >
        #{calTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="resourceTradeId != null" >
        #{resourceTradeId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModelExample" resultType="java.lang.Integer" >
    select count(*) from share_trade_info
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update share_trade_info
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.deviceNo != null" >
        device_no = #{record.deviceNo,jdbcType=BIGINT},
      </if>
      <if test="record.chargerId != null" >
        charger_id = #{record.chargerId,jdbcType=BIGINT},
      </if>
      <if test="record.custId != null" >
        cust_id = #{record.custId,jdbcType=BIGINT},
      </if>
      <if test="record.yfjAmount != null" >
        yfj_amount = #{record.yfjAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeAmount != null" >
        trade_amount = #{record.tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.tradeType != null" >
        trade_type = #{record.tradeType,jdbcType=INTEGER},
      </if>
      <if test="record.tradeName != null" >
        trade_name = #{record.tradeName,jdbcType=VARCHAR},
      </if>
      <if test="record.borrowDatetime != null" >
        borrow_datetime = #{record.borrowDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.useTimeSeconds != null" >
        use_time_seconds = #{record.useTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="record.backDatetime != null" >
        back_datetime = #{record.backDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.tradeStatusName != null" >
        trade_status_name = #{record.tradeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeStatus != null" >
        trade_status = #{record.tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="record.xCoordinate != null" >
        x_coordinate = #{record.xCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="record.yCoordinate != null" >
        y_coordinate = #{record.yCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="record.benefitStatusName != null" >
        benefit_status_name = #{record.benefitStatusName,jdbcType=VARCHAR},
      </if>
      <if test="record.benefitStatus != null" >
        benefit_status = #{record.benefitStatus,jdbcType=INTEGER},
      </if>
      <if test="record.benefitDatetime != null" >
        benefit_datetime = #{record.benefitDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.platformAmount != null" >
        platform_amount = #{record.platformAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.agents1Amount != null" >
        agents1_amount = #{record.agents1Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.agents2Amount != null" >
        agents2_amount = #{record.agents2Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.agents3Amount != null" >
        agents3_amount = #{record.agents3Amount,jdbcType=DECIMAL},
      </if>
      <if test="record.shopkeeperAmount != null" >
        shopkeeper_amount = #{record.shopkeeperAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.allianceBusinessAmount != null" >
        alliance_business_amount = #{record.allianceBusinessAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.backTradeId != null" >
        back_trade_id = #{record.backTradeId,jdbcType=BIGINT},
      </if>
      <if test="record.tradeAddress != null" >
        trade_address = #{record.tradeAddress,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeZone != null" >
        trade_zone = #{record.tradeZone,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeCity != null" >
        trade_city = #{record.tradeCity,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeProvince != null" >
        trade_province = #{record.tradeProvince,jdbcType=VARCHAR},
      </if>
      <if test="record.merchantId != null" >
        merchant_id = #{record.merchantId,jdbcType=BIGINT},
      </if>
      <if test="record.agents1Id != null" >
        agents1_id = #{record.agents1Id,jdbcType=BIGINT},
      </if>
      <if test="record.agents2Id != null" >
        agents2_id = #{record.agents2Id,jdbcType=BIGINT},
      </if>
      <if test="record.agents3Id != null" >
        agents3_id = #{record.agents3Id,jdbcType=BIGINT},
      </if>
      <if test="record.shopkeeperId != null" >
        shopkeeper_id = #{record.shopkeeperId,jdbcType=BIGINT},
      </if>
      <if test="record.allianceBusinessId != null" >
        alliance_business_id = #{record.allianceBusinessId,jdbcType=BIGINT},
      </if>
      <if test="record.createId != null" >
        create_id = #{record.createId,jdbcType=BIGINT},
      </if>
      <if test="record.createDatetime != null" >
        create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateDatetime != null" >
        update_datetime = #{record.updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.settleAccountsStatus != null" >
        settle_accounts_status = #{record.settleAccountsStatus,jdbcType=INTEGER},
      </if>
      <if test="record.remark != null" >
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
      <if test="record.tradeChannel != null" >
        trade_channel = #{record.tradeChannel,jdbcType=INTEGER},
      </if>
      <if test="record.tradeChannelName != null" >
        trade_channel_name = #{record.tradeChannelName,jdbcType=VARCHAR},
      </if>
      <if test="record.finishFlag != null" >
        finish_flag = #{record.finishFlag,jdbcType=INTEGER},
      </if>
      <if test="record.finishFlagName != null" >
        finish_flag_name = #{record.finishFlagName,jdbcType=VARCHAR},
      </if>
      <if test="record.platFormRefund != null" >
        plat_form_refund = #{record.platFormRefund,jdbcType=INTEGER},
      </if>
      <if test="record.refundAmount != null" >
        refund_amount = #{record.refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.calTradeAmount != null" >
        cal_trade_amount = #{record.calTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="record.resourceTradeId != null" >
        resource_trade_id = #{record.resourceTradeId,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update share_trade_info
    set id = #{record.id,jdbcType=BIGINT},
      device_no = #{record.deviceNo,jdbcType=BIGINT},
      charger_id = #{record.chargerId,jdbcType=BIGINT},
      cust_id = #{record.custId,jdbcType=BIGINT},
      yfj_amount = #{record.yfjAmount,jdbcType=DECIMAL},
      trade_amount = #{record.tradeAmount,jdbcType=DECIMAL},
      trade_type = #{record.tradeType,jdbcType=INTEGER},
      trade_name = #{record.tradeName,jdbcType=VARCHAR},
      borrow_datetime = #{record.borrowDatetime,jdbcType=TIMESTAMP},
      use_time_seconds = #{record.useTimeSeconds,jdbcType=BIGINT},
      back_datetime = #{record.backDatetime,jdbcType=TIMESTAMP},
      trade_status_name = #{record.tradeStatusName,jdbcType=VARCHAR},
      trade_status = #{record.tradeStatus,jdbcType=INTEGER},
      x_coordinate = #{record.xCoordinate,jdbcType=DECIMAL},
      y_coordinate = #{record.yCoordinate,jdbcType=DECIMAL},
      benefit_status_name = #{record.benefitStatusName,jdbcType=VARCHAR},
      benefit_status = #{record.benefitStatus,jdbcType=INTEGER},
      benefit_datetime = #{record.benefitDatetime,jdbcType=TIMESTAMP},
      platform_amount = #{record.platformAmount,jdbcType=DECIMAL},
      agents1_amount = #{record.agents1Amount,jdbcType=DECIMAL},
      agents2_amount = #{record.agents2Amount,jdbcType=DECIMAL},
      agents3_amount = #{record.agents3Amount,jdbcType=DECIMAL},
      shopkeeper_amount = #{record.shopkeeperAmount,jdbcType=DECIMAL},
      alliance_business_amount = #{record.allianceBusinessAmount,jdbcType=DECIMAL},
      back_trade_id = #{record.backTradeId,jdbcType=BIGINT},
      trade_address = #{record.tradeAddress,jdbcType=VARCHAR},
      trade_zone = #{record.tradeZone,jdbcType=VARCHAR},
      trade_city = #{record.tradeCity,jdbcType=VARCHAR},
      trade_province = #{record.tradeProvince,jdbcType=VARCHAR},
      merchant_id = #{record.merchantId,jdbcType=BIGINT},
      agents1_id = #{record.agents1Id,jdbcType=BIGINT},
      agents2_id = #{record.agents2Id,jdbcType=BIGINT},
      agents3_id = #{record.agents3Id,jdbcType=BIGINT},
      shopkeeper_id = #{record.shopkeeperId,jdbcType=BIGINT},
      alliance_business_id = #{record.allianceBusinessId,jdbcType=BIGINT},
      create_id = #{record.createId,jdbcType=BIGINT},
      create_datetime = #{record.createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{record.updateDatetime,jdbcType=TIMESTAMP},
      settle_accounts_status = #{record.settleAccountsStatus,jdbcType=INTEGER},
      remark = #{record.remark,jdbcType=VARCHAR},
      trade_channel = #{record.tradeChannel,jdbcType=INTEGER},
      trade_channel_name = #{record.tradeChannelName,jdbcType=VARCHAR},
      finish_flag = #{record.finishFlag,jdbcType=INTEGER},
      finish_flag_name = #{record.finishFlagName,jdbcType=VARCHAR},
      plat_form_refund = #{record.platFormRefund,jdbcType=INTEGER},
      refund_amount = #{record.refundAmount,jdbcType=DECIMAL},
      cal_trade_amount = #{record.calTradeAmount,jdbcType=DECIMAL},
      resource_trade_id = #{record.resourceTradeId,jdbcType=BIGINT}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModel" >
    update share_trade_info
    <set >
      <if test="deviceNo != null" >
        device_no = #{deviceNo,jdbcType=BIGINT},
      </if>
      <if test="chargerId != null" >
        charger_id = #{chargerId,jdbcType=BIGINT},
      </if>
      <if test="custId != null" >
        cust_id = #{custId,jdbcType=BIGINT},
      </if>
      <if test="yfjAmount != null" >
        yfj_amount = #{yfjAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=INTEGER},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="borrowDatetime != null" >
        borrow_datetime = #{borrowDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="useTimeSeconds != null" >
        use_time_seconds = #{useTimeSeconds,jdbcType=BIGINT},
      </if>
      <if test="backDatetime != null" >
        back_datetime = #{backDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeStatusName != null" >
        trade_status_name = #{tradeStatusName,jdbcType=VARCHAR},
      </if>
      <if test="tradeStatus != null" >
        trade_status = #{tradeStatus,jdbcType=INTEGER},
      </if>
      <if test="xCoordinate != null" >
        x_coordinate = #{xCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="yCoordinate != null" >
        y_coordinate = #{yCoordinate,jdbcType=DECIMAL},
      </if>
      <if test="benefitStatusName != null" >
        benefit_status_name = #{benefitStatusName,jdbcType=VARCHAR},
      </if>
      <if test="benefitStatus != null" >
        benefit_status = #{benefitStatus,jdbcType=INTEGER},
      </if>
      <if test="benefitDatetime != null" >
        benefit_datetime = #{benefitDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="platformAmount != null" >
        platform_amount = #{platformAmount,jdbcType=DECIMAL},
      </if>
      <if test="agents1Amount != null" >
        agents1_amount = #{agents1Amount,jdbcType=DECIMAL},
      </if>
      <if test="agents2Amount != null" >
        agents2_amount = #{agents2Amount,jdbcType=DECIMAL},
      </if>
      <if test="agents3Amount != null" >
        agents3_amount = #{agents3Amount,jdbcType=DECIMAL},
      </if>
      <if test="shopkeeperAmount != null" >
        shopkeeper_amount = #{shopkeeperAmount,jdbcType=DECIMAL},
      </if>
      <if test="allianceBusinessAmount != null" >
        alliance_business_amount = #{allianceBusinessAmount,jdbcType=DECIMAL},
      </if>
      <if test="backTradeId != null" >
        back_trade_id = #{backTradeId,jdbcType=BIGINT},
      </if>
      <if test="tradeAddress != null" >
        trade_address = #{tradeAddress,jdbcType=VARCHAR},
      </if>
      <if test="tradeZone != null" >
        trade_zone = #{tradeZone,jdbcType=VARCHAR},
      </if>
      <if test="tradeCity != null" >
        trade_city = #{tradeCity,jdbcType=VARCHAR},
      </if>
      <if test="tradeProvince != null" >
        trade_province = #{tradeProvince,jdbcType=VARCHAR},
      </if>
      <if test="merchantId != null" >
        merchant_id = #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="agents1Id != null" >
        agents1_id = #{agents1Id,jdbcType=BIGINT},
      </if>
      <if test="agents2Id != null" >
        agents2_id = #{agents2Id,jdbcType=BIGINT},
      </if>
      <if test="agents3Id != null" >
        agents3_id = #{agents3Id,jdbcType=BIGINT},
      </if>
      <if test="shopkeeperId != null" >
        shopkeeper_id = #{shopkeeperId,jdbcType=BIGINT},
      </if>
      <if test="allianceBusinessId != null" >
        alliance_business_id = #{allianceBusinessId,jdbcType=BIGINT},
      </if>
      <if test="createId != null" >
        create_id = #{createId,jdbcType=BIGINT},
      </if>
      <if test="createDatetime != null" >
        create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDatetime != null" >
        update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      </if>
      <if test="settleAccountsStatus != null" >
        settle_accounts_status = #{settleAccountsStatus,jdbcType=INTEGER},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="tradeChannel != null" >
        trade_channel = #{tradeChannel,jdbcType=INTEGER},
      </if>
      <if test="tradeChannelName != null" >
        trade_channel_name = #{tradeChannelName,jdbcType=VARCHAR},
      </if>
      <if test="finishFlag != null" >
        finish_flag = #{finishFlag,jdbcType=INTEGER},
      </if>
      <if test="finishFlagName != null" >
        finish_flag_name = #{finishFlagName,jdbcType=VARCHAR},
      </if>
      <if test="platFormRefund != null" >
        plat_form_refund = #{platFormRefund,jdbcType=INTEGER},
      </if>
      <if test="refundAmount != null" >
        refund_amount = #{refundAmount,jdbcType=DECIMAL},
      </if>
      <if test="calTradeAmount != null" >
        cal_trade_amount = #{calTradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="resourceTradeId != null" >
        resource_trade_id = #{resourceTradeId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.ShareTradeInfoModel" >
    update share_trade_info
    set device_no = #{deviceNo,jdbcType=BIGINT},
      charger_id = #{chargerId,jdbcType=BIGINT},
      cust_id = #{custId,jdbcType=BIGINT},
      yfj_amount = #{yfjAmount,jdbcType=DECIMAL},
      trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      trade_type = #{tradeType,jdbcType=INTEGER},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      borrow_datetime = #{borrowDatetime,jdbcType=TIMESTAMP},
      use_time_seconds = #{useTimeSeconds,jdbcType=BIGINT},
      back_datetime = #{backDatetime,jdbcType=TIMESTAMP},
      trade_status_name = #{tradeStatusName,jdbcType=VARCHAR},
      trade_status = #{tradeStatus,jdbcType=INTEGER},
      x_coordinate = #{xCoordinate,jdbcType=DECIMAL},
      y_coordinate = #{yCoordinate,jdbcType=DECIMAL},
      benefit_status_name = #{benefitStatusName,jdbcType=VARCHAR},
      benefit_status = #{benefitStatus,jdbcType=INTEGER},
      benefit_datetime = #{benefitDatetime,jdbcType=TIMESTAMP},
      platform_amount = #{platformAmount,jdbcType=DECIMAL},
      agents1_amount = #{agents1Amount,jdbcType=DECIMAL},
      agents2_amount = #{agents2Amount,jdbcType=DECIMAL},
      agents3_amount = #{agents3Amount,jdbcType=DECIMAL},
      shopkeeper_amount = #{shopkeeperAmount,jdbcType=DECIMAL},
      alliance_business_amount = #{allianceBusinessAmount,jdbcType=DECIMAL},
      back_trade_id = #{backTradeId,jdbcType=BIGINT},
      trade_address = #{tradeAddress,jdbcType=VARCHAR},
      trade_zone = #{tradeZone,jdbcType=VARCHAR},
      trade_city = #{tradeCity,jdbcType=VARCHAR},
      trade_province = #{tradeProvince,jdbcType=VARCHAR},
      merchant_id = #{merchantId,jdbcType=BIGINT},
      agents1_id = #{agents1Id,jdbcType=BIGINT},
      agents2_id = #{agents2Id,jdbcType=BIGINT},
      agents3_id = #{agents3Id,jdbcType=BIGINT},
      shopkeeper_id = #{shopkeeperId,jdbcType=BIGINT},
      alliance_business_id = #{allianceBusinessId,jdbcType=BIGINT},
      create_id = #{createId,jdbcType=BIGINT},
      create_datetime = #{createDatetime,jdbcType=TIMESTAMP},
      update_datetime = #{updateDatetime,jdbcType=TIMESTAMP},
      settle_accounts_status = #{settleAccountsStatus,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      trade_channel = #{tradeChannel,jdbcType=INTEGER},
      trade_channel_name = #{tradeChannelName,jdbcType=VARCHAR},
      finish_flag = #{finishFlag,jdbcType=INTEGER},
      finish_flag_name = #{finishFlagName,jdbcType=VARCHAR},
      plat_form_refund = #{platFormRefund,jdbcType=INTEGER},
      refund_amount = #{refundAmount,jdbcType=DECIMAL},
      cal_trade_amount = #{calTradeAmount,jdbcType=DECIMAL},
      resource_trade_id = #{resourceTradeId,jdbcType=BIGINT}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>