<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.WithdrawOrderInfoModelMapper">
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.WithdrawOrderInfoModel">
    <id column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="trade_name" jdbcType="VARCHAR" property="tradeName" />
    <result column="trade_type" jdbcType="TINYINT" property="tradeType" />
    <result column="device_id" jdbcType="BIGINT" property="deviceId" />
    <result column="charger_id" jdbcType="BIGINT" property="chargerId" />
    <result column="cust_no" jdbcType="BIGINT" property="custNo" />
    <result column="opp_cust_no" jdbcType="BIGINT" property="oppCustNo" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="trade_amount" jdbcType="DECIMAL" property="tradeAmount" />
    <result column="borrow_time" jdbcType="TIMESTAMP" property="borrowTime" />
    <result column="back_time" jdbcType="TIMESTAMP" property="backTime" />
    <result column="STATUS_CN"  jdbcType="VARCHAR" property="statusCn" /> 
    <result column="yfj_amount" jdbcType="DECIMAL" property="yfjAmount" />
    <result column="jifen_amt" jdbcType="DECIMAL" property="jifenAmount" />
     <result column="zj_addr"  jdbcType="VARCHAR" property="zjAddr" /> 
    <result column="x_coordinate" property="latitude" jdbcType="DECIMAL" />
	<result column="y_coordinate" property="longitude" jdbcType="DECIMAL" />
	<result column="zone_type" property="feeZoneType" jdbcType="DECIMAL" />
	<result column="ref_trade_id" jdbcType="BIGINT" property="refTradeId" />	
	<result column="ratio_id" property="ratioId" jdbcType="BIGINT" />
	<result column="check_date" property="checkDate" jdbcType="DATE" />
	<result column="pwd_mode" property="pwdMode" jdbcType="TINYINT" />
	<result column="trade_channel" property="tradeChannel" jdbcType="TINYINT" />	
	<result column="used_other_charges"  jdbcType="VARCHAR" property="usedOtherCharges" /> 
	<result column="fee_info"  jdbcType="VARCHAR" property="feeInfo" /> 
	<result column="shopkeeper_id" property="shopKeeperId" jdbcType="BIGINT" />
	<result column="agents_id" property="agentsId" jdbcType="BIGINT" />
	<result column="first_level_agents_id" property="firstLevelAgentsId" jdbcType="BIGINT" />
    <result column="second_level_agents_id" property="secondLevelAgentsId" jdbcType="BIGINT" /> 
	<result column="franchisee_id" property="franchiseeId" jdbcType="BIGINT" />
	<result column="zd_id" property="zdId" jdbcType="BIGINT" />
	<result column="merchant_id" property="merchantId" jdbcType="BIGINT" />	
	<result column="tec_fee_scale" property="tecFeeScale" jdbcType="DECIMAL" />
	<result column="operate_comment" property="operateComment" jdbcType="VARCHAR" />
	<result column="terminal_mer_name" property="terminalMerName" jdbcType="VARCHAR" />
	<result column="terminal_mer_addr" property="terminalMerAddr" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List">
    trade_id, status, trade_name, trade_type,STATUS_CN, device_id, charger_id, cust_no,opp_cust_no, 
    create_time, update_time, trade_amount,borrow_time, back_time,
    yfj_amount,jifen_amt,zj_addr,x_coordinate,y_coordinate,
    ref_trade_id,ratio_id,check_date,trade_channel,
    used_other_charges,shopkeeper_id,agents_id,first_level_agents_id,second_level_agents_id,
	franchisee_id,zd_id,merchant_id,tec_fee_scale,send_message_times
  </sql>
  <sql id="Base_Column_List_T">
    t.trade_id, t.status, t.trade_name, t.trade_type,t.STATUS_CN, t.device_id, t.charger_id,
    t.cust_no,t.opp_cust_no, 
    t.create_time, t.update_time, t.trade_amount, t.borrow_time, t.back_time,
    t.yfj_amount,t.jifen_amt,t.zj_addr,t.x_coordinate,t.y_coordinate,
    t.ratio_id,t.check_date,trade_channel,
    t.used_other_charges,t.shopkeeper_id,t.agents_id,
	t.first_level_agents_id,t.second_level_agents_id,    
	t.franchisee_id,t.zd_id,t.merchant_id  
  </sql>
  <sql id="WithdrawHistory_list">  
   	  chcr.recon_status,
	  chcr.out_trade_no,
	  chcr.recv_bank,
	  chcr.total_fee as withdraw_amt,
	  chcr.time_end as bank_recv_time
  </sql>
  <resultMap id="getWithdrawHistoryResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.WithdrawInfoBO">
    <result column="recv_bank" jdbcType="VARCHAR" property="refundBank" />
    <result column="withdraw_amt" jdbcType="DECIMAL" property="withdrawAmt" />
    <result column="recon_status" jdbcType="TINYINT" property="reconStatus" />
    <result column="out_trade_no" jdbcType="BIGINT" property="outTradeId" />
    <result column="bank_recv_time" jdbcType="TIMESTAMP" property="bankRecvTime" />
  </resultMap>
  <resultMap type="com.stylefeng.guns.sharecore.common.persistence.model.MyIncomeDetailInfoBO" id="getMyIncomeDetailResultMap">
  	<result column="incomeAmount" jdbcType="DECIMAL" property="incomeAmount"/>
  	<result column="doneAmount" jdbcType="DECIMAL" property="doneAmount"/>
  	<result column="incomeTypeDesc" jdbcType="VARCHAR" property="incomeTypeDesc"/>
  	<result column="incomeDateTime" jdbcType="TIMESTAMP" property="incomeDateTime"/>
  	<result column="ratio_id" jdbcType="BIGINT" property="ratioId"/>
  	<result column="merchant_id" jdbcType="BIGINT" property="merchantId"/>
  	<result column="agents_ratio" jdbcType="VARCHAR" property="agentsRatio"/>
  	<result column="franchisee_ratio" jdbcType="VARCHAR" property="franchiseeRatio"/>
  	<result column="shopkeeper_ratio" jdbcType="VARCHAR" property="shopkeeperRatio"/>
  	<result column="shopkeeper_agency_ratio" jdbcType="VARCHAR" property="shopkeeperAgencyRatio"/>
  	<result column="shopkeeper_operator_ratio" jdbcType="VARCHAR" property="shopkeeperOperatorRatio"/>
  	<result column="shopkeeper_sub_ratio" jdbcType="VARCHAR" property="shopkeeperSubRatio"/>
  </resultMap>
  
    <resultMap id="getMerTradeCountAndAmtResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.ShareTrdTotalInfo">
  	<result column="tradeCount" jdbcType="INTEGER" property="hisTradeCount" />
  	<result column="tradeAmount" jdbcType="DECIMAL" property="hisTradeAmount" />
   </resultMap>
    <select id="getMerIncomeCountAndAmtNew" parameterType="com.stylefeng.guns.sharecore.modular.system.model.DeviceTradeInfoBO" resultMap="getMerTradeCountAndAmtResultMap"  >
    SELECT COUNT(distinct check_date) tradeCount,SUM(total_amount) tradeAmount FROM merchant_profit_day
	WHERE   1 = 1
		<if test="merchantId != null">
			and merchant_id =	#{merchantId,jdbcType=BIGINT}
		</if>
		<if test="beginDateTime != null">
			<![CDATA[ 
	    		and str_to_date(#{beginDateTime},'%Y-%m-%d') <=check_date
	    	]]>
		</if>
		<if test="endDateTime != null">
			<![CDATA[ 
	    		and str_to_date(#{endDateTime},'%Y-%m-%d') >=check_date
	    	]]>
		</if>
  </select>
  
  <select id="getMyIncomeDetailNew" parameterType="com.stylefeng.guns.sharecore.modular.system.model.DeviceTradeInfoBO" resultMap="getMyIncomeDetailResultMap"  >
    	SELECT 
    		SUM(mpd.total_amount) incomeAmount,
    		SUM(mpd.done_amount) doneAmount,
    		mpd.check_date incomeDateTime,
    		mpd.merchant_id	
 		FROM merchant_profit_day mpd 
 		WHERE 1 = 1
 		<if test="merchantId != null">
			and mpd.merchant_id =	#{merchantId,jdbcType=BIGINT}
		</if>
 		<if test="beginDateTime != null">
			<![CDATA[ 
	    		and str_to_date(#{beginDateTime},'%Y-%m-%d') <=mpd.check_date
	    	]]>
		</if>
		<if test="endDateTime != null">
			<![CDATA[ 
	    		and str_to_date(#{endDateTime},'%Y-%m-%d') >=mpd.check_date
	    	]]>
		</if>
		GROUP BY mpd.check_date,mpd.merchant_id
 		ORDER BY mpd.check_date DESC
		LIMIT #{startIndex, jdbcType=INTEGER}, #{rows, jdbcType=INTEGER}
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from withdraw_order_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from withdraw_order_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </delete>
  <resultMap id="getWithdrawTradeHistoryResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoBO">
    <result column="trade_id" jdbcType="BIGINT" property="tradeId" />
    <result column="status" jdbcType="TINYINT" property="tradeStatus" />  
    <result column="trade_amount" jdbcType="DECIMAL" property="withdrawTotalAmt" />  
    <result column="create_time" jdbcType="TIMESTAMP" property="tradeTime" />
    <result column="trade_type" jdbcType="TINYINT" property="tradeType" />
    <result column="status" jdbcType="TINYINT" property="tradeStatus" />
  </resultMap>  
  <select id="getWithdrawHistory" resultMap="getWithdrawHistoryResultMap"  >
      SELECT       
       <include refid="WithdrawHistory_list" />
    FROM channel_capital_record chcr  
    WHERE chcr.trade_record_id = #{0,jdbcType=BIGINT}  
  </select>
  <select id="getWithdrawTradeHistory" resultMap="getWithdrawTradeHistoryResultMap"  >
      SELECT       
      ti.trade_id,ti.status,ti.trade_amount,ti.create_time,ti.trade_type,ti.status
    FROM withdraw_trade_info ti            
    where ti.cust_no = #{2,jdbcType=BIGINT} 
    ORDER BY ti.create_time  desc
    LIMIT #{0, jdbcType=INTEGER}, #{1, jdbcType=INTEGER}
  </select>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawOrderInfoModel">
    insert into withdraw_order_info (trade_id, status,STATUS_CN, trade_name, 
      trade_type, device_id, charger_id, 
       cust_no,opp_cust_no, create_time, 
      update_time, trade_amount,borrow_time, 
      back_time,yfj_amount,jifen_amt,zj_addr,x_coordinate,y_coordinate,
      ref_trade_id,check_date,ratio_id,
      shopkeeper_id,agents_id,franchisee_id,zd_id,merchant_id,trade_channel,
      tec_fee_scale,first_level_agents_id,second_level_agents_id,
      province,city,zone
      )
    values (#{tradeId,jdbcType=BIGINT}, #{status,jdbcType=TINYINT}, #{statusCn,jdbcType=VARCHAR}, #{tradeName,jdbcType=VARCHAR}, 
      #{tradeType,jdbcType=TINYINT}, #{deviceId,jdbcType=BIGINT}, #{chargerId,jdbcType=BIGINT},
      #{custNo,jdbcType=BIGINT}, #{oppCustNo,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tradeAmount,jdbcType=DECIMAL}, #{borrowTime,jdbcType=TIMESTAMP}, 
      #{backTime,jdbcType=TIMESTAMP},#{yfjAmount,jdbcType=DECIMAL},
      #{jifenAmount,jdbcType=DECIMAL},#{zjAddr,jdbcType=VARCHAR},#{latitude,jdbcType=DECIMAL}, #{longitude,jdbcType=DECIMAL},
      #{refTradeId,jdbcType=BIGINT},#{checkDate,jdbcType=DATE},
      #{ratioId,jdbcType=BIGINT},#{shopKeeperId,jdbcType=BIGINT},#{agentsId,jdbcType=BIGINT},#{franchiseeId,jdbcType=BIGINT},#{zdId,jdbcType=BIGINT},
      #{merchantId,jdbcType=BIGINT},#{tradeChannel,jdbcType=TINYINT},
      #{tecFeeScale,jdbcType=DECIMAL},#{firstLevelAgentsId,jdbcType=BIGINT},#{secondLevelAgentsId,jdbcType=BIGINT},
      #{province},#{city},#{zone}
      )
  </insert>
  <select id="getTradeNumByDate" resultType="java.lang.Integer">
  	SELECT COUNT(1)
	FROM share_trade_info ti
	WHERE 1=1
	AND DATE_FORMAT(ti.back_datetime,'%Y-%m-%d') = #{dateStr,jdbcType=VARCHAR}
	AND ti.device_no = #{deviceId,jdbcType=BIGINT}
	<if test="queryMerchant == 'topAgentsQuery'">
		AND ti.agents1_id = #{merchantId}
	</if>
	<if test="queryMerchant == 'firstLevelAgentsQuery'">
		AND ti.agents2_id = #{merchantId}
	</if>
	<if test="queryMerchant == 'secondLevelAgentsQuery'">
		AND ti.agents3_id = #{merchantId}
	</if>
	<if test="queryMerchant == 'shopkeeperQuery'">
		AND ti.shopkeeper_id = #{merchantId}
	</if>
	<if test="queryMerchant == 'franchiseeQuery'">
		AND ti.alliance_business_id = #{merchantId}
	</if>
  </select>
  <update id="updateOrgiTradeSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawOrderInfoModel" >
    update withdraw_order_info
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
       <if test="statusCn != null" >
        status_cn = #{statusCn,jdbcType=VARCHAR},
      </if>
     
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
    </set>
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </update>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawOrderInfoModel" >
    insert into withdraw_order_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="status != null" >
        status,
      </if>
       <if test="statusCn != null" >
        status_cn,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      <if test="deviceId != null" >
        device_id,
      </if>
      <if test="chargerId != null" >
        charger_id,
      </if>
   
      <if test="custNo != null" >
        cust_no,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="borrowTime != null" >
        borrow_time,
      </if>
      <if test="backTime != null" >
        back_time,
      </if>
      <if test="agentsId != null" >
        agents_id,
      </if>
      <if test="franchiseeId != null" >
        franchisee_id,
      </if>
      <if test="zdId != null" >
        zd_id,
      </if>
      <if test="shopKeeperId != null" >
        shopkeeper_id,
      </if>
      <if test="merchantId != null" >
        merchant_id,
      </if>
      <if test="ratioId != null" >
        ratio_id,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="refTradeId != null" >
        ref_trade_id,
      </if>
      <if test="tradeChannel != null" >
        trade_channel,
      </if>
      <if test="firstLevelAgentsId != null" >
        first_level_agents_id,
      </if>
      <if test="secondLevelAgentsId != null" >
        second_level_agents_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
       <if test="statusCn != null" >
        #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null" >
        #{tradeType,jdbcType=TINYINT},
      </if>
      <if test="deviceId != null" >
        #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="chargerId != null" >
        #{chargerId,jdbcType=BIGINT},
      </if>
     
      <if test="custNo != null" >
        #{custNo,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
      <if test="borrowTime != null" >
        #{borrowTime,jdbcType=TIMESTAMP},
      </if>
      <if test="backTime != null" >
        #{backTime,jdbcType=TIMESTAMP},
      </if>
      <if test="agentsId != null" >
        #{agentsId,jdbcType=BIGINT},
      </if>
      
      <if test="franchiseeId != null" >
        #{franchiseeId,jdbcType=BIGINT},
      </if>
      <if test="zdId != null" >
        #{zdId,jdbcType=BIGINT},
      </if>
      <if test="shopKeeperId != null" >
        #{shopKeeperId,jdbcType=BIGINT},
      </if>
      <if test="merchantId != null" >
        #{merchantId,jdbcType=BIGINT},
      </if>
      <if test="ratioId != null" >
        #{ratioId,jdbcType=BIGINT},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=DATE},
      </if>
      <if test="refTradeId != null" >
      	#{refTradeId,jdbcType=BIGINT},
      </if>
      <if test="tradeChannel != null" >
        #{tradeChannel,jdbcType=TINYINT},
      </if>
      <if test="firstLevelAgentsId != null" >
        #{firstLevelAgentsId,jdbcType=BIGINT},
      </if>
      <if test="secondLevelAgentsId != null" >
        #{secondLevelAgentsId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawOrderInfoModel">
    update withdraw_order_info
    <set>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
       <if test="statusCn != null">
        status_cn = #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null">
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="usedOtherCharges != null">
        used_other_charges = #{usedOtherCharges,jdbcType=VARCHAR},
      </if>
      <if test="zjAddr != null">
        zj_addr = #{zjAddr,jdbcType=VARCHAR},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=TINYINT},
      </if>
     <if test="franchiseeId != null">
        franchisee_id = #{franchiseeId,jdbcType=BIGINT},
      </if>
      
      <if test="deviceId != null">
        device_id = #{deviceId,jdbcType=BIGINT},
      </if>
      <if test="chargerId != null">
        charger_id = #{chargerId,jdbcType=BIGINT},
      </if>
       
       <if test="checkDate != null">
        check_date = #{checkDate,jdbcType=DATE},
      </if>
       
      <if test="custNo != null">
        cust_no = #{custNo,jdbcType=BIGINT},
      </if>
      
     <if test="oppCustNo != null">
       opp_cust_no = #{oppCustNo,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null and tradeAmount != 0">
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>          
      <if test="backTime != null">
        back_time = #{backTime,jdbcType=TIMESTAMP},
      </if>       
       <if test="yfjAmount != null and yfjAmount != 0">
        yfj_amount = #{yfjAmount,jdbcType=DECIMAL},
      </if>
       <if test="jifenAmount != null and jifenAmount != 0">
        jifen_amt = #{jifenAmount,jdbcType=DECIMAL},
      </if>
       <if test="refTradeId != null ">
        ref_trade_id = #{refTradeId,jdbcType=BIGINT},
      </if>
    </set>
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </update>
</mapper>