<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.WithdrawTradeInfoModelMapper" >
  <resultMap id="BaseResultMap" type="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoModel" >
    <id column="trade_id" property="tradeId" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="TINYINT" />
    <result column="STATUS_CN" property="statusCn" jdbcType="VARCHAR" />
    <result column="return_code" property="returnCode" jdbcType="VARCHAR" />
    <result column="return_msg" property="returnMsg" jdbcType="VARCHAR" />   
    <result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
    <result column="cust_no" property="custNo" jdbcType="BIGINT" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
    <result column="trade_type" property="tradeType" jdbcType="TINYINT" /> 
    <result column="bank_recv_time" property="bankRecvTime" jdbcType="TIMESTAMP" />
    <result column="check_date" property="checkDate" jdbcType="DATE" />
    <result column="recon_status" property="reconStatus" jdbcType="TINYINT" />
    <result column="jifen_amt" property="jifenAmt" jdbcType="DECIMAL" />
  </resultMap>
  <sql id="Base_Column_List" >
    trade_id, create_time, status, STATUS_CN,trade_name, cust_no, update_time, trade_amount, trade_type,
     bank_recv_time, check_date, recon_status, jifen_amt
  </sql>
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from withdraw_trade_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from withdraw_trade_info
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoModel" >
    insert into withdraw_trade_info (trade_id, create_time, status, 
      STATUS_CN, trade_name, cust_no, 
      update_time, trade_amount,  trade_type,
      bank_recv_time, check_date, recon_status, 
      jifen_amt)
    values (#{tradeId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP}, #{status,jdbcType=TINYINT}, 
      #{statusCn,jdbcType=VARCHAR}, #{tradeName,jdbcType=VARCHAR}, #{custNo,jdbcType=BIGINT}, 
      #{updateTime,jdbcType=TIMESTAMP}, #{tradeAmount,jdbcType=DECIMAL}, #{tradeType,jdbcType=TINYINT}, 
      #{bankRecvTime,jdbcType=TIMESTAMP}, #{checkDate,jdbcType=DATE}, #{reconStatus,jdbcType=TINYINT}, 
      #{jifenAmt,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoModel" >
    insert into withdraw_trade_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        trade_id,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="statusCn != null" >
        STATUS_CN,
      </if>
      <if test="tradeName != null" >
        trade_name,
      </if>
      <if test="custNo != null" >
        cust_no,
      </if>
      <if test="updateTime != null" >
        update_time,
      </if>
      <if test="tradeAmount != null" >
        trade_amount,
      </if>
      <if test="tradeType != null" >
        trade_type,
      </if>
      
      <if test="bankRecvTime != null" >
        bank_recv_time,
      </if>
      <if test="checkDate != null" >
        check_date,
      </if>
      <if test="reconStatus != null" >
        recon_status,
      </if>
      <if test="jifenAmt != null" >
        jifen_amt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="tradeId != null" >
        #{tradeId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=TINYINT},
      </if>
      <if test="statusCn != null" >
        #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        #{custNo,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null" >
        #{tradeAmount,jdbcType=DECIMAL},
      </if>
       <if test="tradeType != null" >
        #{tradeType,jdbcType=DECIMAL},
      </if>
       
      <if test="bankRecvTime != null" >
        #{bankRecvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        #{checkDate,jdbcType=DATE},
      </if>
      <if test="reconStatus != null" >
        #{reconStatus,jdbcType=TINYINT},
      </if>
      <if test="jifenAmt != null" >
        #{jifenAmt,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoModel" >
    update withdraw_trade_info
    <set >
      <if test="status != null" >
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="statusCn != null" >
        STATUS_CN = #{statusCn,jdbcType=VARCHAR},
      </if>
      <if test="tradeName != null" >
        trade_name = #{tradeName,jdbcType=VARCHAR},
      </if>
      <if test="custNo != null" >
        cust_no = #{custNo,jdbcType=BIGINT},
      </if>
      <if test="updateTime != null" >
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="tradeAmount != null and tradeAmount != 0" >
        trade_amount = #{tradeAmount,jdbcType=DECIMAL},
      </if>
       <if test="tradeType != null" >
        trade_type = #{tradeType,jdbcType=DECIMAL},
      </if>
      
      <if test="bankRecvTime != null" >
        bank_recv_time = #{bankRecvTime,jdbcType=TIMESTAMP},
      </if>
      <if test="checkDate != null" >
        check_date = #{checkDate,jdbcType=DATE},
      </if>
      <if test="reconStatus != null" >
        recon_status = #{reconStatus,jdbcType=TINYINT},
      </if>
      <if test="jifenAmt != null and jifenAmt != 0" >
        jifen_amt = #{jifenAmt,jdbcType=DECIMAL},
      </if>
    </set>
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawTradeInfoModel" >
    update withdraw_trade_info
    set status = #{status,jdbcType=TINYINT},
      STATUS_CN = #{statusCn,jdbcType=VARCHAR},
      trade_name = #{tradeName,jdbcType=VARCHAR},
      cust_no = #{custNo,jdbcType=BIGINT},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      trade_amount = #{tradeAmount,jdbcType=DECIMAL}, 
      trade_type = #{tradeType,jdbcType=TINYINT},          
      bank_recv_time = #{bankRecvTime,jdbcType=TIMESTAMP},
      check_date = #{checkDate,jdbcType=DATE},
      recon_status = #{reconStatus,jdbcType=TINYINT},
      jifen_amt = #{jifenAmt,jdbcType=DECIMAL}
    where trade_id = #{tradeId,jdbcType=BIGINT}
  </update>
</mapper>