<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.stylefeng.guns.sharecore.modular.system.dao.WithdrawApplyRecordModelMapper" >
  <resultMap id="BaseResultMap" 
  	type="com.stylefeng.guns.sharecore.modular.system.model.WithdrawApplyRecordModel">
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="apply_time" property="applyTime" jdbcType="TIMESTAMP" />
    <result column="apply_merchant_id" property="applyMerchantId" jdbcType="BIGINT" />
    <result column="pre_tax_amount" property="preTaxAmount" jdbcType="DECIMAL" />
    <result column="aft_tax_amount" property="aftTaxAmount" jdbcType="DECIMAL" />
    <result column="withdraw_status" property="withdrawStatus" jdbcType="TINYINT" />
    <result column="withdraw_status_cn" property="withdrawStatusCn" jdbcType="VARCHAR" />
    <result column="approver" property="approver" jdbcType="VARCHAR" />
    <result column="approve_time" property="approveTime" jdbcType="TIMESTAMP" />
    <result column="approve_status" property="approveStatus" jdbcType="TINYINT" />
    <result column="approve_status_cn" property="approveStatusCn" jdbcType="VARCHAR" />
    <result column="approve_comment" property="approveComment" jdbcType="VARCHAR" />
    <result column="should_pay_tax" property="shouldPayTax" jdbcType="DECIMAL" />
    <result column="payer" property="payer" jdbcType="VARCHAR" />
    <result column="pay_time" property="payTime" jdbcType="TIMESTAMP" />
    <result column="person_name" property="personName" jdbcType="VARCHAR" />
    <result column="invest_money" property="investMoney" jdbcType="DECIMAL" />
    <result column="merchant_type" property="merchantType" jdbcType="INTEGER" />
    <result column="merchant_sub_type" property="merchantSubType" jdbcType="INTEGER" />
    <result column="invoice_no" property="invoiceNo" jdbcType="VARCHAR" />

    <result column="manual_deduction" property="manualDeduction" jdbcType="DECIMAL" />
    
    <result column="number_of_month" property="numberOfMonth" jdbcType="INTEGER" />
    <result column="pay_way" property="payWay" jdbcType="INTEGER" />
    <result column="is_real_time" property="isRealTime" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, apply_time, apply_merchant_id, pre_tax_amount, aft_tax_amount, withdraw_status, withdraw_status_cn,
    approver, approve_time, approve_status, approve_comment,should_pay_tax,payer,pay_time,manual_deduction,number_of_month
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from withdraw_apply_record
    where id = #{id,jdbcType=BIGINT}
  </select>
  <select id="queryCashWithdrawInfoByMerchantId" resultType="java.math.BigDecimal" >
	  select 
	   	SUM(pre_tax_amount)
	  from withdraw_apply_record
	  where apply_merchant_id = #{merchantId,jdbcType=BIGINT}
	    and withdraw_status !=  #{withdrawStatus,jdbcType=TINYINT}
  </select>
  <select id="selectByPrimaryKeyForUpdate" resultMap="BaseResultMap" parameterType="java.lang.Long" >
	  select 
	    <include refid="Base_Column_List" />
	  from withdraw_apply_record
	  where id = #{id,jdbcType=BIGINT}
	    for update
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from withdraw_apply_record
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" 
  	parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawApplyRecordModel" >
    insert into withdraw_apply_record (id, apply_time, apply_merchant_id, 
      pre_tax_amount, aft_tax_amount, withdraw_status, 
      withdraw_status_cn, 
      approver, approve_time, approve_status,
      approve_comment)
    values (#{id,jdbcType=BIGINT}, #{applyTime,jdbcType=TIMESTAMP}, #{applyMerchantId,jdbcType=BIGINT}, 
      #{preTaxAmount,jdbcType=DECIMAL}, #{aftTaxAmount,jdbcType=DECIMAL}, #{withdrawStatus,jdbcType=TINYINT},
      #{withdrawStatusCn,jdbcType=VARCHAR}, 
      #{approver,jdbcType=VARCHAR}, #{approveTime,jdbcType=TIMESTAMP}, #{approveStatus,jdbcType=TINYINT},  
      #{approveComment,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective"
  	 parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawApplyRecordModel" >
    insert into withdraw_apply_record
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="applyTime != null" >
        apply_time,
      </if>
      <if test="applyMerchantId != null" >
        apply_merchant_id,
      </if>
      <if test="preTaxAmount != null" >
        pre_tax_amount,
      </if>
      <if test="aftTaxAmount != null" >
        aft_tax_amount,
      </if>
      <if test="withdrawStatus != null" >
        withdraw_status,
      </if>
      <if test="approver != null" >
        approver,
      </if>
      <if test="approveTime != null" >
        approve_time,
      </if>
      <if test="approveStatus != null" >
        approve_status,
      </if>
      <if test="approveComment != null" >
        approve_comment,
      </if>
      <if test="withdrawStatusCn != null" >
        withdraw_status_cn,
      </if>
      <if test="approveStatusCn != null" >
        approve_status_cn,
      </if>
      <if test="shouldPayTax != null" >
        should_pay_tax,
      </if>
      <if test="numberOfMonth != null" >
        number_of_month,
      </if>
      <if test="payWay != null" >
        pay_way,
      </if>
      <if test="isRealTime != null">
      	is_real_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="applyTime != null" >
        #{applyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="applyMerchantId != null" >
        #{applyMerchantId,jdbcType=BIGINT},
      </if>
      <if test="preTaxAmount != null" >
        #{preTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="aftTaxAmount != null" >
        #{aftTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="withdrawStatus != null" >
        #{withdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="approver != null" >
        #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveStatus != null" >
        #{approveStatus,jdbcType=TINYINT},
      </if>
      <if test="approveComment != null" >
        #{approveComment,jdbcType=VARCHAR},
      </if>
      <if test="withdrawStatusCn != null" >
        #{withdrawStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="approveStatusCn != null" >
        #{approveStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="shouldPayTax != null" >
        #{shouldPayTax,jdbcType=DECIMAL},
      </if>
      <if test="numberOfMonth != null" >
        #{numberOfMonth,jdbcType=DECIMAL},
      </if>
      <if test="payWay != null" >
      	#{payWay,jdbcType=TINYINT},
      </if>
      <if test="isRealTime != null">
      	#{isRealTime,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" 
  		parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawApplyRecordModel" >
    update withdraw_apply_record
    <set >
      <if test="preTaxAmount != null" >
        pre_tax_amount = #{preTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="aftTaxAmount != null" >
        aft_tax_amount = #{aftTaxAmount,jdbcType=DECIMAL},
      </if>
      <if test="shouldPayTax != null" >
        should_pay_tax = #{shouldPayTax,jdbcType=DECIMAL},
      </if>
      <if test="invoiceNo != null" >
        invoice_no = #{invoiceNo,jdbcType=VARCHAR},
      </if>
      <if test="withdrawStatus != null" >
        withdraw_status = #{withdrawStatus,jdbcType=TINYINT},
      </if>
      <if test="withdrawStatusCn != null" >
        withdraw_status_cn = #{withdrawStatusCn,jdbcType=VARCHAR},
      </if>
      <if test="approver != null" >
        approver = #{approver,jdbcType=VARCHAR},
      </if>
      <if test="approveTime != null" >
        approve_time = #{approveTime,jdbcType=TIMESTAMP},
      </if>
      <if test="approveStatus != null" >
        approve_status = #{approveStatus,jdbcType=TINYINT},
      </if>
      <if test="approveComment != null" >
        approve_comment = #{approveComment,jdbcType=VARCHAR},
      </if>
      <if test="manualDeduction != null" >
        manual_deduction = #{manualDeduction,jdbcType=DECIMAL},
      </if>
      <if test="numberOfMonth != null" >
        number_of_month = #{numberOfMonth,jdbcType=INTEGER},
      </if>
      <if test="payer != null" >
        payer = #{payer,jdbcType=VARCHAR},
      </if>
      <if test="payTime != null" >
        pay_time = #{payTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" 
  	parameterType="com.stylefeng.guns.sharecore.modular.system.model.WithdrawApplyRecordModel" >
    update withdraw_apply_record
    set
      pre_tax_amount = #{preTaxAmount,jdbcType=DECIMAL},
      aft_tax_amount = #{aftTaxAmount,jdbcType=DECIMAL},
      withdraw_status = #{withdrawStatus,jdbcType=TINYINT},
      withdraw_status_cn = #{withdrawStatusCn,jdbcType=VARCHAR},
      approver = #{approver,jdbcType=VARCHAR},
      approve_time = #{approveTime,jdbcType=TIMESTAMP},
      approve_status = #{approveStatus,jdbcType=TINYINT},
      approve_status_cn = #{approveStatusCn,jdbcType=VARCHAR},
      approve_comment = #{approveComment,jdbcType=VARCHAR},
      payer = #{payer,jdbcType=VARCHAR},
      pay_time = #{payTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
  <select id="queryWithdrawRecord" resultMap="BaseResultMap">
  	select 
    <include refid="Base_Column_List" />
    from withdraw_apply_record
    where apply_merchant_id = #{merchantId,jdbcType=BIGINT}
    	<![CDATA[ 
    		and str_to_date(#{beginTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s') <= apply_time
    		and str_to_date(#{nowTime,jdbcType=VARCHAR},'%Y-%m-%d %H:%i:%s') >= apply_time
    		and IF(
                  #{type,jdbcType=INTEGER} = 2,
                  should_pay_tax >=0,
                  should_pay_tax !=0
                )
          ]]>
  </select>
  <select id="queryMerchantWithdrawRecord" resultMap="BaseResultMap">
  	select 
    	<include refid="Base_Column_List" />
    from withdraw_apply_record
    where apply_merchant_id = #{merchantId,jdbcType=BIGINT}
  </select>
</mapper>